openapi: 3.1.0
info:
  title: Leaflow Tunnel API
  version: 1.0.0
  description: |-
    The user-facing API of Leaflow Tunnel: generating a tunnel for a project, reading its subscription address, and reading its traffic usage.

    ## Layer 4 only

    The platform offers tunnels at layers 2, 3 and 4. **Every endpoint in this document belongs to layer 4** and is served under `/tunnel/l4`. Layers 2 and 3 are not yet open and will carry their own prefixes.

    ## Layer 4 is entitled per project, and no project holds it by default

    **Every endpoint in this document requires the current project to have been entitled.** Without the entitlement each one answers 403 `TUNNEL_NOT_ENTITLED`. Entitlement is granted by the platform per project and cannot be obtained by the user.

    `TUNNEL_NOT_ENTITLED` and `TUNNEL_NOT_FOUND` state different things and cannot be handled as one. The first means the project has not been entitled; the second means it has, and no tunnel has been generated yet.

    ## Authentication

    Every request carries a scoped token; see the `bearerAuth` security scheme.

    ## Conventions

    - **One layer 4 tunnel per project.** The path is therefore the singular `/tunnel/l4` and carries no id.

    - **Generation is idempotent.** Calling it again returns the existing tunnel rather than an error.

    - **The subscription address is a credential.** It is equivalent to a password, is returned only by `GET /tunnel/l4/subscription`, and appears neither in the tunnel itself nor in any list. Do not call that endpoint before the user asks for the address. Rotate it whenever it may have been exposed; every subscription already distributed stops working at once.

    - **`preparing` does not mean unusable.** The subscription link works while nodes are still being distributed, and its contents are derived at the moment it is fetched.

    - **Only `billed_bytes` decides whether the quota is exceeded.** A route may carry a multiplier such as 1.5× or 0×, so `raw_bytes`, the volume actually transferred, need not equal it. A `quota_bytes` of 0 means unlimited.

    - **Usage lags by up to one collection interval.** It suits usage control rather than settlement.

    - **Daily usage does not sum to the usage of the current period.** One is cut by calendar day and the other by billing period.
servers:
  - url: https://tunnel.leaflow.cloud
    description: Tunnels, subscriptions and usage
security:
  - bearerAuth: []
paths:
  /api/v1/tunnel/l4:
    get:
      summary: Get the layer 4 tunnel of the current project
      description: |-
        `TUNNEL_NOT_FOUND` means no tunnel has been generated yet.

        403 `TUNNEL_NOT_ENTITLED` states something else: the project has not been entitled to layer 4 at all.

        The subscription address, the usage and the quota each have their own endpoint and are not repeated here.
      operationId: get-l4-tunnel
      tags:
        - Tunnel
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TunnelResource"
        default: &id001
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Generate the layer 4 tunnel
      description: |-
        **Idempotent**: calling it again returns the existing tunnel rather than an error.

        Read the address from the subscription endpoint afterwards; it is not returned here.
      operationId: generate-l4-tunnel
      tags:
        - Tunnel
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TunnelResource"
        default: *id001
  /api/v1/tunnel/l4/subscription:
    get:
      summary: Get the subscription address
      description: |-
        **This URL is a credential, equivalent to a password.** It yields every node of the project along with their passwords. It is returned here alone, and appears neither in the tunnel itself nor in any list.

        Do not call this endpoint before the user asks for the address.

        A `status` of `preparing` leaves the link usable; its contents are derived at the moment it is fetched.
      operationId: get-l4-tunnel-subscription
      tags:
        - Tunnel
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionResource"
        default: *id001
  /api/v1/tunnel/l4/subscription/rotate:
    post:
      summary: Rotate the subscription address and the node passwords
      description: |-
        **This is the remedy for an exposed credential, and every subscription already distributed stops working at once.**

        The subscription token and the node passwords are replaced together, so every client has to fetch the subscription again before it can carry on. Confirm that this is the intended outcome before calling.

        A tunnel disabled by the platform cannot be rotated (`TUNNEL_DISABLED_FOR_ROTATE`); resolve the cause first.

        Read the new address from the subscription endpoint afterwards; **it is not returned here**.
      operationId: rotate-l4-tunnel-subscription
      tags:
        - Tunnel
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TunnelResource"
        default: *id001
  /api/v1/tunnel/l4/usage:
    get:
      summary: Get the usage of the current period
      description: |-
        Read live.

        Only `billed_bytes` decides whether the quota is exceeded: a route may carry a multiplier such as 1.5× or 0×, so `raw_bytes`, the volume actually transferred, need not equal it. A `quota_bytes` of 0 means unlimited.
      operationId: get-l4-tunnel-usage
      tags:
        - Tunnel
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResource"
        default: *id001
  /api/v1/tunnel/l4/usage/series:
    get:
      summary: Get daily usage
      description: |-
        Cut by calendar day. A day carrying no traffic is absent rather than zero, so a chart has to fill the date axis itself.

        These days do not sum to the usage of the current period, which is cut by billing period. Resetting the usage of the current period leaves every daily total in place.
      operationId: list-l4-tunnel-usage-series
      tags:
        - Tunnel
      parameters:
        - name: days
          in: query
          description: How many days to cover. 0 requests the default of 30; the range accepted is 1–365, and a larger value is clamped to it
          schema:
            type: integer
            format: int64
            default: 30
            minimum: 0
            maximum: 3650
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageSeriesResource"
        default: *id001
components:
  securitySchemes:
    bearerAuth:
      $ref: ../../type/v1/security.yaml#/components/securitySchemes/ScopedToken
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    SubscriptionResource:
      type: object
      properties:
        status:
          description: ready means every node has been distributed; preparing means distribution is still under way, and the link works either way
          type: string
          enum:
            - preparing
            - ready
        updated_at:
          type: string
          format: date-time
        url:
          description: The subscription address. It is a long-lived credential equivalent to a password; do not forward it or share a screenshot of it
          type: string
        version:
          type: integer
          format: int64
      required:
        - url
        - version
        - status
        - updated_at
      additionalProperties: false
    TunnelResource:
      description: The layer 4 tunnel of the current project. It answers a single question — whether the tunnel has been generated
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        enabled:
          description: Whether the tunnel is currently usable. false means the platform has disabled it — for an unpaid balance, a violation, or a suspended project — and the cause has to be resolved first
          type: boolean
        id:
          type: string
          format: uuid
      required:
        - id
        - enabled
        - created_at
      additionalProperties: false
    UsageDayResource:
      type: object
      properties:
        billed_bytes:
          type: integer
          format: int64
        day:
          description: YYYY-MM-DD
          type: string
        raw_bytes:
          type: integer
          format: int64
      required:
        - day
        - raw_bytes
        - billed_bytes
      additionalProperties: false
    UsageResource:
      type: object
      properties:
        billed_bytes:
          description: Usage after the multiplier of each route has been applied. Quota is measured against this value
          type: integer
          format: int64
        over_quota:
          type: boolean
        period_end:
          description: Last day of the current billing period (YYYY-MM-DD)
          type: string
        period_start:
          description: First day of the current billing period (YYYY-MM-DD)
          type: string
        quota_bytes:
          description: The quota in force; 0 means unlimited
          type: integer
          format: int64
        quota_exceeded_at:
          description: When the quota was found to be exceeded; null while it has not been
          type:
            - string
            - "null"
          format: date-time
        raw_bytes:
          description: Bytes actually transferred. Quota is not measured against this value
          type: integer
          format: int64
        upload_bytes:
          type: integer
          format: int64
        usage_percent:
          description: Usage as a percentage of the quota
          type: number
          format: double
      required:
        - quota_bytes
        - billed_bytes
        - raw_bytes
        - upload_bytes
        - usage_percent
        - over_quota
        - period_start
        - period_end
        - quota_exceeded_at
      additionalProperties: false
    UsageSeriesResource:
      type: object
      properties:
        days:
          description: The number of days actually covered, which may have been clamped to the range 1–365
          type: integer
          format: int64
        points:
          type: array
          items:
            $ref: "#/components/schemas/UsageDayResource"
      required:
        - days
        - points
      additionalProperties: false
