openapi: 3.1.0
info:
  title: Leaflow Fleet API
  version: 1.0.0
  description: |-
    Leaflow Fleet user API. It answers where the platform offers service: the regions that are open, and the availability zones each one contains.

    ## Authentication

    Every request carries a scoped token; see the `bearerAuth` security scheme.

    Nothing returned by this API is specific to a project: every caller sees the same regions and the same availability zones.

    ## Conventions

    - **Only locations open to new orders are listed.** A region or availability zone that has stopped accepting new orders does not appear here, while resources already placed in it keep running and remain manageable through the API of the product that owns them.
    - **A region appearing here does not mean every product is sold there.** Each product decides independently where it is offered, and announces that through its own API — for example, the instance types a region has determines whether instances can be created in it. Use this API for the list of locations, and the product's own API for what is available in each.
    - **Codes are stable.** The `code` of a region or an availability zone is fixed when the location is first offered and is never reused for another location. It is the value other APIs expect wherever a location has to be named.
    - **Locations that must interoperate usually have to match.** Resources are generally required to share an availability zone in order to be attached to one another; consult the product's own documentation for the exact rule.
servers:
  - url: https://fleet.leaflow.cloud
    description: Regions and availability zones
security:
  - bearerAuth: []
paths:
  /api/v1/regions:
    get:
      summary: List available regions
      description: |-
        Lists every region currently open to new orders, in display order.

        The list is the same for every caller and changes rarely.
      operationId: list-regions
      tags:
        - Region
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/regions/{regionCode}/availability-zones:
    get:
      summary: List the availability zones of a region
      description: |-
        Lists every availability zone of this region that is currently open to new orders, in display order.

        Resources are generally required to share an availability zone in order to be attached to one another, so confirm the zone before creating either side.

        A region that exists but is not open to new orders is reported as not found, exactly as an unknown code is: both mean that nothing can be created there.
      operationId: list-availability-zones
      tags:
        - Region
      parameters:
        - name: regionCode
          in: path
          required: true
          schema:
            type: string
            maxLength: 32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvailabilityZoneListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    bearerAuth:
      $ref: ../../type/v1/security.yaml#/components/securitySchemes/ScopedToken
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    RegionResource:
      type: object
      properties:
        code:
          description: Stable identifier of the region, used wherever a region has to be named
          type: string
        country_code:
          description: ISO 3166-1 alpha-2 code of the country this region is in
          type: string
        name:
          type: string
      required:
        - code
        - name
        - country_code
      additionalProperties: false
    AvailabilityZoneResource:
      type: object
      properties:
        code:
          description: Stable identifier of the availability zone, used wherever an availability zone has to be named
          type: string
        name:
          type: string
      required:
        - code
        - name
      additionalProperties: false
    RegionListResponseBody:
      type: object
      properties:
        items:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/RegionResource"
      required:
        - items
      additionalProperties: false
    AvailabilityZoneListResponseBody:
      type: object
      properties:
        items:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/AvailabilityZoneResource"
      required:
        - items
      additionalProperties: false
