openapi: 3.1.0
info:
  title: Leaflow Fleet API
  version: 2.0.0
  description: Region and availability-zone catalog. IDs are stable; lookup keys are external aliases. Draining
    and retired locations remain readable for existing resources. Availability does not imply a product has a sellable
    price or physical capacity. Requires an IAM scoped token. No result contains project-specific resources.
security:
  - bearerAuth: []
paths:
  /api/v1/regions:
    get:
      operationId: list-regions
      summary: List regions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionList'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 50
        - name: status
          in: query
          schema:
            type: string
            enum:
              - pending
              - available
              - draining
              - retired
        - name: lookup_key
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 64
      description: Lists available, draining and retired regions; pending locations are visible only to operators.
        Filter status=available to offer new placement choices.
  /api/v1/regions/{regionId}:
    get:
      operationId: get-region
      summary: Get region
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
        - name: regionId
          in: path
          schema:
            type: string
            format: uuid
          required: true
  /api/v1/regions/{regionId}/availability-zones:
    get:
      operationId: list-availability-zones
      summary: List availability zones
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityZoneList'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
        - name: regionId
          in: path
          schema:
            type: string
            format: uuid
          required: true
        - name: page
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 50
        - name: status
          in: query
          schema:
            type: string
            enum:
              - pending
              - available
              - draining
              - retired
        - name: lookup_key
          in: query
          schema:
            type: string
            minLength: 1
            maxLength: 64
  /api/v1/regions/{regionId}/availability-zones/{availabilityZoneId}:
    get:
      operationId: get-availability-zone
      summary: Get availability zone
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityZone'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
        - name: regionId
          in: path
          schema:
            type: string
            format: uuid
          required: true
        - name: availabilityZoneId
          in: path
          schema:
            type: string
            format: uuid
          required: true
components:
  securitySchemes:
    bearerAuth:
      $ref: ../../type/v1/security.yaml#/components/securitySchemes/ScopedToken
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    Region:
      type: object
      properties:
        id:
          type: string
          format: uuid
        lookup_key:
          type: string
          minLength: 1
          maxLength: 64
        name:
          type: string
          minLength: 1
          maxLength: 128
        name_translations:
          type: object
          additionalProperties:
            type: string
        country_code:
          type: string
          pattern: ^[A-Z]{2}$
        status:
          type: string
          enum:
            - pending
            - available
            - draining
            - retired
        sort:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - lookup_key
        - name
        - country_code
        - status
        - sort
        - created_at
        - updated_at
      additionalProperties: false
    AvailabilityZone:
      type: object
      properties:
        id:
          type: string
          format: uuid
        region_id:
          type: string
          format: uuid
        lookup_key:
          type: string
          minLength: 1
          maxLength: 64
        name:
          type: string
          minLength: 1
          maxLength: 128
        name_translations:
          type: object
          additionalProperties:
            type: string
        status:
          type: string
          enum:
            - pending
            - available
            - draining
            - retired
        sort:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - region_id
        - lookup_key
        - name
        - status
        - sort
        - created_at
        - updated_at
      additionalProperties: false
    RegionList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        page:
          type: integer
          format: int64
          minimum: 1
        page_size:
          type: integer
          format: int64
          minimum: 1
        total_count:
          type: integer
          format: int64
          minimum: 0
      required:
        - items
        - page
        - page_size
      additionalProperties: false
    AvailabilityZoneList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityZone'
        page:
          type: integer
          format: int64
          minimum: 1
        page_size:
          type: integer
          format: int64
          minimum: 1
        total_count:
          type: integer
          format: int64
          minimum: 0
      required:
        - items
        - page
        - page_size
      additionalProperties: false
servers:
  - url: https://fleet.leaflow.cloud
