openapi: 3.1.0
info:
  description: 'The AI assistant inside the console: conversations, messages, tool calls and their
    approval, attachments, and connecting the assistant to instant messaging platforms such as WeChat,
    Feishu and Telegram.


    ## A conversation


    1. `POST /v1/threads` creates one;

    2. `POST /v1/threads/{thread}/messages` sends a message and returns a `turnId` at once; the
    assistant runs in the background;

    3. `GET /v1/threads/{thread}` returns the conversation document to render, whose `stream` is where
    live output arrives;

    4. When the assistant needs the user, the document''s `wait` says which kind: approving a batch of
    tool calls (`POST /v1/threads/{thread}/approvals/{batch}`), or answering a few questions (`POST
    /v1/threads/{thread}/questions/{item}`). It continues on its own once that is handled.


    Sending an image takes two steps: `POST /v1/attachments` for an id, then put that id in
    `attachmentIds` when sending the message.


    ## Live output


    ```

    GET /v1/turns/{turn}/stream?ticket=<ticket>&cursor=<cursor>

    ```


    This is a Server-Sent Events stream, which is why it is not in the operation list below.


    - `path` and `ticket` both come from the conversation document''s `stream`. `path` is relative,
    resolved against the address the document was fetched from;

    - `cursor` is where to start, from the document''s `cursor`. Omit it to start at the beginning of
    what is still available;

    - every event is one incremental edit to that same document, so the same rendering logic applies;

    - the connection has a lifetime and closes cleanly when it ends. With `EventSource` the browser
    reconnects with `Last-Event-ID` and resumes by itself, so nothing needs handling;

    - three terminal events: `done` this turn finished (carrying its final status), `paused` the
    assistant is waiting on the user (fetch the document again and read `wait`), `stalled` execution
    was interrupted and will not resume — do not reconnect.'
  title: Leaflow Assistant User API
  version: 1.0.0
servers:
  - url: https://assistant.leaflow.cloud
    description: Threads, messages and tool calls
security:
- bearerAuth: []
paths:
  /api/v1/attachments:
    post:
      summary: Upload an image
      description: The body is the file bytes themselves, not multipart, one file per request. The type is determined from the content, not from Content-Type. Put the returned id in attachmentIds when sending a message; attachments never referenced by any message are cleared periodically.
      operationId: upload-attachment
      tags:
      - Attachment
      requestBody:
        content:
          application/octet-stream:
            schema:
              contentMediaType: application/octet-stream
              format: binary
              type: string
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/attachments/{attachment}:
    get:
      summary: Fetch an image
      description: Returns the original bytes for an attachment id, usable directly as the address of an <img>. The response carries long-lived cache headers because the content never changes. Returns 404 when the attachment does not exist or does not belong to the current user.
      operationId: download-attachment
      tags:
      - Attachment
      parameters:
      - in: path
        name: attachment
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            image/*:
              schema:
                format: binary
                type: string
          description: OK
          headers:
            Cache-Control:
              description: 'Private and long-lived: these bytes are addressed by an id that is never reused, so they never change; and they belong to one person, so they must not enter any shared cache.'
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/bindings:
    get:
      summary: List bindings
      description: Filter by channelId to show, per channel, who is bound to it.
      operationId: list-bindings
      tags:
      - Onboarding
      parameters:
      - description: How many entries this page returns at most
        explode: false
        in: query
        name: limit
        schema:
          default: 50
          description: How many entries this page returns at most
          format: int64
          maximum: 200
          minimum: 1
          type: integer
      - description: How many to skip. To page deeper, use the cursor-paged operation instead
        explode: false
        in: query
        name: offset
        schema:
          description: How many to skip. To page deeper, use the cursor-paged operation instead
          format: int64
          maximum: 10000
          minimum: 0
          type: integer
      - explode: false
        in: query
        name: platform
        schema:
          type: string
      - explode: false
        in: query
        name: channelId
        schema:
          format: uuid
          type: string
      - description: Return only bindings that are active
        explode: false
        in: query
        name: active
        schema:
          description: Return only bindings that are active
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LengthAwarePageBindingResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/bindings/{binding}:
    delete:
      summary: Remove a binding
      operationId: delete-binding
      tags:
      - Onboarding
      parameters:
      - in: path
        name: binding
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Get a binding
      operationId: get-binding
      tags:
      - Onboarding
      parameters:
      - in: path
        name: binding
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindingResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/channels:
    get:
      summary: List channels
      operationId: list-channels
      tags:
      - Onboarding
      parameters:
      - description: How many entries this page returns at most
        explode: false
        in: query
        name: limit
        schema:
          default: 50
          description: How many entries this page returns at most
          format: int64
          maximum: 200
          minimum: 1
          type: integer
      - description: How many to skip. To page deeper, use the cursor-paged operation instead
        explode: false
        in: query
        name: offset
        schema:
          description: How many to skip. To page deeper, use the cursor-paged operation instead
          format: int64
          maximum: 10000
          minimum: 0
          type: integer
      - explode: false
        in: query
        name: platform
        schema:
          type: string
      - description: Return only channels that are enabled
        explode: false
        in: query
        name: active
        schema:
          description: Return only channels that are enabled
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LengthAwarePageChannelResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a channel
      description: 'Which side owns the webhook secret is decided by the platform; see secretSource on list-platforms. For a `generated` platform, do not send webhookSecret — the one we generate is returned exactly once in this response and cannot be retrieved again; miss it and the only way forward is rotating to a new one. For a `supplied` platform you must pass the secret from that platform''s own console, and webhookSecret in the response is null.'
      operationId: create-channel
      tags:
      - Onboarding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannelRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelWithSecretResponseBody'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/channels/{channel}:
    delete:
      summary: Delete a channel
      description: The channel stops accepting inbound messages and every binding on it stops working. This operation remains available while the project is suspended or being cleaned up.
      operationId: delete-channel
      tags:
      - Onboarding
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Get a channel
      operationId: get-channel
      tags:
      - Onboarding
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: Update a channel
      description: Only the fields present are changed. senderPolicy and allowFrom go together, and senderPolicy decides whether they are replaced. For platforms held open by a long-lived connection the change applies once that connection is rebuilt; for webhook platforms it applies at once.
      operationId: update-channel
      tags:
      - Onboarding
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannelRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/channels/{channel}/binding-codes:
    post:
      summary: Issue a binding code
      description: Produces a single-use code to hand to the person being bound. They send that code to the assistant from their own account on that platform, which completes the binding. A binding can only be established this way, by the person themselves — a platform account cannot be named directly. Codes expire and have to be reissued.
      operationId: create-binding-code
      tags:
      - Onboarding
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindingCodeResponseBody'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/channels/{channel}/rejections:
    get:
      summary: List recently rejected inbound messages
      description: For diagnosing "I sent a message and the assistant never answered". Returns the inbound messages this channel rejected most recently, newest first, each with its reason. The most common reason is that the sender is not bound yet.
      operationId: list-channel-rejections
      tags:
      - Onboarding
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          format: uuid
          type: string
      - explode: false
        in: query
        name: limit
        schema:
          default: 50
          format: int64
          maximum: 100
          minimum: 0
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RejectionListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/channels/{channel}/secret:
    post:
      summary: Rotate the webhook secret
      description: 'Replaces the webhook secret. The old one stops working immediately and the channel drops back to awaiting confirmation from the platform. Which side owns the secret is decided by the platform; see secretSource on list-platforms. For a `generated` platform, send no body — the new secret is returned in this response only and cannot be retrieved again. For a `supplied` platform you must pass the new secret from that platform''s own console.'
      operationId: rotate-channel-secret
      tags:
      - Onboarding
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RotateSecretRequestBody'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSecretResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/channels/{channel}/sender-check:
    get:
      summary: Test whether a sender would be let through
      description: 'For checking a sender policy after changing it. Sends nothing and changes nothing: it runs exactly the same decision a real inbound message goes through, and says which rule produced the answer. The binding-code rule cannot be tested this way — whether something is a binding code depends on what the sender actually wrote.'
      operationId: check-sender
      tags:
      - Onboarding
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          format: uuid
          type: string
      - description: That person's id on the platform, the same value that appears in bindings and rejections
        explode: false
        in: query
        name: peerId
        required: true
        schema:
          description: That person's id on the platform, the same value bindings and rejections carry
          type: string
      - description: Only platforms with usernames, such as Telegram, can supply this. Without the @. Leave it empty to mean there is no username
        explode: false
        in: query
        name: username
        schema:
          description: Only platforms with usernames, such as Telegram, can supply this. Without the @. Empty means there is no username
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderCheckResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/channels/{channel}/weixin-logins:
    post:
      summary: Begin a WeChat QR login
      description: 'A personal WeChat channel can only send and receive once its owner has signed in by scanning a QR code. This returns that code; poll `GET /v1/weixin-logins/{login}` for progress, and when the status asks for a verification code, submit it with `POST /v1/weixin-logins/{login}/verify-code`.'
      operationId: begin-weixin-login
      tags:
      - Onboarding
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/platforms:
    get:
      summary: List platforms that can be connected
      description: 'The instant messaging platforms that can currently be connected, along with the flow and the credential fields each one needs. The create-channel form is driven entirely by this response: setupMethod decides between a credential form and a QR flow, credentialFields is what to ask for, and secretSource decides whether there is a webhook secret field at all.'
      operationId: list-platforms
      tags:
      - Onboarding
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/weixin-logins/{login}:
    get:
      summary: Get the state of a QR login
      description: Poll this until the status is success or failure. When the status asks for a verification code, submit it with the verification-code operation.
      operationId: get-weixin-login
      tags:
      - Onboarding
      parameters:
      - in: path
        name: login
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/weixin-logins/{login}/verify-code:
    post:
      summary: Submit a login verification code
      description: For when WeChat asks for an SMS or device code after the scan. The person who started the login gets that code on their own phone.
      operationId: submit-weixin-verify-code
      tags:
      - Onboarding
      parameters:
      - in: path
        name: login
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyCodeRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/memories:
    get:
      summary: List what the assistant remembers
      description: 'Facts the assistant has written down for the current account in this project. They appear at the start of every later conversation. Members of the same project each have their own, and this returns only the current account''s. Not paginated: there is a cap on how many there can be, and all of them come back at once.'
      operationId: list-memories
      tags:
      - Thread
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/memories/{memory}:
    delete:
      summary: Delete one memory
      description: The assistant stops remembering this. It takes effect at once, so the next conversation will not carry it. The assistant may well learn the same thing again.
      operationId: delete-memory
      tags:
      - Thread
      parameters:
      - in: path
        name: memory
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/models:
    get:
      summary: List available models
      description: The models currently offered, with their context window, reasoning levels and supported input types. Use it to populate the model picker in conversation settings.
      operationId: list-models
      tags:
      - Thread
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/threads:
    get:
      summary: List conversations
      description: 'Ordered by most recent activity, limited to the current account''s conversations in the current project. `archived` selects between two sets rather than widening one: archived conversations are absent from the default list, and turning the flag on shows those instead.'
      operationId: list-threads
      tags:
      - Thread
      parameters:
      - description: Search titles, case-insensitively. Leave it empty for the most recent conversations
        explode: false
        in: query
        name: q
        schema:
          description: Search titles, case-insensitively. Empty returns the most recent conversations
          maxLength: 100
          type: string
      - description: When true, returns **only** archived conversations; otherwise only unarchived ones
        explode: false
        in: query
        name: archived
        schema:
          description: When true, returns **only** archived conversations; otherwise only unarchived ones
          type: boolean
      - explode: false
        in: query
        name: limit
        schema:
          format: int64
          maximum: 200
          minimum: 0
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a conversation
      operationId: create-thread
      tags:
      - Thread
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThreadRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadSummaryResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/threads/{thread}:
    get:
      summary: Fetch the conversation document
      description: The complete current state of a conversation, for the first render. Its `stream` gives the address and admission ticket for live output, and what that stream pushes are incremental edits to this same document, so the same rendering logic applies.
      operationId: get-thread
      tags:
      - Thread
      parameters:
      - in: path
        name: thread
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: Update conversation settings
      description: 'Changes the model, reasoning level, approval mode and archived state. A change takes effect from the next turn; a turn already running keeps the settings it started with. reasoningEffort only applies when model is given as well.'
      operationId: update-thread
      tags:
      - Thread
      parameters:
      - in: path
        name: thread
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateThreadRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadSummaryResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/threads/{thread}/approvals/{batch}:
    post:
      summary: Approve or decline a batch of tool calls
      description: 'The batch id comes from the conversation document''s `wait`. This is idempotent: submitting the same batch again neither changes a decision already in effect nor reports an error. Returns 404 when the batch does not belong to that conversation.'
      operationId: decide-approval
      tags:
      - Thread
      parameters:
      - in: path
        name: thread
        required: true
        schema:
          type: string
      - in: path
        name: batch
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecideRequestBody'
        required: true
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/threads/{thread}/earlier:
    get:
      summary: Fetch earlier parts of a conversation
      description: 'The first render only carries the latest stretch of a conversation; anything above it is fetched here, one stretch at a time. Pass the document''s earlier.before as `before`; the `earlier` in the response is the cursor for the stretch above that, and null means the top has been reached. The entries have the same shape and the same order (oldest first) as `items` in the document, so they can be prepended as they are.'
      operationId: list-earlier-items
      tags:
      - Thread
      parameters:
      - in: path
        name: thread
        required: true
        schema:
          type: string
      - description: From the document's earlier.before; returns entries before this ordinal
        explode: false
        in: query
        name: before
        required: true
        schema:
          description: From the document's earlier.before; returns entries before this ordinal
          format: int64
          minimum: 0
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarlierResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/threads/{thread}/interrupt:
    post:
      summary: Interrupt a running turn
      description: Calling this on a conversation with no running turn also returns 204 rather than an error — the user pressing stop races with the turn finishing on its own, and both outcomes are the same. This operation remains available while the project is suspended or being cleaned up.
      operationId: interrupt-thread
      tags:
      - Thread
      parameters:
      - in: path
        name: thread
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/threads/{thread}/messages:
    post:
      summary: Send a message and start a turn
      description: 'Returns a turnId immediately without waiting for execution — a turn can run for tens of minutes. Progress arrives on the live stream the conversation document''s `stream` points at, not in this response. Sending while the assistant is still working is allowed: the message is put in line and `queued` comes back true, to be read at the next step of the turn already running — so the editor should stay open rather than blocking on a busy conversation.'
      operationId: send-message
      tags:
      - Thread
      parameters:
      - in: path
        name: thread
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequestBody'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TurnIDResponseBody'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/threads/{thread}/questions/{item}:
    post:
      summary: Answer the assistant's questions
      description: The question id comes from the conversation document's `wait`. An already-answered question also returns 204 — another tab may have submitted first, or the auto-answer window may have expired, and in both cases the turn has already continued with an answer.
      operationId: answer-question
      tags:
      - Thread
      parameters:
      - in: path
        name: thread
        required: true
        schema:
          type: string
      - in: path
        name: item
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerRequestBody'
        required: true
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/threads/{thread}/read:
    post:
      summary: Mark a conversation as read
      operationId: mark-thread-read
      tags:
      - Thread
      parameters:
      - in: path
        name: thread
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/threads/{thread}/revert:
    post:
      summary: Revert from a given point
      description: Reverts the entry at `ordinal` and everything after it. Reverted entries stay in the transcript marked `reverted`, and ordinals are not renumbered. Returns how many were actually reverted.
      operationId: revert-thread
      tags:
      - Thread
      parameters:
      - in: path
        name: thread
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevertRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevertedCountResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: A project token. Sign in at auth.leaflow.net for an account token, then exchange it with IAM for a project token (POST /account/v1/projects/{projectId}/token) — one project token states both the current user and the current project.
      scheme: bearer
      type: http
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    UploadedResource:
      additionalProperties: false
      properties:
        height:
          format: int64
          type: integer
        id:
          type: string
        width:
          format: int64
          type: integer
      required:
      - id
      - width
      - height
      type: object
    BindingResource:
      additionalProperties: false
      properties:
        channelId:
          format: uuid
          type: string
        connState:
          enum:
          - logged_out
          - qr_pending
          - online
          - expired
          type: string
        createdAt:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        peerName:
          type: string
        platform:
          type: string
        status:
          enum:
          - pending
          - active
          - revoked
          type: string
        verifiedAt:
          format: date-time
          type:
          - string
          - 'null'
      required:
      - id
      - channelId
      - platform
      - peerName
      - status
      - connState
      - verifiedAt
      - createdAt
      type: object
    LengthAwarePageBindingResource:
      additionalProperties: false
      properties:
        items:
          description: The entries on this page
          items:
            $ref: '#/components/schemas/BindingResource'
          type: array
        limit:
          description: The page size, echoing what was requested
          format: int64
          type: integer
        offset:
          description: How many were skipped, echoing what was requested
          format: int64
          type: integer
        total:
          description: How many match in total, not just on this page
          format: int64
          type: integer
      required:
      - items
      - total
      - limit
      - offset
      type: object
    ChannelResource:
      additionalProperties: false
      properties:
        allowFrom:
          items:
            type: string
          type:
          - array
          - 'null'
        connState:
          description: How far this channel is from working. Only `online` receives messages and can issue binding codes
          enum:
          - logged_out
          - qr_pending
          - online
          - expired
          type: string
        createdAt:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        name:
          type: string
        platform:
          type: string
        runtimeState:
          description: The state of the long-lived connection right now. Always `stopped` for webhook platforms
          enum:
          - stopped
          - running
          type: string
        senderPolicy:
          enum:
          - bound_only
          - open
          type: string
        status:
          enum:
          - active
          - suspended
          - disabled
          type: string
        updatedAt:
          format: date-time
          type: string
        webhookPath:
          description: The webhook path, for gateway configuration and for diagnosis
          type: string
        webhookUrl:
          description: The webhook address to paste into that platform's console. Null when the deployment declares no public entry point
          type:
          - string
          - 'null'
      required:
      - id
      - platform
      - name
      - status
      - connState
      - runtimeState
      - senderPolicy
      - allowFrom
      - webhookUrl
      - webhookPath
      - createdAt
      - updatedAt
      type: object
    LengthAwarePageChannelResource:
      additionalProperties: false
      properties:
        items:
          description: The entries on this page
          items:
            $ref: '#/components/schemas/ChannelResource'
          type: array
        limit:
          description: The page size, echoing what was requested
          format: int64
          type: integer
        offset:
          description: How many were skipped, echoing what was requested
          format: int64
          type: integer
        total:
          description: How many match in total, not just on this page
          format: int64
          type: integer
      required:
      - items
      - total
      - limit
      - offset
      type: object
    CreateChannelRequestBody:
      additionalProperties: false
      properties:
        allowFrom:
          items:
            type: string
          type:
          - array
          - 'null'
        credentials:
          additionalProperties:
            type: string
          description: 'Credentials for that platform. Write-only: they cannot be read back after creation'
          type: object
        name:
          minLength: 1
          maxLength: 128
          type: string
        platform:
          minLength: 1
          type: string
        senderPolicy:
          enum:
          - bound_only
          - open
          type: string
        webhookSecret:
          description: 'Required for platforms that generate the secret themselves (secretSource=supplied). Must be absent for `generated` ones, where the secret we make is returned once in webhookSecret on this response'
          type: string
      required:
      - platform
      - name
      type: object
    ChannelWithSecretResponseBody:
      additionalProperties: false
      properties:
        allowFrom:
          items:
            type: string
          type:
          - array
          - 'null'
        connState:
          description: How far this channel is from working. Only `online` receives messages and can issue binding codes
          enum:
          - logged_out
          - qr_pending
          - online
          - expired
          type: string
        createdAt:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        name:
          type: string
        platform:
          type: string
        runtimeState:
          description: The state of the long-lived connection right now. Always `stopped` for webhook platforms
          enum:
          - stopped
          - running
          type: string
        senderPolicy:
          enum:
          - bound_only
          - open
          type: string
        status:
          enum:
          - active
          - suspended
          - disabled
          type: string
        updatedAt:
          format: date-time
          type: string
        webhookPath:
          description: The webhook path, for gateway configuration and for diagnosis
          type: string
        webhookSecret:
          description: 'The webhook secret we generated, to paste into that platform''s console. **It cannot be retrieved again** — the only way forward is rotating to a new one. Null when the platform generates the secret (secretSource=supplied) or does not use webhooks at all'
          type:
          - string
          - 'null'
        webhookUrl:
          description: The webhook address to paste into that platform's console. Null when the deployment declares no public entry point
          type:
          - string
          - 'null'
      required:
      - webhookSecret
      - id
      - platform
      - name
      - status
      - connState
      - runtimeState
      - senderPolicy
      - allowFrom
      - webhookUrl
      - webhookPath
      - createdAt
      - updatedAt
      type: object
    UpdateChannelRequestBody:
      additionalProperties: false
      properties:
        allowFrom:
          description: The allow list. Only applied when senderPolicy is sent as well
          items:
            type: string
          type:
          - array
          - 'null'
        credentials:
          additionalProperties:
            type: string
          description: Replaced wholesale rather than merged key by key. Absent means unchanged
          type: object
        enabled:
          type: boolean
        name:
          maxLength: 128
          type: string
        senderPolicy:
          description: Only when this is sent is allowFrom replaced along with it
          enum:
          - bound_only
          - open
          type: string
      type: object
    BindingCodeResponseBody:
      additionalProperties: false
      properties:
        code:
          type: string
        expiresAt:
          format: date-time
          type: string
      required:
      - code
      - expiresAt
      type: object
    RejectionResource:
      additionalProperties: false
      properties:
        at:
          format: date-time
          type: string
        peerId:
          type: string
        peerName:
          type: string
        peerUsername:
          type: string
        platform:
          type: string
        textLength:
          format: int64
          type: integer
        verdict:
          type: string
      required:
      - peerId
      - peerName
      - peerUsername
      - platform
      - verdict
      - textLength
      - at
      type: object
    RejectionListResponseBody:
      additionalProperties: false
      properties:
        rejections:
          items:
            $ref: '#/components/schemas/RejectionResource'
          type:
          - array
          - 'null'
      required:
      - rejections
      type: object
    RotateSecretRequestBody:
      additionalProperties: false
      properties:
        webhookSecret:
          description: Required for platforms that generate the secret themselves (secretSource=supplied). Must be absent for `generated` ones
          type: string
      type: object
    WebhookSecretResponseBody:
      additionalProperties: false
      properties:
        webhookSecret:
          type: string
      required:
      - webhookSecret
      type: object
    SenderCheckResource:
      additionalProperties: false
      properties:
        allowFrom:
          items:
            type: string
          type:
          - array
          - 'null'
        allowed:
          type: boolean
        bindingId:
          type:
          - string
          - 'null'
        senderPolicy:
          type: string
        verdict:
          enum:
          - ALLOWED_BY_BINDING
          - ALLOWED_BY_ALLOW_FROM
          - ALLOWED_BY_POLICY
          - REJECTED_NOT_ALLOWED
          type: string
      required:
      - allowed
      - verdict
      - senderPolicy
      - allowFrom
      - bindingId
      type: object
    LoginResource:
      additionalProperties: false
      properties:
        expiresAt:
          description: When this login flow expires. Past that, stop polling and start a new one
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        qrcodeData:
          description: The text to encode and render as a QR code by the client — not an image address and not a data URI. When a code expires this flow issues another and keeps waiting, so each poll may return a new string
          type: string
        reason:
          description: Why it failed. Present only when status is error or expired
          type: string
        status:
          enum:
          - wait
          - scanned
          - confirmed
          - expired
          - error
          - need_verify_code
          type: string
      required:
      - id
      - status
      - qrcodeData
      - reason
      - expiresAt
      type: object
    CredentialFieldResource:
      additionalProperties: false
      properties:
        help:
          type: string
        key:
          type: string
        label:
          type: string
        required:
          type: boolean
        secret:
          type: boolean
      required:
      - key
      - label
      - required
      - secret
      - help
      type: object
    PlatformResource:
      additionalProperties: false
      properties:
        credentialFields:
          items:
            $ref: '#/components/schemas/CredentialFieldResource'
          type:
          - array
          - 'null'
        name:
          type: string
        resident:
          type: boolean
        secretSource:
          enum:
          - generated
          - supplied
          - none
          type: string
        setupChallenge:
          enum:
          - none
          - webhook
          - scan
          type: string
        setupMethod:
          enum:
          - credentials
          - scan
          type: string
        webhookPath:
          description: The webhook path template; {channel} is replaced with the channel id
          type: string
        webhookUrlTemplate:
          description: The full webhook address template. Null when the deployment declares no public entry point
          type:
          - string
          - 'null'
      required:
      - name
      - resident
      - setupMethod
      - setupChallenge
      - secretSource
      - credentialFields
      - webhookPath
      - webhookUrlTemplate
      type: object
    PlatformListResponseBody:
      additionalProperties: false
      properties:
        platforms:
          items:
            $ref: '#/components/schemas/PlatformResource'
          type:
          - array
          - 'null'
      required:
      - platforms
      type: object
    VerifyCodeRequestBody:
      additionalProperties: false
      properties:
        code:
          minLength: 1
          type: string
      required:
      - code
      type: object
    ModelResource:
      additionalProperties: false
      properties:
        contextWindow:
          format: int64
          type: integer
        inputModalities:
          items:
            type: string
          type:
          - array
          - 'null'
        key:
          type: string
        reasoningTiers:
          items:
            type: string
          type:
          - array
          - 'null'
      required:
      - key
      - contextWindow
      - reasoningTiers
      - inputModalities
      type: object
    MemoryListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/MemoryResource'
          type: array
      required:
      - items
      type: object
    MemoryResource:
      additionalProperties: false
      properties:
        body:
          description: The fact itself
          type: string
        createdAt:
          format: date-time
          type: string
        id:
          type: string
        name:
          description: The name the assistant gave this fact; it overwrites or deletes its own entries by that name
          type: string
        sourceThreadId:
          description: Which conversation the assistant learned it in. That conversation may since have been deleted
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
      - id
      - name
      - body
      - createdAt
      - updatedAt
      type: object
    ModelListResponseBody:
      additionalProperties: false
      properties:
        models:
          items:
            $ref: '#/components/schemas/ModelResource'
          type:
          - array
          - 'null'
      required:
      - models
      type: object
    ThreadSummaryResource:
      additionalProperties: false
      properties:
        approvalMode:
          enum:
          - guardian
          - manual
          - yolo
          type: string
        archived:
          type: boolean
        createdAt:
          format: date-time
          type: string
        id:
          type: string
        model:
          type: string
        title:
          type:
          - string
          - 'null'
        unread:
          type: boolean
        updatedAt:
          format: date-time
          type: string
      required:
      - id
      - title
      - model
      - createdAt
      - updatedAt
      - archived
      - unread
      - approvalMode
      type: object
    ThreadListResponseBody:
      additionalProperties: false
      properties:
        threads:
          items:
            $ref: '#/components/schemas/ThreadSummaryResource'
          type:
          - array
          - 'null'
      required:
      - threads
      type: object
    CreateThreadRequestBody:
      additionalProperties: false
      properties:
        approvalMode:
          description: Absent uses the platform's default approval mode
          enum:
          - guardian
          - manual
          - yolo
          type: string
      type: object
    ContextResource:
      additionalProperties: false
      properties:
        compactAt:
          format: int64
          type:
          - integer
          - 'null'
        model:
          type: string
        used:
          format: int64
          type:
          - integer
          - 'null'
        warnAt:
          format: int64
          type: integer
        window:
          format: int64
          type:
          - integer
          - 'null'
      required:
      - model
      - used
      - window
      - compactAt
      - warnAt
      type: object
    EarlierResource:
      additionalProperties: false
      properties:
        before:
          format: int64
          type: integer
        foldedAbove:
          type: boolean
      required:
      - before
      - foldedAbove
      type: object
    AttachmentResource:
      additionalProperties: false
      properties:
        height:
          format: int64
          type: integer
        id:
          type: string
        width:
          format: int64
          type: integer
      required:
      - id
      - width
      - height
      type: object
    ItemResource:
      additionalProperties: false
      properties:
        approval:
          enum:
          - approved
          - declined
          - auto_approved
          - unreviewed
          type:
          - string
          - 'null'
        approvalReason:
          type:
          - string
          - 'null'
        arguments:
          type: string
        attachments:
          items:
            $ref: '#/components/schemas/AttachmentResource'
          type:
          - array
          - 'null'
        createdAt:
          format: date-time
          type: string
        detail:
          type:
          - string
          - 'null'
        durationMs:
          format: int64
          type:
          - integer
          - 'null'
        id:
          type: string
        model:
          description: The model that produced this entry. Null for messages the user sent
          type:
          - string
          - 'null'
        namespace:
          type:
          - string
          - 'null'
        ordinal:
          format: int64
          type: integer
        reverted:
          type: boolean
        status:
          enum:
          - pending
          - in_progress
          - completed
          - failed
          - declined
          - interrupted
          type: string
        target:
          type:
          - string
          - 'null'
        text:
          type: string
        tool:
          type:
          - string
          - 'null'
        type:
          description: Determines which fields this entry carries
          enum:
          - user_message
          - agent_message
          - reasoning
          - dynamic_tool_call
          - context_compaction
          - token_budget_reminder
          - turn_failure
          type: string
      required:
      - id
      - ordinal
      - type
      - status
      - createdAt
      - reverted
      - model
      type: object
    StreamResource:
      additionalProperties: false
      properties:
        path:
          type: string
        ticket:
          type: string
      required:
      - path
      - ticket
      type: object
    TurnResource:
      additionalProperties: false
      properties:
        approvalMode:
          enum:
          - guardian
          - manual
          - yolo
          type: string
      required:
      - approvalMode
      type: object
    Choice:
      additionalProperties: false
      properties:
        description:
          type: string
        label:
          type: string
      required:
      - label
      - description
      type: object
    Question:
      additionalProperties: false
      properties:
        choices:
          items:
            $ref: '#/components/schemas/Choice'
          type:
          - array
          - 'null'
        header:
          type: string
        id:
          type: string
        question:
          type: string
      required:
      - id
      - header
      - question
      - choices
      type: object
    WaitResource:
      additionalProperties: false
      properties:
        autoResolutionMs:
          format: int64
          type: integer
        batchId:
          type: string
        itemId:
          type: string
        itemIds:
          items:
            type: string
          type:
          - array
          - 'null'
        kind:
          enum:
          - tool_approval
          - user_input
          type: string
        questions:
          items:
            $ref: '#/components/schemas/Question'
          type:
          - array
          - 'null'
        turnId:
          type: string
      required:
      - kind
      - turnId
      type: object
    DocumentResource:
      additionalProperties: false
      properties:
        context:
          $ref: '#/components/schemas/ContextResource'
        cursor:
          type:
          - string
          - 'null'
        earlier:
          anyOf:
          - $ref: '#/components/schemas/EarlierResource'
          - type: 'null'
        items:
          items:
            $ref: '#/components/schemas/ItemResource'
          type:
          - array
          - 'null'
        status:
          type: string
        stream:
          anyOf:
          - $ref: '#/components/schemas/StreamResource'
          - type: 'null'
        turn:
          anyOf:
          - $ref: '#/components/schemas/TurnResource'
          - type: 'null'
        todos:
          description: 'The assistant''s checklist for the work in this conversation, in the order it intends to do it. Empty when it has not written one — short tasks do not get a list. It is rewritten in full each time, so what is here is the current state.'
          items:
            $ref: '#/components/schemas/TodoResource'
          type: array
        turnId:
          type:
          - string
          - 'null'
        wait:
          anyOf:
          - $ref: '#/components/schemas/WaitResource'
          - type: 'null'
      required:
      - turnId
      - stream
      - status
      - cursor
      - earlier
      - context
      - items
      - wait
      - turn
      type: object
    UpdateThreadRequestBody:
      additionalProperties: false
      properties:
        approvalMode:
          enum:
          - guardian
          - manual
          - yolo
          type: string
        archived:
          type: boolean
        model:
          type: string
        reasoningEffort:
          type: string
      type: object
    DecideRequestBody:
      additionalProperties: false
      properties:
        approved:
          type: boolean
        reason:
          type: string
      required:
      - approved
      type: object
    EarlierResponseBody:
      additionalProperties: false
      properties:
        earlier:
          $ref: '#/components/schemas/EarlierResource'
        items:
          items:
            $ref: '#/components/schemas/ItemResource'
          type:
          - array
          - 'null'
      required:
      - items
      - earlier
      type: object
    SendMessageRequestBody:
      additionalProperties: false
      properties:
        attachmentIds:
          description: Ids of attachments uploaded earlier that are not yet bound to any message
          items:
            type: string
          type:
          - array
          - 'null'
        text:
          minLength: 1
          type: string
      required:
      - text
      type: object
    TodoResource:
      additionalProperties: false
      properties:
        activeForm:
          description: 'The same step phrased as happening now — "Installing nginx". Show this one while the item is in progress.'
          type: string
        content:
          description: 'The step as an instruction — "Install nginx".'
          type: string
        status:
          description: 'Where this step stands. At most one item is in_progress at any time.'
          enum:
          - pending
          - in_progress
          - completed
          type: string
      required:
      - content
      - activeForm
      - status
      type: object
    TurnIDResponseBody:
      additionalProperties: false
      properties:
        queued:
          description: 'True when the assistant was already busy and this message was put in line instead of starting a turn. It is read at the next step of the turn already running, so there is nothing further to do — and turnId is empty in this case.'
          type: boolean
        queuedAhead:
          description: 'How many messages were already waiting ahead of this one. Only meaningful when queued is true.'
          format: int64
          type: integer
        turnId:
          description: 'The turn this message started. Empty when the message was queued instead.'
          type: string
      required:
      - turnId
      - queued
      type: object
    AnswerRequestBody:
      additionalProperties: false
      properties:
        answers:
          additionalProperties:
            type: string
          description: A map from question id to the answer chosen
          type: object
      required:
      - answers
      type: object
    RevertRequestBody:
      additionalProperties: false
      properties:
        ordinal:
          description: The starting ordinal; that entry and everything after it is reverted
          format: int64
          type: integer
      required:
      - ordinal
      type: object
    RevertedCountResponseBody:
      additionalProperties: false
      properties:
        reverted:
          format: int64
          type: integer
      required:
      - reverted
      type: object
