openapi: 3.1.0
info:
  title: Leaflow Canopy API
  version: 1.0.0
  description: |-
    Management of API keys, together with the models available and the usage recorded against them.

    **These endpoints do not perform inference.** Requests are issued to the forwarding address, which accepts the OpenAI, Anthropic and Gemini request formats:

    ```
    POST /v1/chat/completions                    OpenAI
    POST /v1/messages                            Anthropic
    POST /v1beta/models/{model}:generateContent  Gemini
    ```

    ## Authentication

    Every request carries a scoped token; see the `bearerAuth` security scheme.

    These endpoints do not accept an API key, and the forwarding endpoints do not accept a scoped token.

    ## Conventions

    - **The plaintext of an API key is returned once.** The `secret` appears in the response that issues it and is returned by no other endpoint. A key that has been lost has to be revoked and reissued.
    - **Disabling and revoking are distinct.** A disabled key may be enabled again at any time, while a revocation is irreversible and is intended for a key that has been exposed. Neither removes the record, and the usage the key accrued remains readable.
    - **A usage query must carry a time range**, spanning no more than 31 days. `from` and `to` carry a timezone offset, which the server does not infer.
    - **The request and response bodies do not appear in the ledger.** They are not recorded. Quote the `upstream_request_id` from the response when reporting a problem.
    - **Usage may be estimated.** The upstream provider does not report usage on every request. Where it does not, `usage_source` is `estimated` and the figures are derived from the character classes of the payload, to within roughly fifteen per cent.
servers:
  - url: https://canopy.leaflow.cloud
    description: Model gateway keys and usage
security:
  - bearerAuth: []
paths:
  /api/v1/keys:
    get:
      summary: List API keys
      operationId: list-api-keys
      tags:
        - APIKey
      parameters:
        - name: limit
          in: query
          description: Maximum number of items in this page
          explode: false
          schema:
            description: Maximum number of items in this page
            type: integer
            format: int64
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          description: Number of items to skip. Use the cursor-paged endpoint to page deeper
          explode: false
          schema:
            description: Number of items to skip. Use the cursor-paged endpoint to page deeper
            type: integer
            format: int64
            minimum: 0
            maximum: 10000
        - name: status
          in: query
          description: Restricts the result to the specified status. Every status is returned while this is absent
          explode: false
          schema:
            description: Restricts the result to the specified status. Every status is returned while this is absent
            type: string
            enum:
              - active
              - disabled
              - revoked
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LengthAwarePageAPIKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Issue an API key
      description: |-
        The `secret` in the response is the complete key and **appears in this response only**. It is returned by no other endpoint, and a key that has been lost has to be revoked and reissued.

        Supply it wherever a value such as `OPENAI_API_KEY` is expected. The forwarding endpoints accept the OpenAI, Anthropic and Gemini request formats alike.
      operationId: create-api-key
      tags:
        - APIKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAPIKeyRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssuedAPIKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/keys/{keyId}:
    get:
      summary: Get an API key
      operationId: get-api-key
      tags:
        - APIKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update an API key
      description: |-
        Attributes only. Enabling, disabling and revoking each have their own endpoint.

        A field that is not supplied is left unchanged. To remove an expiry, send `clear_expiry` as true rather than a null `expires_at`.

        A revoked key accepts no modification.
      operationId: update-api-key
      tags:
        - APIKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAPIKeyRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/keys/{keyId}/disable:
    post:
      summary: Disable an API key
      description: A temporary measure; the key may be enabled again at any time. Use revocation to invalidate it permanently.
      operationId: disable-api-key
      tags:
        - APIKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/keys/{keyId}/enable:
    post:
      summary: Enable an API key
      description: Two cases cannot be enabled again. A revoked key answers `API_KEY_REVOKED`, and a key disabled because its project is suspended answers `API_KEY_PROJECT_SUSPENDED` with `suspended` set to true; the latter requires the project to be restored first.
      operationId: enable-api-key
      tags:
        - APIKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/keys/{keyId}/revoke:
    post:
      summary: Revoke an API key
      description: |-
        **Irreversible.** It is intended for a key that has been exposed, such as one committed to a repository.

        The record is retained, so the requests the key issued before it was revoked remain readable.

        Use disabling for a temporary measure.
      operationId: revoke-api-key
      tags:
        - APIKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/models:
    get:
      summary: List the available models
      description: |-
        A model that has been retired does not appear here, while it remains readable individually.

        `context_length` and `max_output_tokens` are advisory. The server does not truncate on their basis, and the request body is forwarded upstream unchanged.
      operationId: list-models
      tags:
        - Model
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/models/{modelId}:
    get:
      summary: Get a model
      description: A model that has been retired remains readable here, while forwarding to it is refused with `MODEL_RETIRED`. That is distinct from a model that does not exist.
      operationId: get-model
      tags:
        - Model
      parameters:
        - name: modelId
          in: path
          required: true
          schema:
            type: string
            maxLength: 128
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/requests:
    get:
      summary: List request records
      description: |-
        Cursor-paged, most recent first. An empty `next_cursor` indicates the last page.

        **The request and response bodies are not returned**; they are not recorded. Quote the `upstream_request_id` when reporting a problem.

        A `usage_source` of `estimated` indicates that the upstream provider reported no usage for that request, and that the figures are derived from the character classes of the payload.
      operationId: list-requests
      tags:
        - Usage
      parameters:
        - name: from
          in: query
          required: true
          description: Start of the range, inclusive. RFC 3339, carrying a timezone offset
          explode: false
          schema:
            description: Start of the range, inclusive. RFC 3339, carrying a timezone offset
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          description: End of the range, exclusive. RFC 3339, carrying a timezone offset
          explode: false
          schema:
            description: End of the range, exclusive. RFC 3339, carrying a timezone offset
            type: string
            format: date-time
        - name: model_id
          in: query
          description: Restricts the result to the specified model
          explode: false
          schema:
            description: Restricts the result to the specified model
            type: string
            maxLength: 128
        - name: api_key_id
          in: query
          description: Restricts the result to the specified API key
          explode: false
          schema:
            description: Restricts the result to the specified API key
            type: string
        - name: status
          in: query
          description: Restricts the result to the specified status
          explode: false
          schema:
            description: Restricts the result to the specified status
            type: string
            enum:
              - in_flight
              - succeeded
              - refused
              - upstream_failed
              - client_aborted
        - name: limit
          in: query
          description: Maximum number of items in this page
          explode: false
          schema:
            description: Maximum number of items in this page
            type: integer
            format: int64
            default: 50
            minimum: 1
            maximum: 200
        - name: cursor
          in: query
          description: The `next_cursor` returned by the previous page. Omitted on the first page
          explode: false
          schema:
            description: The `next_cursor` returned by the previous page. Omitted on the first page
            type: string
            maxLength: 512
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CursorPageRequestResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/requests/{requestId}:
    get:
      summary: Get a single request record
      operationId: get-request
      tags:
        - Usage
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/usage/by-api-key:
    get:
      summary: Get usage by API key
      description: Answers which key is consuming the budget. A key that has been revoked still appears, since the usage it accrued beforehand is part of that answer.
      operationId: list-usage-by-api-key
      tags:
        - Usage
      parameters:
        - name: from
          in: query
          required: true
          description: Start of the range, inclusive. RFC 3339, carrying a timezone offset
          explode: false
          schema:
            description: Start of the range, inclusive. RFC 3339, carrying a timezone offset
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          description: End of the range, exclusive. RFC 3339, carrying a timezone offset
          explode: false
          schema:
            description: End of the range, exclusive. RFC 3339, carrying a timezone offset
            type: string
            format: date-time
        - name: model_id
          in: query
          description: Restricts the result to the specified model
          explode: false
          schema:
            description: Restricts the result to the specified model
            type: string
            maxLength: 128
        - name: api_key_id
          in: query
          description: Restricts the result to the specified API key
          explode: false
          schema:
            description: Restricts the result to the specified API key
            type: string
        - name: status
          in: query
          description: Restricts the result to the specified status
          explode: false
          schema:
            description: Restricts the result to the specified status
            type: string
            enum:
              - in_flight
              - succeeded
              - refused
              - upstream_failed
              - client_aborted
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyUsageListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/usage/by-model:
    get:
      summary: Get usage by model
      operationId: list-usage-by-model
      tags:
        - Usage
      parameters:
        - name: from
          in: query
          required: true
          description: Start of the range, inclusive. RFC 3339, carrying a timezone offset
          explode: false
          schema:
            description: Start of the range, inclusive. RFC 3339, carrying a timezone offset
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          description: End of the range, exclusive. RFC 3339, carrying a timezone offset
          explode: false
          schema:
            description: End of the range, exclusive. RFC 3339, carrying a timezone offset
            type: string
            format: date-time
        - name: model_id
          in: query
          description: Restricts the result to the specified model
          explode: false
          schema:
            description: Restricts the result to the specified model
            type: string
            maxLength: 128
        - name: api_key_id
          in: query
          description: Restricts the result to the specified API key
          explode: false
          schema:
            description: Restricts the result to the specified API key
            type: string
        - name: status
          in: query
          description: Restricts the result to the specified status
          explode: false
          schema:
            description: Restricts the result to the specified status
            type: string
            enum:
              - in_flight
              - succeeded
              - refused
              - upstream_failed
              - client_aborted
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelUsageListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/usage/summary:
    get:
      summary: Get total usage
      description: |-
        `from` and `to` are required and may span no more than 31 days. Both carry a timezone offset, so `2026-08-01T00:00:00+08:00` starts at that instant in UTC+8.

        The five token classes are reported separately. A cache read costs an order of magnitude less than ordinary input, and a single total cannot be decomposed again.
      operationId: get-usage-summary
      tags:
        - Usage
      parameters:
        - name: from
          in: query
          required: true
          description: Start of the range, inclusive. RFC 3339, carrying a timezone offset
          explode: false
          schema:
            description: Start of the range, inclusive. RFC 3339, carrying a timezone offset
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          description: End of the range, exclusive. RFC 3339, carrying a timezone offset
          explode: false
          schema:
            description: End of the range, exclusive. RFC 3339, carrying a timezone offset
            type: string
            format: date-time
        - name: model_id
          in: query
          description: Restricts the result to the specified model
          explode: false
          schema:
            description: Restricts the result to the specified model
            type: string
            maxLength: 128
        - name: api_key_id
          in: query
          description: Restricts the result to the specified API key
          explode: false
          schema:
            description: Restricts the result to the specified API key
            type: string
        - name: status
          in: query
          description: Restricts the result to the specified status
          explode: false
          schema:
            description: Restricts the result to the specified status
            type: string
            enum:
              - in_flight
              - succeeded
              - refused
              - upstream_failed
              - client_aborted
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TotalsResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/usage/timeline:
    get:
      summary: Get a usage series
      description: |-
        Divided into buckets of `bucket`, starting at `from`. The final bucket may be partial, and the number of buckets is limited to 100.

        To divide by local day, send `from` as midnight in local time with its offset and `bucket` as `24h`. The server does not infer a timezone.
      operationId: get-usage-timeline
      tags:
        - Usage
      parameters:
        - name: from
          in: query
          required: true
          description: Start of the range, inclusive. RFC 3339, carrying a timezone offset
          explode: false
          schema:
            description: Start of the range, inclusive. RFC 3339, carrying a timezone offset
            type: string
            format: date-time
        - name: to
          in: query
          required: true
          description: End of the range, exclusive. RFC 3339, carrying a timezone offset
          explode: false
          schema:
            description: End of the range, exclusive. RFC 3339, carrying a timezone offset
            type: string
            format: date-time
        - name: model_id
          in: query
          description: Restricts the result to the specified model
          explode: false
          schema:
            description: Restricts the result to the specified model
            type: string
            maxLength: 128
        - name: api_key_id
          in: query
          description: Restricts the result to the specified API key
          explode: false
          schema:
            description: Restricts the result to the specified API key
            type: string
        - name: status
          in: query
          description: Restricts the result to the specified status
          explode: false
          schema:
            description: Restricts the result to the specified status
            type: string
            enum:
              - in_flight
              - succeeded
              - refused
              - upstream_failed
              - client_aborted
        - name: bucket
          in: query
          description: The length of each bucket, written as a duration such as 1h or 24h. The number of buckets is limited to 100
          explode: false
          schema:
            description: The length of each bucket, written as a duration such as 1h or 24h. The number of buckets is limited to 100
            type: string
            default: 1h
            maxLength: 16
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageTimelineResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    bearerAuth:
      $ref: ../../type/v1/security.yaml#/components/securitySchemes/ScopedToken
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    APIKeyResource:
      type: object
      properties:
        allowed_models:
          description: Carries no meaning while `restrict_models` is false
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        created_by:
          description: Who created the key
          type: string
          format: uuid
        expires_at:
          description: When the key expires. Null means it never expires
          type:
            - string
            - "null"
          format: date-time
        id:
          type: string
          format: uuid
        last_four:
          description: The last four characters of the plaintext
          type: string
        last_used_at:
          description: When the key was last used to forward a request successfully, accurate to about a minute
          type:
            - string
            - "null"
          format: date-time
        name:
          type: string
        prefix:
          description: The leading characters of the plaintext, by which a key is recognised in a list
          type: string
        restrict_models:
          description: While true, only the models listed in `allowed_models` are permitted
          type: boolean
        status:
          type: string
          enum:
            - active
            - disabled
            - revoked
        suspended:
          description: True indicates that the key was disabled because its project is suspended, and that the project has to be restored before the key can be used again
          type: boolean
      required:
        - id
        - name
        - prefix
        - last_four
        - status
        - suspended
        - restrict_models
        - allowed_models
        - expires_at
        - last_used_at
        - created_by
        - created_at
      additionalProperties: false
    LengthAwarePageAPIKeyResource:
      type: object
      properties:
        items:
          description: The items in this page
          type: array
          items:
            $ref: "#/components/schemas/APIKeyResource"
        limit:
          description: Maximum number of items in this page, echoing the request
          type: integer
          format: int64
        offset:
          description: Number of items skipped, echoing the request
          type: integer
          format: int64
        total:
          description: Total number of matches, not only this page
          type: integer
          format: int64
      required:
        - items
        - total
        - limit
        - offset
      additionalProperties: false
    CreateAPIKeyRequestBody:
      type: object
      properties:
        allowed_models:
          description: Ignored while `restrict_models` is false
          type:
            - array
            - "null"
          items:
            type: string
        expires_at:
          description: When the key expires. Omitted means it never expires
          type:
            - string
            - "null"
          format: date-time
        name:
          description: A name for the holder's own use, such as CI or Production
          type: string
          minLength: 1
          maxLength: 128
        restrict_models:
          description: While true, only the models listed in `allowed_models` are permitted
          type: boolean
      required:
        - name
      additionalProperties: false
    IssuedAPIKeyResource:
      type: object
      properties:
        allowed_models:
          description: Carries no meaning while `restrict_models` is false
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        created_by:
          description: Who created the key
          type: string
          format: uuid
        expires_at:
          description: When the key expires. Null means it never expires
          type:
            - string
            - "null"
          format: date-time
        id:
          type: string
          format: uuid
        last_four:
          description: The last four characters of the plaintext
          type: string
        last_used_at:
          description: When the key was last used to forward a request successfully, accurate to about a minute
          type:
            - string
            - "null"
          format: date-time
        name:
          type: string
        prefix:
          description: The leading characters of the plaintext, by which a key is recognised in a list
          type: string
        restrict_models:
          description: While true, only the models listed in `allowed_models` are permitted
          type: boolean
        secret:
          description: The complete key, **returned in this response only**. Store it immediately
          type: string
        status:
          type: string
          enum:
            - active
            - disabled
            - revoked
        suspended:
          description: True indicates that the key was disabled because its project is suspended, and that the project has to be restored before the key can be used again
          type: boolean
      required:
        - secret
        - id
        - name
        - prefix
        - last_four
        - status
        - suspended
        - restrict_models
        - allowed_models
        - expires_at
        - last_used_at
        - created_by
        - created_at
      additionalProperties: false
    UpdateAPIKeyRequestBody:
      type: object
      properties:
        allowed_models:
          type:
            - array
            - "null"
          items:
            type: string
        clear_expiry:
          description: True removes the expiry
          type: boolean
        expires_at:
          description: Sets the expiry. To remove it, use `clear_expiry`
          type:
            - string
            - "null"
          format: date-time
        name:
          type:
            - string
            - "null"
          maxLength: 128
        restrict_models:
          type:
            - boolean
            - "null"
      additionalProperties: false
    ModelResource:
      type: object
      properties:
        context_length:
          description: The context window. Advisory only; the server does not truncate on its basis
          type: integer
          format: int64
        display_name:
          type: string
        family:
          description: Groups the models of one family together, such as claude, gpt or gemini
          type: string
        id:
          description: The string to send in the `model` field of the request body
          type: string
        max_output_tokens:
          description: The maximum output length. Advisory only
          type: integer
          format: int64
        reasoning_tiers:
          description: The values accepted for `reasoning_effort`. Empty means it is not supported
          type: array
          items:
            type: string
        status:
          type: string
          enum:
            - available
            - draining
            - retired
        supports_reasoning:
          type: boolean
        supports_tools:
          type: boolean
        supports_vision:
          type: boolean
      required:
        - id
        - display_name
        - family
        - status
        - context_length
        - max_output_tokens
        - supports_vision
        - supports_tools
        - supports_reasoning
        - reasoning_tiers
      additionalProperties: false
    ModelListResponseBody:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ModelResource"
      required:
        - items
      additionalProperties: false
    RequestResource:
      type: object
      properties:
        api_key_id:
          type: string
          format: uuid
        cache_read_tokens:
          description: The portion served from the upstream prefix cache, which costs an order of magnitude less than ordinary input
          type: integer
          format: int64
        cache_write_tokens:
          type: integer
          format: int64
        error_code:
          description: The error code on failure. Empty on success
          type: string
        finished_at:
          type:
            - string
            - "null"
          format: date-time
        first_token_at:
          type:
            - string
            - "null"
          format: date-time
        id:
          type: string
          format: uuid
        input_tokens:
          type: integer
          format: int64
        model_id:
          description: The model named in the request
          type: string
        output_tokens:
          type: integer
          format: int64
        reasoning_tokens:
          type: integer
          format: int64
        retries:
          type: integer
          format: int64
        started_at:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - in_flight
            - succeeded
            - refused
            - upstream_failed
            - client_aborted
        stream:
          type: boolean
        upstream_request_id:
          description: The id of the request on the upstream side. Quote it when reporting a problem
          type: string
        upstream_status:
          description: The HTTP status returned upstream. 0 indicates that the request never reached it
          type: integer
          format: int64
        usage_source:
          description: upstream means the figures were reported by the provider; estimated means they were derived from the character classes of the payload
          type: string
          enum:
            - none
            - upstream
            - estimated
      required:
        - id
        - model_id
        - api_key_id
        - stream
        - status
        - error_code
        - upstream_status
        - upstream_request_id
        - input_tokens
        - output_tokens
        - cache_read_tokens
        - cache_write_tokens
        - reasoning_tokens
        - usage_source
        - started_at
        - first_token_at
        - finished_at
        - retries
      additionalProperties: false
    CursorPageRequestResource:
      type: object
      properties:
        items:
          description: The items in this page
          type: array
          items:
            $ref: "#/components/schemas/RequestResource"
        next_cursor:
          description: The cursor for the next page. Empty on the last page
          type: string
      required:
        - items
        - next_cursor
      additionalProperties: false
    APIKeyUsageResource:
      type: object
      properties:
        api_key_id:
          type: string
          format: uuid
        cache_read_tokens:
          type: integer
          format: int64
        cache_write_tokens:
          type: integer
          format: int64
        input_tokens:
          type: integer
          format: int64
        output_tokens:
          type: integer
          format: int64
        reasoning_tokens:
          type: integer
          format: int64
        requests:
          type: integer
          format: int64
      required:
        - api_key_id
        - requests
        - input_tokens
        - output_tokens
        - cache_read_tokens
        - cache_write_tokens
        - reasoning_tokens
      additionalProperties: false
    APIKeyUsageListResponseBody:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/APIKeyUsageResource"
      required:
        - items
      additionalProperties: false
    ModelUsageResource:
      type: object
      properties:
        cache_read_tokens:
          type: integer
          format: int64
        cache_write_tokens:
          type: integer
          format: int64
        input_tokens:
          type: integer
          format: int64
        model_id:
          type: string
        output_tokens:
          type: integer
          format: int64
        reasoning_tokens:
          type: integer
          format: int64
        requests:
          type: integer
          format: int64
      required:
        - model_id
        - requests
        - input_tokens
        - output_tokens
        - cache_read_tokens
        - cache_write_tokens
        - reasoning_tokens
      additionalProperties: false
    ModelUsageListResponseBody:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ModelUsageResource"
      required:
        - items
      additionalProperties: false
    TotalsResource:
      type: object
      properties:
        cache_read_tokens:
          type: integer
          format: int64
        cache_write_tokens:
          type: integer
          format: int64
        input_tokens:
          type: integer
          format: int64
        output_tokens:
          type: integer
          format: int64
        reasoning_tokens:
          type: integer
          format: int64
        requests:
          type: integer
          format: int64
      required:
        - requests
        - input_tokens
        - output_tokens
        - cache_read_tokens
        - cache_write_tokens
        - reasoning_tokens
      additionalProperties: false
    UsageBucketResource:
      type: object
      properties:
        cache_read_tokens:
          type: integer
          format: int64
        cache_write_tokens:
          type: integer
          format: int64
        from:
          description: Start of the bucket, inclusive
          type: string
          format: date-time
        input_tokens:
          type: integer
          format: int64
        output_tokens:
          type: integer
          format: int64
        reasoning_tokens:
          type: integer
          format: int64
        requests:
          type: integer
          format: int64
        to:
          description: End of the bucket, exclusive
          type: string
          format: date-time
      required:
        - from
        - to
        - requests
        - input_tokens
        - output_tokens
        - cache_read_tokens
        - cache_write_tokens
        - reasoning_tokens
      additionalProperties: false
    UsageTimelineResponseBody:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/UsageBucketResource"
      required:
        - items
      additionalProperties: false
