openapi: 3.1.0
info:
  title: Leaflow Billing Account API
  version: 1.0.0
  description: |-
    The caller's billing accounts, purchases and payments.
    Query accepted financial operations by their original IDs after an unknown outcome.
    Public prices and estimates are served under `/catalog/v1/` and require no credentials.
security:
  - accessTokenAuth: []
servers:
  - url: https://billing.leaflow.cloud
    description: Billing account management

tags:
  - name: accounts
    description: Billing accounts, balances, and which projects they pay for.
  - name: payments
    description: Adding funds, payment methods, and settling what is owed.
  - name: billing-history
    description: Invoices, transactions and where each amount went.
  - name: subscriptions
    description: What has been bought and when it renews.
  - name: entitlements
    description: Which capabilities are currently available.
  - name: allowances
    description: |-
      Included and promotional usage allowances and their remaining quantities.
  - name: promotions
    description: |-
      Promotion code terms and purchase applicability previews.
paths:
  /account/v1/currencies:
    get:
      summary: List currencies accounts can be opened in
      description: |-
        The currencies a new billing account can be opened in. A retired currency is not listed,
        although accounts already opened in it keep working. Not paged: the set is a few rows.
      operationId: list-currencies
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrencyList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts:
    get:
      summary: List billing accounts
      operationId: list-billing-accounts
      tags:
        - accounts
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccountList"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create billing account
      description: |-
        The currency is chosen here and cannot be changed afterwards. Everything charged to the
        account — prices, orders, invoices, balance — is denominated in it.

        One person may hold several accounts, for example a personal one and one for a team.
      operationId: create-billing-account
      tags:
        - accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingAccountCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccount"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts/{accountId}:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      summary: Get billing account
      operationId: get-billing-account
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccount"
        default:
          $ref: "#/components/responses/Error"
    patch:
      summary: Update billing account
      description: |-
        The legal name, address and tax identifier are copied onto each invoice when it is
        issued. Changing them here affects invoices issued afterwards, not those already sent.

        The currency cannot be changed.
      operationId: update-billing-account
      tags:
        - accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingAccountUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingAccount"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts/{accountId}/balance:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      summary: Get account balance
      operationId: get-account-balance
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountBalance"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts/{accountId}/metered-usage:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      summary: Get account metered usage
      description: |-
        Whether the account has anything billed by usage, and what that usage has cost over the last
        seven days. Usage is paid from the balance, so this tells how much of the balance it is likely
        to need: the balance divided by `average_daily_amount` is roughly how many days it lasts.
      operationId: get-account-metered-usage
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeteredUsage"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/billing-accounts/{accountId}/payment-options:
    parameters:
      - $ref: "#/components/parameters/AccountId"
    get:
      summary: List payment options
      description: |-
        Lists the payment gateways and methods that currently accept payment in this account's currency, the
        preferred gateway first. Top-ups and invoice payments must name a gateway and method listed here;
        others are refused. An empty list means no online payment is available for this account. Not paged: the
        set is a few rows.
      operationId: list-payment-options
      tags:
        - payments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentOptionList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/projects:
    get:
      summary: List projects linked to billing accounts
      operationId: list-billing-account-projects
      tags:
        - accounts
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: billing_account_id
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectBillingInfoList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/projects/{projectId}/billing-account:
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: Get project billing account
      description: Returns 404 when the project has no billing account. No resources can be
        created until one is linked.
      operationId: get-project-billing-account
      tags:
        - accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectBillingInfo"
        default:
          $ref: "#/components/responses/Error"
    put:
      summary: Set project billing account
      description: |-
        Charges already incurred remain with the billing account that was linked when they
        occurred, and are still invoiced to it. Metered resources are settled up to the moment of
        the change. Amounts owed by the previous billing account remain owed by it and do not
        prevent the change.

        Orders keep the billing account they were placed with and are fulfilled as placed. Periods
        already paid for are unaffected; renewals are charged to the new billing account.

        The request is refused once the project no longer accepts purchases because it is being
        deleted, and while a subscription or an order in progress in the project uses a currency
        other than that of the new billing account.
      operationId: set-project-billing-account
      tags:
        - accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectBillingInfoSet"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectBillingInfo"
        default:
          $ref: "#/components/responses/Error"
    delete:
      summary: Unlink project billing account
      description: |-
        Permitted only when nothing in the project is still running or in progress: no metered
        resources, no subscriptions that have not ended, and no orders in progress, including
        changes scheduled for the end of a period. Orders are not modified by this request; wait
        for them to complete, and have the service that scheduled a change call it off.

        Charges already incurred remain with the billing account and are invoiced to it as usual.
        Amounts the billing account owes do not prevent unlinking.

        After this the project cannot make purchases until a billing account is linked again.
      operationId: unlink-project-billing-account
      tags:
        - accounts
      responses:
        "204":
          description: Unlinked
        default:
          $ref: "#/components/responses/Error"
  /account/v1/top-ups:
    get:
      summary: List top ups
      description: |-
        Lists only the authenticated user's top-ups. Includes pending, failed and canceled attempts; no invoice is
        created for a top-up. Items carry no `action`; read a pending top-up with get-top-up to continue its payment.
      operationId: list-top-ups
      tags:
        - payments
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUpList"
        default:
          $ref: "#/components/responses/Error"
    post:
      summary: Create top up
      description: |-
        Creates a top-up for an account owned by the authenticated user and returns its payment information.
        The balance increases only after the payment gateway confirms receipt. A top-up has no invoice.
        Keep the supplied ID to query the original attempt after a lost response; duplicate creation conflicts.
      operationId: create-top-up
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TopUpCreate"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUp"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/top-ups/{topUpId}:
    parameters:
      - name: topUpId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get top up
      description: |-
        Reads a top-up owned by the authenticated user, including its outcome and the part of it not yet spent.
        It is not an invoice.

        While the top-up is pending, the answer includes the customer's next step as the payment gateway
        currently reports it, so that a payment interrupted by a closed page can be continued. When the gateway
        cannot be reached, the top-up is returned without `action`; read it again later.
      operationId: get-top-up
      tags:
        - payments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUp"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/top-ups/{topUpId}/cancel:
    parameters:
      - name: topUpId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Cancel top up
      description: |-
        Withdraws a pending top-up owned by the authenticated user at the payment gateway. It becomes
        `canceled` with `cancellation_reason` `requested_by_customer`, and no money is collected for it. Canceling a
        top-up that is already canceled returns it unchanged.

        If the gateway has already collected the payment, nothing is withdrawn and the top-up is returned
        as `succeeded` with the balance increased. Check `status` in the answer rather than assuming the
        cancellation took effect.

        Fails with 409 and BILLING_TOPUP_NOT_CANCELABLE when the top-up has already succeeded or failed,
        with `status` naming that outcome, and while the gateway is processing the payment and can no
        longer withdraw it, with `status` set to `pending`; read the top-up again later in that case.
      operationId: cancel-top-up
      tags:
        - payments
      responses:
        "200":
          description: The top-up after the request, canceled or succeeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TopUp"
        "409":
          description: The top-up already has another outcome or can no longer be withdrawn.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods:
    get:
      summary: List payment methods
      operationId: list-payment-methods
      tags:
        - payments
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods/setup:
    post:
      summary: Create payment method setup
      description: |-
        Returns what is needed to hand the browser over to the payment gateway's own card
        form. Nothing is charged, and the method appears in the list once the gateway
        confirms it.

        Card numbers are never sent to or stored by this service.
      operationId: create-payment-method-setup
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethodSetup"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodSetupResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods/{paymentMethodId}/default:
    parameters:
      - $ref: "#/components/parameters/PaymentMethodId"
    put:
      summary: Set default payment method
      operationId: set-default-payment-method
      tags:
        - payments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethod"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payment-methods/{paymentMethodId}:
    parameters:
      - $ref: "#/components/parameters/PaymentMethodId"
    delete:
      summary: Delete payment method
      description: |-
        Refused when it is the only method on an account that has resources billed by the hour,
        as there would be nothing left to charge when the balance runs out.
      operationId: delete-payment-method
      tags:
        - payments
      responses:
        "204":
          description: Removed
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices/{invoiceId}/pay:
    parameters:
      - $ref: "#/components/parameters/InvoiceId"
    post:
      summary: Pay invoice
      description: |-
        Applies the account balance first, then charges the remainder to a payment method. Give
        `payment_method_id` to choose one, or omit it to use the default.

        Returns a checkout address when the gateway requires the cardholder to confirm the
        payment; the invoice is marked paid once the gateway confirms it.

        Calling this on an invoice that is already paid returns the invoice unchanged. A void invoice
        is refused with `BILLING_INVOICE_NOT_PAYABLE`; the invoice of an order that has failed or was
        canceled, with `BILLING_ORDER_FAILED` or `BILLING_ORDER_CANCELED`; and that of an order whose
        payment deadline has passed, with `BILLING_ORDER_EXPIRED`.
      operationId: pay-invoice
      tags:
        - payments
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices/{invoiceId}/payment-preview:
    parameters:
      - $ref: "#/components/parameters/InvoiceId"
    get:
      summary: Preview invoice payment
      description: |-
        What paying this invoice now would take from credit grants, from the balance and, for the rest,
        from a payment gateway. It is computed as paying computes it, so paying with the same options
        straight afterwards takes exactly these amounts unless the account's funds change in between.
        Nothing is charged, reserved or created.

        Refused with the same errors as paying, except that insufficient funds are not an error here:
        they show as a `gateway_amount` above zero.
      operationId: preview-invoice-payment
      tags:
        - payments
      parameters:
        - name: use_balance
          in: query
          required: false
          description: As in paying. True when omitted.
          schema:
            type: boolean
            default: true
        - name: use_credits
          in: query
          required: false
          description: As in paying. True when omitted.
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentPreview"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payments:
    post:
      summary: Pay together
      description: |-
        Pays outstanding invoices, including the invoices of the listed orders, from the account's
        eligible credit grants and then its balance. No payment gateway is used; an invoice to be
        paid online is paid on its own.

        Either every invoice is paid or none is. When the credit grants and balance cannot cover
        them all, the request fails with `BILLING_INSUFFICIENT_FUNDS` and nothing is charged.
        Invoices that are already paid are not charged again. An invoice with an online payment
        still in progress is refused with `BILLING_PAYMENT_PENDING`, a void invoice with
        `BILLING_INVOICE_NOT_PAYABLE`, an order that has failed or was canceled with
        `BILLING_ORDER_FAILED` or `BILLING_ORDER_CANCELED`, and an order whose payment deadline has
        passed with `BILLING_ORDER_EXPIRED`.
      operationId: pay-together
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayTogetherRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/payments/preview:
    post:
      summary: Preview paying together
      description: |-
        What paying these invoices together now would take from credit grants and from the balance,
        invoice by invoice in the order they would be paid. It is computed as paying together computes
        it. Nothing is charged, reserved or created.

        Refused with the same errors as paying together, except that insufficient funds are not an
        error here: they show as a `gateway_amount` above zero, and paying together would then be
        refused with `BILLING_INSUFFICIENT_FUNDS`.
      operationId: preview-pay-together
      tags:
        - payments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayTogetherRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentPreview"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices:
    get:
      summary: List invoices
      operationId: list-invoices
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/InvoiceStatus"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices/{invoiceId}:
    parameters:
      - $ref: "#/components/parameters/InvoiceId"
    get:
      summary: Get invoice
      operationId: get-invoice
      tags:
        - billing-history
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/invoices/{invoiceId}/items:
    parameters:
      - $ref: "#/components/parameters/InvoiceId"
    get:
      summary: List invoice items
      operationId: list-invoice-items
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceItemList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/transactions:
    get:
      summary: List transactions
      operationId: list-transactions
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/discounts:
    get:
      summary: List the coupons held on this account
      description: |-
        Coupons placed on the account directly, which apply at checkout without a code being
        entered. A coupon reached through a code is not listed here.
      operationId: list-account-discounts
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiscountList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/credit-grants:
    get:
      summary: List credit grants
      description: |-
        Each grant shows what remains and what it may be used for. Credit is spent before the balance
        and cannot be withdrawn.
      operationId: list-credit-grants
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - active
              - depleted
              - expired
              - voided
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreditGrantList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/refunds:
    get:
      summary: List refunds
      description: Newest first.
      operationId: list-refunds
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: invoice_id
          in: query
          required: false
          description: Only the refunds of this invoice.
          schema:
            type: string
            format: uuid
        - name: order_id
          in: query
          required: false
          description: |-
            Only the refunds that belong to this order: those of its invoice, such as the refund of a
            purchase that could not be delivered, and those it caused on an earlier invoice, such as
            the difference returned after a downgrade.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/usage-charges:
    get:
      summary: List usage charges
      description: |-
        Each charge is added to the month's usage invoice as it is priced, summed into one line per
        subscription, project, resource, meter and rate. Filter by `invoice_item_id` to see the
        charges behind a line. Charges still waiting to be priced are included too.
      operationId: list-usage-charges
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: product_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ProductID'
        - name: resource_id
          in: query
          required: false
          schema:
            type: string
        - name: invoice_item_id
          in: query
          required: false
          description: Only the charges summed into this usage invoice line.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageChargeList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions:
    get:
      summary: List subscriptions
      operationId: list-subscriptions
      tags:
        - subscriptions
      parameters:
        - name: expiring_before
          in: query
          schema: {type: string, format: date-time}
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    get:
      summary: Get subscription
      operationId: get-subscription
      tags: [subscriptions]
      responses:
        '200':
          description: Purchase and renewal agreement
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/subscriptions/{subscriptionId}/cancellation-preview:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    get:
      summary: Preview cancellation
      description: |-
        Reads confirmed terms and paid-period value without recording a request or locking a refund amount.

        Use create-quote with a `cancellation`, which quotes the subscriptions released together.
      operationId: preview-cancellation
      deprecated: true
      tags: [subscriptions]
      responses:
        '200':
          description: Cancellation estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationPreview'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/subscriptions/{subscriptionId}/cancellation-requests:
    parameters:
      - $ref: '#/components/parameters/SubscriptionId'
    post:
      summary: Request subscription cancellation
      description: |-
        Ends the whole subscription under confirmed terms. The request does not itself stop service; actual end is confirmed by the owning service. Refund processing is separate.

        Use create-cancellation, which ends the subscriptions released together and checks the refund.
      operationId: create-cancellation-request
      deprecated: true
      tags: [subscriptions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancellationRequestCreate'
      responses:
        '201':
          description: Cancellation requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationRequest'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/cancellation-requests/{cancellationRequestId}:
    parameters:
      - $ref: '#/components/parameters/CancellationRequestId'
    get:
      summary: Get cancellation request
      description: Use get-cancellation.
      operationId: get-cancellation-request
      deprecated: true
      tags: [subscriptions]
      responses:
        '200':
          description: Request and actual end receipt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationRequest'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/cancellation-requests/{cancellationRequestId}/cancel:
    parameters:
      - $ref: '#/components/parameters/CancellationRequestId'
    post:
      summary: Cancel a cancellation request
      description: |-
        Allowed only before release starts. Does not resume a previously suspended subscription.

        Use withdraw-cancellation, which withdraws the whole cancellation.
      operationId: cancel-cancellation-request
      deprecated: true
      tags: [subscriptions]
      responses:
        '200':
          description: Canceled request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationRequest'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/quotes:
    post:
      summary: Quote renewals or a cancellation
      description: |-
        Priced in the currency of the billing account that pays for the subscriptions, and at any rate
        negotiated for that account. Nothing is reserved and nothing is recorded, so this may be called
        as often as required. Prices may change between quoting and renewing, so a quote should be
        refreshed before a final confirmation is shown.

        A renewal is priced exactly as renewing would charge it: at the agreed amount or the price
        named, with the discounts the account holds, and with tax.

        A cancellation is quoted as creating it would compute the refund, as of now and under the refund
        terms agreed when each subscription was bought. It is quoted on its own: combined with renewals
        the request is refused with HTTP 400 `BILLING_PURCHASE_INVALID` and `meta.field`
        `cancellation`. It is refused with the same errors as creating the cancellation, except that the
        amount is not checked. Give the returned `cancellation.proration_date` and
        `cancellation.refundable_amount` when creating it.

        Every subscription must be paid for by the same one of your billing accounts; otherwise the
        request is refused with HTTP 400 `BILLING_PURCHASE_INVALID`. Returns 404 when a subscription does
        not exist, and 403 `BILLING_ACCOUNT_FORBIDDEN` when it is paid for by an account you do not own.
      operationId: create-quote
      tags: [subscriptions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/cancellations:
    post:
      summary: Cancel subscriptions
      description: |-
        Ends a set of subscriptions of one service together, at one time. Deleting a resource that a
        subscription pays for is an `immediate` cancellation of every subscription released with it,
        such as a server with the disks deleted along with it, or an address with its bandwidth.

        The service that provides the resources releases them: at once for `immediate`, or at
        `scheduled_at`, the end of the paid term, for `period_end`. When release is confirmed, the
        unused value is returned the way it was paid, under the refund terms agreed when each
        subscription was bought. For `immediate` the refund is computed as of `proration_date`, so the
        amount confirmed here is the amount returned: prepaid service used while the resources are
        being released is not deducted from it. Usage of a postpaid subscription is charged until its
        resources are released, as usual.

        `mode` must be allowed for every subscription. Postpaid and one-time subscriptions end only
        `immediate`. A prepaid subscription ends `period_end` while its paid term lasts, and
        `immediate` unless its termination terms allow only the end of the paid term and that term has
        not ended yet. For `period_end` the paid terms of all the subscriptions must end at the same
        time.

        Refused with:
        - 400 `BILLING_CANCELLATION_INVALID` when `subscription_ids` or `proration_date` is not
          acceptable (`meta.field`), or the subscriptions do not all belong to one service, project,
          account and currency;
        - 409 `BILLING_CANCELLATION_CONFLICT` when a subscription has not started or has ended;
        - 422 `BILLING_CANCELLATION_MODE_FIXED` when `mode` is not allowed for a subscription, and
          `BILLING_CANCELLATION_TERMS_UNSET` when a prepaid subscription has no termination terms;
          both carry `meta.subscription_id`;
        - 409 `BILLING_CANCELLATION_SCHEDULES_DIFFER` when, for `period_end`, the paid terms end at
          different times;
        - 409 `BILLING_SUBSCRIPTION_OPERATION_PENDING` when a subscription is already being canceled
          (`meta.cancellation_id`) or reclaimed (`meta.job_id`);
        - 409 `BILLING_ORDER_PAYMENT_IN_FLIGHT` while an online payment for a renewal of one of them
          is in progress;
        - 409 `BILLING_CANCELLATION_REFUND_CHANGED` when the refund is no longer
          `expected_refundable_amount`; quote again.

        Sending the same request again, for the same subscriptions, mode and amount while that
        cancellation is still open, returns it with 200 rather than creating another. Renewal orders
        still waiting for payment are canceled along with it.
      operationId: create-cancellation
      tags: [subscriptions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancellationCreate'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
        '200':
          description: The same cancellation, already open
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
        default:
          $ref: '#/components/responses/Error'
    get:
      summary: List cancellations
      description: Newest first. Filter by `subscription_id` and `status=open` to find the cancellation now under way for a subscription.
      operationId: list-cancellations
      tags: [subscriptions]
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: subscription_id
          in: query
          required: false
          description: Only cancellations that include this subscription.
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          description: Only cancellations in this status. `open` means requested, scheduled or releasing.
          schema:
            type: string
            enum: [open, requested, scheduled, releasing, completed, canceled, failed]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancellationList'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/cancellations/{cancellationId}:
    parameters:
      - $ref: '#/components/parameters/CancellationId'
    get:
      summary: Get a cancellation
      operationId: get-cancellation
      tags: [subscriptions]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/cancellations/{cancellationId}/withdraw:
    parameters:
      - $ref: '#/components/parameters/CancellationId'
    post:
      summary: Withdraw a cancellation
      description: |-
        Withdraws the whole cancellation while none of its resources has begun to be released; the
        subscriptions continue as before. After that it is refused with 409
        `BILLING_CANCELLATION_CONFLICT`. Withdrawing one that is already withdrawn returns it unchanged.
      operationId: withdraw-cancellation
      tags: [subscriptions]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cancellation'
        default:
          $ref: '#/components/responses/Error'
  /account/v1/subscriptions/{subscriptionId}/renewal-prices:
    parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: List the terms this item can be renewed for
      description: Lists the current renewal agreement and available intervals. The current option preserves recurring_amount; other options use current prices. Amounts cover the whole subscription quantity and exclude tax.
      operationId: list-renewal-prices
      tags:
        - subscriptions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenewalPriceList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}/renew:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
    post:
      summary: Renew subscription
      description: |-
        Purchases prepaid periods from paid_until using the agreed recurring amount, and pays for them at
        once. A changed interval selects a current price and freezes new terms on the order, applied
        only after fulfillment. Existing paid periods keep their value.

        Without `payment_method_id`, the renewal is paid from credit grants and the balance as
        `use_credits` and `use_balance` allow; when they cannot pay it all, the renewal is refused with
        `BILLING_INSUFFICIENT_FUNDS` and no order is left. To pay another way, create a renewal order
        and pay its invoice instead.

        Save order_id before submitting and query the order after an unknown outcome; duplicate
        creation conflicts.
      operationId: renew-subscription
      tags:
        - subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenewRequest"
      responses:
        '409':
          description: The order already exists or the subscription has a conflicting renewal, change or cancellation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentResult"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}/renewal-orders:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
    post:
      summary: Create renewal order
      description: |-
        Places a renewal order and issues its invoice without charging anything; pay the invoice to
        renew. The periods and price are chosen as for renewing. The order can be paid until the
        current paid period ends, and never after the end of the first period it renews; unpaid by
        then, it is canceled. While auto-renew is on, the renewal due at the end of the period pays
        this order instead of placing another.

        Save `order_id` before submitting and read the order after an unknown outcome; creating it a
        second time conflicts.
      operationId: create-renewal-order
      tags:
        - subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenewalOrderRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "409":
          description: The order already exists or the subscription has a conflicting renewal, change or cancellation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/subscriptions/{subscriptionId}/auto-renew:
    parameters:
      - $ref: "#/components/parameters/SubscriptionId"
    put:
      summary: Set auto renew
      description: Controls automatic prepaid renewal. Disabling it does not shorten paid_until and still permits manual renewal. Postpaid subscriptions do not renew and keep this false.
      operationId: set-auto-renew
      tags:
        - subscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutoRenewSet"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/promotion-codes/preview:
    post:
      summary: Preview promotion code
      description: |-
        Nothing is recorded and the code is not consumed. Use it to show the customer the effect
        before they commit.
      operationId: preview-promotion-code
      tags:
        - promotions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromotionCodePreviewRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PromotionCodePreview"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/allowances:
    get:
      summary: List allowances
      description: |-
        Lists remaining usage quantities, such as bytes, seconds or tokens. Applicable allowances are
        consumed before usage is charged. Lower priority values are consumed first, followed by earlier
        expiry and earlier issuance.

        Unused quantity expires without a refund or carry-over. Promotional allowances apply to usage paid
        by their holding account. Included allowances apply only to the associated subscription, including
        after its project moves to another billing account.
      operationId: list-allowances
      tags:
        - allowances
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: meter_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter by the meter UUID.
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - active
              - depleted
              - expired
              - voided
        - name: product_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ProductID'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllowanceList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders:
    get:
      summary: List orders
      description: Lists acceptance status and associated invoice amounts. Pending may be unpaid or paid; active means accepted, not delivered. Only pending orders expire at expires_at.
      operationId: list-orders
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/OrderStatus"
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders/{orderId}:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      summary: Get order
      operationId: get-order
      tags:
        - billing-history
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders/{orderId}/cancel:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    post:
      summary: Cancel order
      description: |-
        Withdraws an order that is not paid in full, and tells the service that placed it, so that
        nothing is delivered. An order with nothing paid becomes `canceled` and its invoice is voided.
        What was already paid toward it, from credit grants or the balance, is returned the way it was
        paid, and the order becomes `failed`; its invoice is voided once everything paid has been
        returned. Either way `cancel_reason` is `requested_by_customer`.
        Canceling an order that is already canceled or failed returns it unchanged.

        Refused with 409 and `BILLING_PAID_ORDER_NOT_CANCELABLE` once the invoice is paid in full,
        `BILLING_ORDER_ALREADY_ACCEPTED` once the order has been accepted,
        `BILLING_ORDER_PAYMENT_IN_FLIGHT` while an online payment for it is in progress, and
        `BILLING_SCHEDULED_CHANGE_NOT_CANCELABLE` for a change that takes effect at the end of the
        period, which only the service that placed it can call off.
      operationId: cancel-order
      tags:
        - billing-history
      responses:
        "200":
          description: The order after the request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "409":
          description: The order is paid in full, accepted, being paid online, or a scheduled change.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/orders/{orderId}/items:
    parameters:
      - $ref: "#/components/parameters/OrderId"
    get:
      summary: List order items
      description: One entry per item bought, with the price charged and the
        period it covers.
      operationId: list-order-items
      tags:
        - billing-history
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderItemList"
        default:
          $ref: "#/components/responses/Error"
  /account/v1/entitlements:
    get:
      summary: List entitlements
      description: |-
        Capabilities that come with what has been bought. A capability that is not held simply
        does not appear, so that "this does not exist" and "this has not been bought" cannot be
        confused.

        Derived from live subscriptions rather than stored, so this always agrees with what is
        being paid for. It stops being listed as soon as the subscription providing it ends.
      operationId: list-entitlements
      tags:
        - entitlements
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/AccountIdQuery"
        - name: project_id
          in: query
          required: false
          description: |-
            Restrict to one project. Anything bought at account level, such as a membership,
            appears regardless.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntitlementList"
        default:
          $ref: "#/components/responses/Error"
components:
  securitySchemes:
    accessTokenAuth:
      $ref: ../../../type/v1/security.yaml#/components/securitySchemes/AccessToken
  schemas:
    TerminationPolicy:
      type: string
      enum:
        - immediate
        - period_end
      description:
        Whether a fulfilled purchase may end immediately or only after its paid term. Does not grant a refund.
        When absent, the terms are not configured and termination requires review.
    RefundPolicy:
      type: string
      enum:
        - none
        - prorated
      description:
        Prorated returns the unused value of paid service periods using integer-second duration ratios.
        Setup fees are excluded. Tax and funds follow the original invoice and payment sources.
    QuoteRequest:
      description: Specify renewals for existing subscriptions, or one cancellation on its own.
      type: object
      properties:
        renewals:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/QuoteRenewal'
        cancellation:
          $ref: '#/components/schemas/QuoteCancellation'
      additionalProperties: false
    QuoteRenewal:
      description: |-
        Price renewing a prepaid subscription. Give `price_id`, or `interval` with
        `interval_count`, to renew for another term at the price currently sold for it. Naming
        the current term, or giving neither, renews at the agreed amount.
      type: object
      properties:
        subscription_id:
          type: string
          format: uuid
        price_id:
          type: string
          format: uuid
        interval:
          type: string
          enum: [day, month, year]
        interval_count:
          type: integer
          minimum: 1
        periods:
          description: How many consecutive periods to renew for.
          type: integer
          minimum: 1
          maximum: 100
          default: 1
      required:
        - subscription_id
      additionalProperties: false
    QuoteRenewalResult:
      description: |-
        What renewing would charge. Renewing the same subscription for the same term and number
        of periods charges exactly `total`, unless prices or the discounts the account holds
        change in between.
      type: object
      properties:
        index:
          description: Which renewal of the request this answers.
          type: integer
        subscription_id:
          type: string
          format: uuid
        price_id:
          description: The price the renewal is charged under.
          type: string
          format: uuid
        interval:
          type: string
          enum: [day, month, year]
        interval_count:
          type: integer
        periods:
          type: integer
        amount:
          description: |-
            The price of the periods before the discounts the account holds. A discount the
            subscription already carries is reflected here. Contains tax only where the price
            itself includes it.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        discount_amount:
          description: The reduction from a discount the account holds.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_amount:
          description: Tax on the discounted amount.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_included_amount:
          description: The part of `tax_amount` already contained in `amount`.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        total:
          description: |-
            What renewing would charge: `amount` less `discount_amount`, plus `tax_amount`, less
            `tax_included_amount`.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required:
        - index
        - subscription_id
        - price_id
        - interval
        - interval_count
        - periods
        - amount
        - discount_amount
        - tax_amount
        - tax_included_amount
        - total
    Quote:
      type: object
      properties:
        renewals:
          type: array
          items:
            $ref: '#/components/schemas/QuoteRenewalResult'
        cancellation:
          description: What the cancellation requested would return. Present only when one was requested.
          allOf:
            - $ref: '#/components/schemas/CancellationRefundPreview'
        total:
          description: |-
            What the renewals would charge in total. Amounts to be returned are not netted off it: a
            quote of a cancellation alone has a total of zero, and what it would return is in
            `cancellation`.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
      required: [total, currency]
    QuoteCancellation:
      description: |-
        A cancellation to quote: what ending these subscriptions together would return. One mode per
        request; to compare, quote `immediate` and `period_end` separately.
      type: object
      properties:
        subscription_ids:
          description: The subscriptions to end together, all of one service. Every subscription released with a resource must be included.
          type: array
          minItems: 1
          maxItems: 50
          uniqueItems: true
          items: {type: string, format: uuid}
        mode:
          $ref: '#/components/schemas/TerminationPolicy'
      required: [subscription_ids, mode]
      additionalProperties: false
    CancellationRefundPreview:
      description: |-
        What the cancellation would return, subscription by subscription and in total, as of now. Give
        `proration_date` and `refundable_amount` when creating the cancellation.

        - `unused_amount`: before tax, the value of the paid service still unused, whatever the refund
          terms say.
        - `refundable_amount`: what is returned the way it was paid, including the tax paid on it;
          `refund_amount` plus `credit_amount`.
        - `refund_amount`: the part returned to the balance or to the payment method.
        - `credit_amount`: the part restored to the credit grants that paid.
        - `tax_amount`: the tax included in `refundable_amount`.
        - `forfeited_amount`: before tax, the part of `unused_amount` the refund terms do not return.

        Postpaid and one-time subscriptions show zero; usage until release is charged as usual.
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/TerminationPolicy'
        scheduled_at:
          description: For `period_end`, when release begins, the end of the paid terms.
          type: string
          format: date-time
        proration_date:
          description: For `immediate`, the second the refund is computed as of. Give it when creating the cancellation.
          type: string
          format: date-time
        currency: {type: string}
        unused_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refundable_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refund_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        forfeited_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        items:
          type: array
          items:
            $ref: '#/components/schemas/CancellationRefundPreviewItem'
      required: [mode, currency, unused_amount, refundable_amount, refund_amount, credit_amount, tax_amount, forfeited_amount, items]
    CancellationRefundPreviewItem:
      description: One subscription of the quoted cancellation. The amounts mean what they mean in the total.
      type: object
      properties:
        subscription_id: {type: string, format: uuid}
        plan_id: {type: string, format: uuid}
        plan_name: {type: string}
        project:
          description: The project and its current name, for display. Absent for a purchase at account level, and when the project details cannot be read at the moment.
          oneOf:
            - $ref: ../../../type/v1/identity.yaml#/components/schemas/NamedIdentity
            - type: 'null'
        billing_type: {type: string, enum: [postpaid, prepaid, one_time]}
        unused_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refundable_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        refund_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        tax_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        forfeited_amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required: [subscription_id, plan_id, plan_name, billing_type, unused_amount, refundable_amount, refund_amount, credit_amount, tax_amount, forfeited_amount]
    CancellationCreate:
      type: object
      properties:
        subscription_ids:
          description: As in the quote.
          type: array
          minItems: 1
          maxItems: 50
          uniqueItems: true
          items: {type: string, format: uuid}
        mode:
          $ref: '#/components/schemas/TerminationPolicy'
        proration_date:
          description: |-
            For `immediate`, the `proration_date` of the quote: a whole second, not in the future and
            at most ten minutes old. The refund is computed as of it. Now when omitted.
          type: string
          format: date-time
        expected_refundable_amount:
          description: The `refundable_amount` of the quote. The cancellation is refused when the refund differs.
          type: string
        reason:
          description: A note from the account holder. It is kept with the cancellation and not shown elsewhere.
          type: string
          maxLength: 1024
      required: [subscription_ids, mode, expected_refundable_amount]
      additionalProperties: false
    Cancellation:
      description: |-
        One cancellation of a set of subscriptions of one service, released together at one time.

        - `requested`: `immediate`, release has not begun.
        - `scheduled`: `period_end`, waiting for `scheduled_at`.
        - `releasing`: release has begun; it can no longer be withdrawn.
        - `completed`: every subscription has ended and its refund has been made.
        - `canceled`: withdrawn before release began; the subscriptions continue.
        - `failed`: the service could not carry it out, for the reason in `failure_code`; the
          subscriptions continue and can be canceled again.
      type: object
      properties:
        id: {type: string, format: uuid}
        status:
          type: string
          enum: [requested, scheduled, releasing, completed, canceled, failed]
        mode:
          $ref: '#/components/schemas/TerminationPolicy'
        scheduled_at: {type: string, format: date-time}
        proration_date:
          description: For `immediate`, the second the refund is computed as of.
          type: string
          format: date-time
        origin:
          description: Who asked for it. `project_deletion` means the project was deleted.
          type: string
          enum: [customer, operator, project_deletion]
        currency: {type: string}
        expected_refundable_amount:
          description: The refund confirmed when it was created. Absent when the platform created it.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        failure_code:
          description: |-
            Present with `failed`. A code of the service that provides the resources, such as a disk
            that can only be released with its server. Clients map it to their own wording.
          type: string
        requested_at: {type: string, format: date-time}
        completed_at: {type: string, format: date-time}
        canceled_at: {type: string, format: date-time}
        items:
          type: array
          items:
            $ref: '#/components/schemas/CancellationItem'
      required: [id, status, mode, origin, currency, requested_at, items]
    CancellationItem:
      description: One subscription of the cancellation.
      type: object
      properties:
        id:
          description: The cancellation request of this subscription, the same as `Subscription.cancellation_request.id`.
          type: string
          format: uuid
        subscription_id: {type: string, format: uuid}
        plan_id: {type: string, format: uuid}
        plan_name: {type: string}
        status:
          type: string
          enum: [requested, scheduled, releasing, completed, canceled, failed]
        release_started_at: {type: string, format: date-time}
        effective_at:
          description: When the service ended, as confirmed by the service that provides it.
          type: string
          format: date-time
        balance_amount:
          description: Present with `completed`. The part of the refund returned to the account balance.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_amount:
          description: Present with `completed`. The part restored to the credit grants that paid.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        gateway_amount:
          description: Present with `completed`. The part returned to the payment method it was paid with.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required: [id, subscription_id, plan_id, plan_name, status]
    CancellationList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Cancellation'
        total_count:
          type: integer
          format: int64
      required: [items]
    CancellationPreview:
      type: object
      properties:
        subscription_id: {type: string, format: uuid}
        mode:
          $ref: '#/components/schemas/TerminationPolicy'
        scheduled_at: {type: string, format: date-time}
        refundable_amount: {type: string}
        currency: {type: string}
      required: [subscription_id, mode, refundable_amount, currency]
    CancellationRequestCreate:
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/TerminationPolicy'
        forfeit_remaining_value: {type: boolean, default: false}
        reason: {type: string, minLength: 1, maxLength: 1024}
      required: [reason]
      additionalProperties: false
    CancellationRequest:
      type: object
      required:
        - id
        - subscription_id
        - status
        - mode
        - requested_at
        - forfeit_remaining_value
      properties:
        reason: {type: string}
        cancellation_id:
          description: The cancellation this request belongs to, with the other subscriptions released together.
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        subscription_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - requested
            - scheduled
            - releasing
            - failed
            - completed
            - canceled
        mode:
          type: string
          enum:
            - immediate
            - period_end
        requested_at:
          type: string
          format: date-time
        scheduled_at:
          type: string
          format: date-time
        effective_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        release_started_at:
          type: string
          format: date-time
        canceled_at:
          type: string
          format: date-time
        forfeit_remaining_value:
          type: boolean
        failure_code:
          type: string
        failure_reason:
          type: string
      description:
        A cancellation request for the original purchase. scheduled_at is the intended time; effective_at
        is the confirmed end of service. The request alone does not stop metering or issue a refund.
    Error:
      $ref: ../../../type/v1/error.yaml#/components/schemas/Error
    Product:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ProductID'
        name:
          type: string
        description:
          type: string
      required:
        - id
        - name
    ProductID:
      description: Immutable platform service identifier, such as compute, canopy or assistant.
      type: string
      minLength: 1
      maxLength: 64
      pattern: '^[a-z][a-z0-9]*(-[a-z0-9]+)*$'
    QuoteLine:
      description: |-
        Identify a price directly, or select a price for a plan. For each resource give its ID or lookup key, never both. Lookup keys require product_id.

        A line that gives a meter, `dimensions` or `duration_seconds` estimates usage and is
        priced only at a postpaid price. Such a line is refused with HTTP 400
        `BILLING_PURCHASE_INVALID` when `price_type` is `prepaid` or `one_time`, or when the price
        it names is not postpaid; `meta.field` is `price_type`, `price_id` or `price_lookup_key`
        accordingly. When the plan has no postpaid price, the line is returned unpriced with
        `no_price`.
      type: object
      properties:
        price_lookup_key: {type: string, minLength: 1, maxLength: 128}
        plan_lookup_key: {type: string, minLength: 1, maxLength: 128}
        meter_lookup_key: {type: string, minLength: 1, maxLength: 128}
        price_id:
          type: string
          format: uuid
        product_id:
          $ref: '#/components/schemas/ProductID'
        plan_id:
          type: string
          format: uuid
        meter_id:
          type: string
          format: uuid
        dimensions:
          description: |-
            The attributes the price depends on — region, instance type, token class.

            Required when the price draws its rates from a price list, which is how anything
            sold by region or by machine type is priced. A price that carries a single unit
            amount, or a ladder, has no attributes to give and takes none.

            Every attribute the meter declares must be present. A combination with no rate
            covering it is refused rather than priced at zero.
          type: object
          additionalProperties:
            type: string
        price_type:
          description: |-
            Narrows the selection when a plan offers more than one billing type.
          type: string
          enum:
            - postpaid
            - prepaid
            - one_time
        interval: {type: string, enum: [none, day, month, year]}
        interval_count: {type: integer, minimum: 1}
        quantity:
          type: string
        duration_seconds:
          description: |-
            For metered items, how long to price for. This allows an estimate such as "about
            this much per month" to be shown before anything exists. The priced quantity is
            `quantity` multiplied by this duration.
          type: integer
          format: int64
      required:
        - quantity
    BillingAccount:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          description: What you call this account.
          type: string
        legal_name:
          description: The name invoices are made out to. Copied onto each
            invoice when it is issued.
          type: string
        email:
          description: Where invoices are sent.
          type: string
        address_line1:
          type: string
        address_line2:
          type: string
        address_city:
          type: string
        address_state:
          type: string
        address_postal_code:
          type: string
        address_country:
          description: Two-letter code.
          type: string
        tax_id:
          type: string
        currency:
          description: Fixed when the account was opened.
          type: string
        status:
          type: string
          enum:
            - active
            - suspended
            - closed
        grace_amount:
          description: |-
            How far past the suspension threshold this account may go before its resources are
            suspended. "0" means none: the account is suspended as soon as it crosses the threshold.
          type: string
        grace_period_seconds:
          description: |-
            How long this account has to top up after crossing the suspension threshold.
            0 means none. Whichever runs out first — this or grace_amount — ends the grace.
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
      required:
        - id
        - currency
        - status
        - created_at
    Currency:
      description: A currency a billing account can be opened in.
      type: object
      additionalProperties: false
      required: [code, exponent, name, minimum_top_up]
      properties:
        code:
          description: ISO 4217 alpha-3, uppercase.
          type: string
          minLength: 3
          maxLength: 3
        exponent:
          description: Decimal places of the currency, the ISO 4217 minor unit.
          type: integer
          format: int32
          minimum: 0
          maximum: 4
        name:
          type: string
          minLength: 1
          maxLength: 64
        minimum_top_up:
          description: The smallest top-up accepted. Zero means no lower bound.
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
    CurrencyList:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Currency"
    BillingAccountCreate:
      type: object
      properties:
        currency:
          type: string
          minLength: 3
          maxLength: 3
        name:
          type: string
          maxLength: 255
        legal_name:
          type: string
          maxLength: 255
        email:
          type: string
          maxLength: 255
      required:
        - currency
      additionalProperties: false
    BillingAccountUpdate:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
        legal_name:
          type: string
          maxLength: 255
        email:
          type: string
          maxLength: 255
        address_line1:
          type: string
          maxLength: 255
        address_line2:
          type: string
          maxLength: 255
        address_city:
          type: string
          maxLength: 128
        address_state:
          type: string
          maxLength: 128
        address_postal_code:
          type: string
          maxLength: 32
        address_country:
          type: string
          minLength: 2
          maxLength: 2
        tax_id:
          type: string
          maxLength: 64
      additionalProperties: false
    BillingAccountList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/BillingAccount"
        total_count:
          type: integer
          format: int64
      required:
        - items
    AccountBalance:
      description: |-
        Account balance, credits, and unpaid charges are reported separately.
      type: object
      properties:
        billing_account_id:
          type: integer
          format: int64
        currency:
          type: string
        balance:
          description: |-
            Prepaid funds in the account currency, excluding credits. May be negative after a payment
            dispute. Outstanding charges are reported separately in due; this value is not a withdrawal quote.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credits:
          description: |-
            The recorded remaining credit, including restricted grants. It is not withdrawable
            and is not part of balance. credit_groups describes currently valid credit by permitted use; a positive
            credits balance does not imply that due is zero.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        total:
          description: |-
            balance plus credits, the sum shown as the account's funds. Credits count at their recorded remaining
            amount, including restricted grants that only pay for what they allow, so total is an upper bound of what
            the account can pay with rather than a withdrawable amount. due is reported separately and is not subtracted.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        restricted_credits:
          description: |-
            The part of currently valid credit that only pays for what its restrictions allow, such as a single
            service, a billing type or a first purchase. The rest of the valid credit pays for anything on the account.
            Included in credits and therefore in total.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_groups:
          description: |-
            Currently valid, unspent credit grouped by permitted use. Restrictions and
            validity dates determine which charges a group can cover, so these groups are not a general
            spendable balance and may differ from the recorded credits total.
          type: array
          items:
            $ref: "#/components/schemas/CreditGroup"
        due:
          description: |-
            Owed and not yet paid: metered usage that balance and applicable credit could not cover as it was
            charged, and issued usage invoices still unpaid. The account is in arrears while this
            is above zero. Topping up pays it on the next collection.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required:
        - billing_account_id
        - currency
        - balance
        - credits
        - total
        - restricted_credits
        - credit_groups
        - due
    MeteredUsage:
      type: object
      required: [billing_account_id, currency, active_resource_count, postpaid_subscription_count, window_start, window_end, amount, average_daily_amount]
      properties:
        billing_account_id:
          type: integer
          format: int64
        currency:
          type: string
        active_resource_count:
          description: Resources still metered in the projects the account currently pays for.
          type: integer
        postpaid_subscription_count:
          description: Subscriptions billed by usage that the account currently pays for and that have not ended.
          type: integer
        window_start:
          description: The start of the seven days the amounts cover.
          type: string
          format: date-time
        window_end:
          description: The end of those seven days, the time usage was last priced.
          type: string
          format: date-time
        amount:
          description: Usage priced in the window, before tax and before credit grants. Usage not yet priced is not included.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        average_daily_amount:
          description: |-
            `amount` per day. Over the window, or over the part of it since the account's usage began
            when that is shorter, counting at least one day.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
    CreditGroup:
      type: object
      properties:
        applies_to:
          description: What the credit in this group may pay for. No restrictions means
            anything on the account.
          allOf:
            - $ref: "#/components/schemas/Applicability"
        amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
      required:
        - applies_to
        - amount
    ProjectBillingInfo:
      type: object
      properties:
        project_id:
          type: string
          format: uuid
        project:
          description: |-
            The project and its current name, for display. Absent when the project no longer exists or its
            details cannot be read at the moment; `project_id` still identifies it.
          oneOf:
            - $ref: ../../../type/v1/identity.yaml#/components/schemas/NamedIdentity
            - type: 'null'
        billing_account_id:
          type: integer
          format: int64
        account_name:
          type: string
        currency:
          type: string
        effective_from:
          type: string
          format: date-time
        effective_to:
          type:
            - string
            - "null"
          format: date-time
      required:
        - project_id
        - billing_account_id
        - currency
        - effective_from
    ProjectBillingInfoList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ProjectBillingInfo"
        total_count:
          type: integer
          format: int64
      required:
        - items
    ProjectBillingInfoSet:
      type: object
      properties:
        billing_account_id:
          type: integer
          format: int64
      required:
        - billing_account_id
      additionalProperties: false
    TopUp:
      description: A top-up attempt and its outcome. A successful top-up adds a traceable amount to the balance; it is not a credit grant and has no associated invoice.
      type: object
      properties:
        id:
          type: string
          format: uuid
        billing_account_id:
          type: integer
          format: int64
        account:
          $ref: '#/components/schemas/AccountIdentity'
        amount:
          description: What is credited to the account, in the account's own
            currency.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        currency:
          type: string
        remaining_amount:
          description: |-
            The part of this top-up still held in the balance. Pending refunds and payouts can temporarily
            reserve part of it; it is not a promise that the whole amount is immediately withdrawable.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        status:
          description: |-
            `pending` until the payment gateway reaches a result. The balance increases on `succeeded`.

            `failed` means the gateway declined the payment. A declined attempt ends the top-up at once
            and the payment is withdrawn at the gateway; to pay another way, create a new top-up.
            `canceled` means the attempt was withdrawn without collecting money; `cancellation_reason`
            says why. Unknown gateway outcomes remain `pending`, and a browser redirect is not proof of
            payment.

            `failed` and `canceled` are final. If the gateway nevertheless collects payment for such an
            attempt, the amount is credited as a separate `succeeded` top-up.
          type: string
          enum:
            - pending
            - succeeded
            - failed
            - canceled
        cancellation_reason:
          description: Why the top-up was withdrawn. Present with `canceled`.
          $ref: '#/components/schemas/PaymentCancellationReason'
        payment_gateway:
          description: Which payment gateway collected it.
          type: string
        method_type:
          description: The selected payment method, such as card, wechat_pay or alipay.
          type: string
        presentment_currency:
          description: |-
            The currency the customer was actually charged in, when the checkout page collected a
            local one. Absent when it was the same as the account's.
          type: string
        presentment_amount:
          description: |-
            What was charged, in `presentment_currency`. It will not equal `amount`, and it is
            the figure that appears on the customer's card or wallet statement.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        failure_reason:
          description: |-
            Why the gateway declined it. Present with `failed`. The value is the gateway's own code,
            passed on unchanged: the card issuer's decline code when there is one (Stripe's decline_code,
            such as insufficient_funds or lost_card), otherwise the gateway's error code (Stripe's code,
            such as card_declined, expired_card or payment_intent_authentication_failure). Clients map it
            to their own wording and treat an unknown value as a generic decline.
          type: string
        action:
          description: |-
            The customer's next step while the top-up is `pending` and the gateway still awaits them. Returned
            by create-top-up and get-top-up as the gateway currently reports it; absent from list-top-ups and
            once the top-up has a result. Completing it does not replace confirmation of receipt.
          $ref: '#/components/schemas/PaymentAction'
        created_at:
          type: string
          format: date-time
        settled_at:
          description: |-
            When the funds arrived. Later than `created_at` — by days for a bank transfer — so
            reconciling against a statement uses this rather than the moment it was started.
            Absent until the payment completes.
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - billing_account_id
        - account
        - amount
        - currency
        - status
        - created_at
    TopUpCreate:
      type: object
      properties:
        payment_gateway:
          description: The gateway explicitly selected from the available payment options.
          type: string
          minLength: 1
          maxLength: 32
        method_type:
          description: The selected method, such as card, wechat_pay or alipay.
          type: string
          minLength: 1
          maxLength: 64
        id:
          description: The ID of this top-up attempt. Keep it before submitting and query it after an uncertain response.
          type: string
          format: uuid
        billing_account_id:
          type: integer
          format: int64
        amount:
          description: |-
            In the account's currency, and no finer than that currency's smallest unit:
            two decimals for most, none for the yen. A finer amount is refused here rather
            than at the checkout page, where the customer would see the gateway's own wording
            instead of an explanation.

            There is a minimum, which differs by currency. Below it the gateway's fee
            exceeds the top-up itself, so such a payment costs more to accept than it brings.
            The minimum in force is returned with the rejection.
          allOf:
            - $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        payment_method_id:
          description: Charge a saved method instead of opening a checkout page.
          type: string
          format: uuid
        return_url:
          description: Where to send the customer after checkout.
          type: string
      required:
        - payment_gateway
        - method_type
        - id
        - billing_account_id
        - amount
      additionalProperties: false
    AccountIdentity:
      type: object
      required: [id, name, currency]
      properties:
        id: {type: integer, format: int64}
        name: {type: string}
        currency: {type: string}
    TopUpList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/TopUp"
        total_count:
          type: integer
          format: int64
      required:
        - items
    PaymentCancellationReason:
      description: |-
        Why a gateway payment was withdrawn. `abandoned` means the customer did not complete it within the time
        allowed for payment. `requested_by_customer` means the customer canceled it.
      type: string
      enum:
        - abandoned
        - requested_by_customer
    PaymentOption:
      description: A payment gateway that accepts payment in the account's currency, with the methods it accepts.
      type: object
      properties:
        payment_gateway:
          description: The value to send as `payment_gateway`.
          type: string
        methods:
          type: array
          items:
            $ref: "#/components/schemas/PaymentOptionMethod"
      required:
        - payment_gateway
        - methods
      additionalProperties: false
    PaymentOptionMethod:
      type: object
      properties:
        method_type:
          description: The value to send as `method_type`, such as card, wechat_pay or alipay.
          type: string
        reusable:
          description: |-
            Whether a method of this type can be saved with create-payment-method-setup and charged later
            without the customer present. Methods that are not reusable are paid anew each time.
          type: boolean
      required:
        - method_type
        - reusable
      additionalProperties: false
    PaymentOptionList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PaymentOption"
      required:
        - items
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
          format: uuid
        billing_account_id:
          type: integer
          format: int64
        payment_gateway:
          type: string
        brand:
          type: string
        last4:
          type: string
        exp_month:
          type:
            - integer
            - "null"
        exp_year:
          type:
            - integer
            - "null"
        is_default:
          type: boolean
        status:
          type: string
          enum:
            - active
            - expired
            - removed
      required:
        - id
        - billing_account_id
        - payment_gateway
        - is_default
        - status
    PaymentMethodList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/PaymentMethod"
        total_count:
          type: integer
          format: int64
      required:
        - items
    PaymentMethodSetup:
      type: object
      properties:
        payment_gateway:
          description: The selected gateway supporting saved payment methods.
          type: string
          minLength: 1
          maxLength: 32
        billing_account_id:
          type: integer
          format: int64
      required:
        - payment_gateway
        - billing_account_id
      additionalProperties: false
    PaymentMethodSetupResult:
      description: |-
        What the payment gateway's browser library needs in order to collect a card. There is
        no address to redirect to: the form is rendered in the page, and the card goes straight
        from the browser to the gateway.
      type: object
      properties:
        setup_id:
          description: |-
            The gateway's identifier for this attempt. Use it to tell a reloaded page apart
            from a second attempt.
          type: string
        payment_gateway:
          type: string
        action:
          description: Browser configuration and credentials for this card setup, including the provider's public key. No server secret is returned.
          $ref: '#/components/schemas/PaymentAction'
      required:
        - setup_id
        - payment_gateway
        - action
    PayRequest:
      description: |-
        Applies eligible credit grants and the available balance as requested, then collects only the remainder
        through the selected gateway. Grants restricted to other purchases are not counted as available funds.
        An unresolved channel payment is reused; retries do not apply the grant or balance portions twice.
        Without a gateway selection, insufficient account funds fail without starting an online payment.
      type: object
      properties:
        payment_gateway:
          description: Required to collect an online remainder. An existing attempt keeps its original gateway.
          type: string
          minLength: 1
          maxLength: 32
        method_type:
          description: Required with payment_gateway; for example card, wechat_pay or alipay.
          type: string
          minLength: 1
          maxLength: 64
        payment_method_id:
          description: Optional saved card owned by this billing account and belonging to the selected gateway. Omit to complete payment interactively.
          type: string
          format: uuid
        use_balance:
          description: |-
            Whether to apply the available balance. Credit grants are controlled separately by use_credits.
          type: boolean
          default: true
        use_credits:
          description: Apply eligible, unexpired credit grants before using the balance. This never withdraws grants or converts them into balance.
          type: boolean
          default: true
        return_url:
          type: string
      additionalProperties: false
    PayTogetherRequest:
      description: |-
        Name at least one invoice or order. They must all belong to the same account and share
        its currency; anything else is refused rather than partly paid.
      type: object
      properties:
        invoice_ids:
          type: array
          maxItems: 100
          items:
            type: string
            format: uuid
        order_ids:
          type: array
          maxItems: 100
          items:
            type: string
            format: uuid
      additionalProperties: false
    PaymentAction:
      description: The customer's next interaction. The gateway reports the actual payment outcome separately.
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum: [redirect, qr_code, sdk]
        provider:
          description: Identifies the browser adapter for an SDK action, for example stripe.
          type: string
        url:
          type: string
          format: uri
        qr_code:
          description: QR content to render and scan, not an image URL.
          type: string
        client_secret:
          description: Short-lived client credential for this payment's browser confirmation.
          type: string
        public_key:
          type: string
      additionalProperties: false
    PaymentStatus:
      description: |-
        The current payment outcome.

        succeeded means payment is complete. processing means confirmation is pending; poll the invoice or
        order rather than submitting another payment. requires_action means the customer must complete the
        supplied action. failed means the attempt did not succeed and failure_reason explains the outcome; a
        declined gateway payment is withdrawn at the gateway, and paying again starts a new payment with the
        same or another method.
      type: string
      enum:
        - succeeded
        - processing
        - requires_action
        - failed
    AppliedCredit:
      description: A credit grant and what it would pay.
      type: object
      required: [credit_grant_id, name, amount]
      properties:
        credit_grant_id:
          type: string
          format: uuid
        name:
          type: string
        amount:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
    PaymentPreviewInvoice:
      type: object
      required: [invoice_id, amount_due, credit_applied, balance_applied]
      properties:
        invoice_id:
          type: string
          format: uuid
        order_id:
          type:
            - string
            - "null"
          format: uuid
        amount_due:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        credit_applied:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
        balance_applied:
          $ref: ../../../type/v1/money.yaml#/components/schemas/Money
    PaymentPreview:
[...]
