openapi: 3.1.0
info:
  title: Leaflow 账号 API
  version: 1.0.0
  description: |-
    选中项目之前的那些事：注册、账号本身、我参与了哪些项目、进入一个项目。

    这一面用**账号令牌** —— 在 auth.leaflow.net 登录拿到的那张，放在 `Authorization: Bearer` 里。

    进入一个项目：

    1. 调 `GET /account/v1/projects` 列出参与的项目。首次调用会自动登记账号，姓名与邮箱取自登录信息；
    2. 选定项目后调 `POST /account/v1/projects/{projectId}/token` 换取**项目令牌**；
    3. 之后一律用项目令牌调各服务的 `/api/v1/*`。

    项目令牌过期后重新执行第 2 步，没有单独的续期接口；账号令牌过期则先在 auth.leaflow.net 续期。
servers:
  - url: https://account.leaflow.cloud
    description: Account, agreements, projects and project tokens
security:
  - bearerAuth: []
paths:
  /account/v1/settings:
    get:
      summary: 这个平台现在收不收人
      description: |-
        注册页和「新建项目」按钮用它决定画什么。不需要令牌。

        `registration_mode` 不是 `OPEN` 时 `POST /account/v1/register` 会答 403：`CLOSED` 是整个关着，`INVITE_ONLY` 是只收手上有项目邀请的邮箱。`project_creation_mode` 同理，`VERIFIED_ONLY` 要先过实名。

        两条配额是 0 表示不限。它们只用来提前提示，真正的判定在写入那一刻。
      operationId: get-settings
      tags:
        - Setting
      security: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/locales:
    get:
      summary: 注册页要用的国家/地区和语言清单
      description: >-
        免认证：注册页在还没有账号的时候就要画出这两个下拉框。

        国家名和排序都跟着 `Accept-Language` 走——一个英文用户看到的是 China 而不是「中国」，
        而顺序按那种语言自己的规则（中文按拼音，英文按字母），不是按码点。头缺失时用简体中文。

        清单来自 CLDR，不是我们自己维护的一份：ISO 3166 每年都改，而抄下来的那份不会跟着改。
        已经退役的代码（苏联、南斯拉夫）和不是地方的代码（欧盟、联合国）都不在里面。
      operationId: list-locales
      tags:
        - Account
      # 免认证。这一行不是可有可无的：kit 那份 Public 名单只管到 HTTP 中间件那一层，而生成的
      # 服务端自己还有一道 security 检查——少了它，这条路径答的是 500「security requirement is
      # not satisfied」，而那看起来像服务坏了，不像少了一行契约。
      security: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocaleOptionsResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/agreements:
    get:
      summary: 列出注册必须同意的文件
      description: |-
        注册页显示它，用户同意之后把每一项的 `type` 和 `version` 原样回传给 `POST /api/v1/register`。

        不需要令牌。还没有任何文件生效时返回空数组，那时注册不需要提交 `consents`。
      operationId: list-agreements
      tags:
        - Agreement
      security: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgreementListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/me/consents:
    get:
      summary: 列出我同意过的文件
      description: 全部记录，最新的在前，包括已经不是当前版本的那些。
      operationId: list-consents
      tags:
        - Agreement
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsentListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: 同意条款
      description: |-
        条款改版之后用它重新同意，`GET /api/v1/me` 的 `pending_agreements` 非空时就该调。

        只收当前生效的版本，签旧版答 409。重复提交同一版不报错，第一次那条记录会留着。
      operationId: accept-agreements
      tags:
        - Agreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptConsentsRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/register:
    post:
      summary: 注册账号
      description: |-
        在 auth.leaflow.net 登录之后调它，带上账号令牌。姓名和邮箱取自登录信息，不从请求体收。

        `consents` 要覆盖 `GET /api/v1/agreements` 返回的每一份，版本号也要一致；漏一份答 400，版本对不上答 409（多半是页面开着的时候条款改版了，重新拉一次清单即可）。已经注册过的答 409。
      operationId: register
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/me:
    get:
      summary: 查看当前账号
      description: '`pending_agreements` 是还没同意的文件，非空就要先引导用户同意，再调 `POST /api/v1/me/consents`。'
      operationId: get-account
      tags:
        - Account
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: 改当前账号的国家/地区和语言
      description: >-
        姓名和邮箱不在这里改：它们来自身份提供方，改了会在下一次登录同步时被覆盖回去。
      operationId: update-account
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/me/identity-verification:
    get:
      summary: 查看实名核验状态
      description: 没交过材料时答 UNVERIFIED，不是 404。姓名和证件号不会出现在任何响应里。
      operationId: get-identity-verification
      tags:
        - Account
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityVerificationResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: 提交实名核验材料
      description: 已经在等人审的和已经核过的都会被拒。被驳回之后可以改了再交。
      operationId: submit-identity-verification
      tags:
        - Account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitIdentityVerificationRequestBody'
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityVerificationResource'
          description: Accepted
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/me/invitations:
    get:
      summary: 列出寄给我的要约
      description: 按当前账号的邮箱查，因为要约是寄给一个地址的——被邀请的人当时可能还没注册。
      operationId: list-my-invitations
      tags:
        - Invitation
      parameters:
        - description: 这一页最多返回多少条
          explode: false
          in: query
          name: limit
          schema:
            default: 50
            description: 这一页最多返回多少条
            format: int64
            maximum: 100
            minimum: 1
            type: integer
        - description: 跳过多少条。要翻得更深请改用游标翻页的接口
          explode: false
          in: query
          name: offset
          schema:
            description: 跳过多少条。要翻得更深请改用游标翻页的接口
            format: int64
            maximum: 10000
            minimum: 0
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LengthAwarePageInvitationResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/me/invitations/by-token:
    get:
      summary: 看一眼这封邀请是谁发的、加入哪儿、什么角色
      description: >-
        免认证，而且是有意的：点邮件里那条链接的人多半还没登录，甚至还没有账号。要他先注册再
        告诉他这是谁发来的、加入哪个项目，等于让他在不知道要加入什么的情况下决定要不要注册。

        它不多泄露任何东西。 这三样——项目名、邀请人、角色——邮件正文里已经写着了，而读得到
        这个令牌的人就是收得到那封邮件的人。同一个令牌本来就能把持有者加进项目（见
        `accept-invitation-by-token`），读一个项目名比那件事轻得多。

        收件地址打了码（`t***@example.com`）。 不打码的话，这个接口就成了「拿一个令牌反查它
        当初寄给了哪个地址」——而那是邮件正文里没有、持有者也未必知道的一件事。

        令牌不存在、已经用过、被撤回、过期，四种情况同一个 404 和同一句话。分开报会把它变成
        一个可以拿来试令牌的探针，而这个接口免认证，任何人都试得起。
      operationId: preview-invitation-by-token
      tags:
        - Invitation
      security: []
      parameters:
        - description: 邀请链接里那串令牌
          explode: false
          in: query
          name: token
          required: true
          schema:
            maxLength: 128
            minLength: 1
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationPreviewResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/me/invitations/accept:
    post:
      summary: 顺着邀请链接接受
      description: token 对不上和这份要约已经不作数了是同一个回答：持有者对这两种情况能做的事完全一样，分开报会把这个接口变成一个可以拿来试 token 的探针。
      operationId: accept-invitation-by-token
      tags:
        - Invitation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptInvitationByTokenRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedInvitationResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/me/invitations/{invitationId}/accept:
    post:
      summary: 接受一份列在我名下的要约
      description: 不需要 token：token 证明的是「你就是这份要约寄给的那个人」，而当前账号的邮箱对得上这份要约，证明的是同一件事。
      operationId: accept-invitation
      tags:
        - Invitation
      parameters:
        - in: path
          name: invitationId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptedInvitationResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/projects:
    get:
      summary: 列出我参与的项目
      description: 默认不含已删除的项目——那些是已经不存在了的东西，要看必须明确用 status=DELETED 点名。
      operationId: list-projects
      tags:
        - Project
      parameters:
        - description: 这一页最多返回多少条
          explode: false
          in: query
          name: limit
          schema:
            default: 50
            description: 这一页最多返回多少条
            format: int64
            maximum: 100
            minimum: 1
            type: integer
        - description: 跳过多少条。要翻得更深请改用游标翻页的接口
          explode: false
          in: query
          name: offset
          schema:
            description: 跳过多少条。要翻得更深请改用游标翻页的接口
            format: int64
            maximum: 10000
            minimum: 0
            type: integer
        - description: 按名称或描述模糊匹配
          explode: false
          in: query
          name: keyword
          schema:
            description: 按名称或描述模糊匹配
            maxLength: 128
            type: string
        - description: 按对外状态过滤。不传时不返回已删除的项目
          explode: false
          in: query
          name: status
          schema:
            description: 按对外状态过滤。不传时不返回已删除的项目
            enum:
              - ACTIVE
              - SUSPENDED
              - BANNED
              - DELETING
              - DELETED
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LengthAwarePageProjectAccessResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: 建一个项目
      description: 建的人就是所有者。项目会连带预置 OWNER、ADMIN 两个内置角色和一个空权限的 member 角色。
      operationId: create-project
      tags:
        - Project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectAccessResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /account/v1/projects/{projectId}/token:
    post:
      summary: 换一张项目令牌
      description: |-
        选定一个项目后，用账号令牌换取该项目的令牌。

        **只接受 auth.leaflow.net 签发的账号令牌，不接受项目令牌。** 项目令牌过期后，先在 auth.leaflow.net 续期账号令牌，再重新调用这个接口。

        换取时会确认账号可用、项目存在，且**调用者是该项目的成员**。非成员无法换取。

        令牌只表明身份（用户与项目），**不包含权限**：权限在每次请求时实时判定，所以角色调整立即生效，不必等待令牌过期。

        项目处于停用、封禁或删除中时**仍可换取令牌**：这些状态限制的是写入，不影响查看项目当前状况。
      operationId: exchange-project-token
      tags:
        - ProjectToken
      parameters:
        - in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTokenResponseBody'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: 账号令牌。在 auth.leaflow.net 登录拿到的那张，只说明你是谁，不带任何项目；用它列出参与的项目，并换取项目令牌。
      scheme: bearer
      type: http
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    SettingsResource:
      additionalProperties: false
      properties:
        max_members_per_project:
          description: 一个项目最多几个成员，0 表示不限
          format: int64
          type: integer
        max_projects_per_user:
          description: 你最多能当几个项目的所有者，0 表示不限。已删除的项目不算在内
          format: int64
          type: integer
        project_creation_mode:
          description: VERIFIED_ONLY 要求先过实名，审核中不算
          enum:
            - OPEN
            - VERIFIED_ONLY
            - CLOSED
          type: string
        registration_mode:
          description: INVITE_ONLY 是只收手上有项目邀请的邮箱
          enum:
            - OPEN
            - INVITE_ONLY
            - CLOSED
          type: string
      required:
        - registration_mode
        - project_creation_mode
        - max_projects_per_user
        - max_members_per_project
      type: object
    AgreementResource:
      additionalProperties: false
      properties:
        effective_at:
          description: 从这一刻起注册必须同意这一版
          format: date-time
          type: string
        type:
          enum:
            - TERMS
            - PRIVACY
            - DPA
          type: string
        url:
          description: 正文发布在哪
          type: string
        version:
          description: 同意时原样回传这个值
          type: string
      required:
        - type
        - version
        - url
        - effective_at
      type: object
    AgreementListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/AgreementResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    ConsentResource:
      additionalProperties: false
      properties:
        consented_at:
          format: date-time
          type: string
        method:
          description: OFFLINE 是线下签的，由运营录入
          enum:
            - CLICKWRAP
            - OFFLINE
          type: string
        type:
          enum:
            - TERMS
            - PRIVACY
            - DPA
          type: string
        version:
          type: string
      required:
        - type
        - version
        - consented_at
        - method
      type: object
    ConsentListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/ConsentResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    ConsentBody:
      additionalProperties: false
      properties:
        type:
          enum:
            - TERMS
            - PRIVACY
            - DPA
          type: string
        version:
          minLength: 1
          maxLength: 32
          type: string
      required:
        - type
        - version
      type: object
    AcceptConsentsRequestBody:
      additionalProperties: false
      properties:
        consents:
          items:
            $ref: '#/components/schemas/ConsentBody'
          type:
            - array
            - 'null'
      required:
        - consents
      type: object
    AccountResource:
      additionalProperties: false
      properties:
        created_at:
          format: date-time
          type: string
        email:
          type: string
        email_verified_at:
          format: date-time
          type:
            - string
            - 'null'
        first_name:
          description: 来自登录信息，可能为空
          type: string
        id:
          description: 身份提供方签发的 subject
          type: string
        last_name:
          description: 来自登录信息，可能为空
          type: string
        country:
          description: >-
            ISO 3166-1 alpha-2。这两个字段是后加的，注册时才开始要求填——已经注册过的人这里
            是空串，让他们在设置里补，补之前一切照常。
          type: string
        locale:
          description: 为空表示没设过，那时按请求头（Accept-Language）走，两者都没有才用平台默认
          type: string
        pending_agreements:
          items:
            $ref: '#/components/schemas/AgreementResource'
          type:
            - array
            - 'null'
        status:
          enum:
            - ACTIVE
            - SUSPENDED
            - BANNED
            - DELETING
          type: string
      required:
        - id
        - email
        - first_name
        - last_name
        - status
        - email_verified_at
        - created_at
        - pending_agreements
      type: object
    RegisterRequestBody:
      additionalProperties: false
      properties:
        consents:
          description: 当前生效的必签文件全部要在里面，版本号要和 GET /api/v1/agreements 给的一致
          items:
            $ref: '#/components/schemas/ConsentBody'
          type:
            - array
            - 'null'
        country:
          description: >-
            ISO 3166-1 alpha-2（CN、HK、US）。必须是现实世界里真实存在的国家或地区——EU、ZZ
            这类在标准里有位置但不是国家的代码会被拒。存代码不存名字：名字是本地化的，存下来
            的那份只会是某一种语言的。
          maxLength: 2
          minLength: 2
          type: string
        locale:
          $ref: '#/components/schemas/Locale'
      required:
        - consents
        - country
        - locale
      type: object
    LocaleOptionsResource:
      additionalProperties: false
      properties:
        countries:
          items:
            $ref: '#/components/schemas/CountryOption'
          type: array
        languages:
          items:
            $ref: '#/components/schemas/LanguageOption'
          type: array
      required:
        - countries
        - languages
      type: object
    CountryOption:
      additionalProperties: false
      properties:
        code:
          description: ISO 3166-1 alpha-2，注册时原样回传
          type: string
        name:
          description: 按 Accept-Language 渲染的名字
          type: string
      required:
        - code
        - name
      type: object
    LanguageOption:
      additionalProperties: false
      properties:
        code:
          $ref: '#/components/schemas/Locale'
        name:
          description: >-
            这种语言的自称，用它自己写（「简体中文」「繁體中文（香港）」「English」）。不跟着
            Accept-Language 变——一个只看得懂繁体的人，在一个全简体的列表里找不到自己那一项。
          type: string
      required:
        - code
        - name
      type: object
    Locale:
      description: >-
        界面和邮件用哪种语言。它和 country 是两件事，不能互相推——一个在香港的人可能读简体，
        一个在美国的人可能读繁体。
      enum:
        - zh-Hans
        - zh-Hant-HK
        - en
      type: string
    UpdateAccountRequestBody:
      additionalProperties: false
      description: >-
        两个字段都是「不传就不动」。设置页上它们是两个独立的控件，用户可能只改其中一个；做成
        整体替换的话，一次只想改语言的提交会把国家清掉，而那种丢失不报错。
      properties:
        country:
          description: 同注册时那个 country
          maxLength: 2
          minLength: 2
          type: string
        locale:
          $ref: '#/components/schemas/Locale'
      type: object
    IdentityVerificationResource:
      additionalProperties: false
      properties:
        reject_reason:
          type: string
        status:
          description: PERSONAL 和 ENTERPRISE 是两类主体而不是两个等级，别拿它们比大小
          enum:
            - UNVERIFIED
            - PENDING
            - PERSONAL
            - ENTERPRISE
            - REJECTED
          type: string
        submitted_at:
          format: date-time
          type:
            - string
            - 'null'
        verified_at:
          format: date-time
          type:
            - string
            - 'null'
      required:
        - status
        - submitted_at
        - verified_at
        - reject_reason
      type: object
    SubmitIdentityVerificationRequestBody:
      additionalProperties: false
      properties:
        id_number:
          description: 证件号码。同上，而且同一个号码不能挂在两个账号上
          maxLength: 64
          minLength: 6
          type: string
        real_name:
          minLength: 1
          description: 真实姓名。敏感个人信息，加密入库，任何接口都不会再把它读出来
          maxLength: 128
          type: string
      required:
        - real_name
        - id_number
      type: object
    InvitationPreviewResource:
      additionalProperties: false
      description: >-
        一封邀请在被接受之前能给出的全部信息。

        它比 InvitationResource 少两样：要约 id 和完整的收件地址。id 不给是因为持有令牌不等于
        这封要约列在你名下——真正列在你名下的那些走 list-my-invitations，那条是认过身份的。
      properties:
        email_masked:
          description: 打过码的收件地址，只够收件人认出「这是发给我的」
          type: string
        expires_at:
          format: date-time
          type: string
        invited_by_name:
          description: 邀请人的显示名，姓名都空时是他的邮箱
          type: string
        project_name:
          type: string
        role_names:
          description: 接受之后会拿到的角色，显示名
          items:
            type: string
          type:
            - array
            - 'null'
      required:
        - project_name
        - invited_by_name
        - role_names
        - email_masked
        - expires_at
      type: object
    InvitationResource:
      additionalProperties: false
      properties:
        created_at:
          format: date-time
          type: string
        email:
          type: string
        expires_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        invited_by:
          description: 发出这份要约的账号 id
          type: string
        invited_by_name:
          description: 发出这份要约的人的显示名，姓名都空时是他的邮箱。它是读取那一刻的事实，不是发信时的快照
          type: string
        project_id:
          format: uuid
          type: string
        project_name:
          description: >-
            目标项目的名字。

            它在这里，而这一度是刻意不给的——理由是「没接受就不是成员，而名字只有成员能读」。
            那条克制在这个场景下站不住：邀请邮件正文里就写着项目名，收件人早就知道了，而一个
            只显示 uuid 的邀请列表让人没法判断该不该接受。
          type: string
        roles:
          description: 兑现时会授予的角色编码
          items:
            type: string
          type:
            - array
            - 'null'
        role_names:
          description: 上面那些编码的显示名，按同样的顺序。读者看的是「管理员」，不是 ADMIN
          items:
            type: string
          type:
            - array
            - 'null'
      required:
        - id
        - project_id
        - project_name
        - email
        - roles
        - role_names
        - invited_by
        - invited_by_name
        - expires_at
        - created_at
      type: object
    LengthAwarePageInvitationResource:
      additionalProperties: false
      properties:
        items:
          description: 这一页的内容
          items:
            $ref: '#/components/schemas/InvitationResource'
          type: array
        limit:
          description: 这一页最多几条，回显请求里的值
          format: int64
          type: integer
        offset:
          description: 跳过了多少条，回显请求里的值
          format: int64
          type: integer
        total:
          description: 命中的总条数，不只是这一页
          format: int64
          type: integer
      required:
        - items
        - total
        - limit
        - offset
      type: object
    AcceptInvitationByTokenRequestBody:
      additionalProperties: false
      properties:
        token:
          maxLength: 128
          minLength: 1
          type: string
      required:
        - token
      type: object
    ProjectResource:
      additionalProperties: false
      properties:
        ban_reason:
          type: string
        created_at:
          format: date-time
          type: string
        created_by:
          type: string
        deleted_at:
          description: 盖上墓碑的那一刻
          format: date-time
          type:
            - string
            - 'null'
        description:
          type: string
        id:
          format: uuid
          type: string
        name:
          type: string
        overdue_at:
          description: 欠费的起始时间
          format: date-time
          type:
            - string
            - 'null'
        status:
          enum:
            - ACTIVE
            - SUSPENDED
            - BANNED
            - DELETING
            - DELETED
          type: string
        status_reason:
          description: 给人看的，不参与任何查询
          type: string
        updated_at:
          format: date-time
          type: string
      required:
        - id
        - name
        - description
        - status
        - status_reason
        - ban_reason
        - overdue_at
        - deleted_at
        - created_by
        - created_at
        - updated_at
      type: object
    AcceptedInvitationResponseBody:
      additionalProperties: false
      properties:
        project:
          $ref: '#/components/schemas/ProjectResource'
      required:
        - project
      type: object
    GrantResource:
      additionalProperties: false
      properties:
        admin:
          type: boolean
        owner:
          type: boolean
        roles:
          description: 持有的角色编码，只用于展示
          items:
            type: string
          type:
            - array
            - 'null'
        rules:
          description: >-
            他全部策略编译出来的规则。**不要自己遍历它做判定**——拿它配上自己那份权限目录交给
            pkg/rbac：那里面的顺序（所有者不可被 deny、deny 优先于管理员、带资源范围的规则不
            参与项目级判定）每一条都对着一种会静默放行的写法。
          items:
            $ref: '#/components/schemas/RuleResource'
          type:
            - array
            - 'null'
      required:
        - owner
        - admin
        - rules
        - roles
      type: object
    ResourceRefResource:
      additionalProperties: false
      properties:
        id:
          description: >-
            是字符串而不是 uuid：dns 的 zone 标识是一个域名，而且它根本不在 IAM 的库里。匹配
            语义是 glob，所以 *.example.com 能表达一批子域名；uuid 和域名都不含 glob 元字符，
            对它们来说这就是精确相等。
          type: string
        type:
          description: 形如 compute:instance、dns:zone，和权限名同一个命名空间
          type: string
      required:
        - type
        - id
      type: object
    RuleResource:
      additionalProperties: false
      properties:
        effect:
          enum:
            - allow
            - deny
          type: string
        permissions:
          description: 支持尾部通配（compute:instance.*），通配必须带服务前缀
          items:
            type: string
          type:
            - array
            - 'null'
        resources:
          description: >-
            为空表示这条规则在整个项目范围内成立；非空则表示它只在这些资源上成立，而那意味着
            它回答不了项目级的问题。
          items:
            $ref: '#/components/schemas/ResourceRefResource'
          type:
            - array
            - 'null'
      required:
        - effect
        - permissions
        - resources
      type: object
    ProjectAccessResource:
      additionalProperties: false
      properties:
        grant:
          $ref: '#/components/schemas/GrantResource'
        project:
          $ref: '#/components/schemas/ProjectResource'
      required:
        - project
        - grant
      type: object
    LengthAwarePageProjectAccessResource:
      additionalProperties: false
      properties:
        items:
          description: 这一页的内容
          items:
            $ref: '#/components/schemas/ProjectAccessResource'
          type: array
        limit:
          description: 这一页最多几条，回显请求里的值
          format: int64
          type: integer
        offset:
          description: 跳过了多少条，回显请求里的值
          format: int64
          type: integer
        total:
          description: 命中的总条数，不只是这一页
          format: int64
          type: integer
      required:
        - items
        - total
        - limit
        - offset
      type: object
    CreateProjectRequestBody:
      additionalProperties: false
      properties:
        description:
          maxLength: 2000
          type: string
        name:
          maxLength: 128
          minLength: 1
          type: string
      required:
        - name
      type: object
    ProjectTokenResponseBody:
      additionalProperties: false
      properties:
        expires_at:
          description: 过期时刻。到点之前拿用户身份再换一张，别等第一个 401
          format: date-time
          type: string
        expires_in:
          description: 还能活多少秒
          format: int64
          type: integer
        grant:
          description: '**这一份是此刻的快照，不在令牌里，也不要缓存它。** 它只用来决定界面上画什么；真正的判定每次都要重新问'
          $ref: '#/components/schemas/GrantResource'
        project:
          description: 顺带带上项目本身，省掉换完之后立刻再查一次
          $ref: '#/components/schemas/ProjectResource'
        token:
          description: '项目令牌，放进 Authorization: Bearer 里用'
          type: string
        token_type:
          description: 固定是 Bearer
          type: string
      required:
        - token
        - token_type
        - expires_at
        - expires_in
        - project
        - grant
      type: object
