openapi: 3.1.0
info:
  title: Leaflow Account API
  version: 1.0.0
  description: |-
    Everything that comes before a project is chosen: registration, the account itself, the projects the caller belongs to, and entry into one of them.

    ## Authentication

    Every request carries `Authorization: Bearer <access token>`, obtained by signing in at auth.leaflow.net. The endpoints that need no token say so.

    ## Entering a project

    1. `GET /account/v1/projects` lists the projects the caller belongs to. The first call registers the account, taking the name and email address from the sign-in claims.
    2. `POST /account/v1/projects/{projectId}/scoped-tokens` returns a scoped token for the project chosen.
    3. Every other service is called with that scoped token.

    A scoped token cannot be renewed. Repeat step 2 for a new one, and sign in again at auth.leaflow.net once the access token itself has expired.
servers:
  - url: https://account.leaflow.cloud
    description: Account, agreements, projects and scoped tokens
security:
  - bearerAuth: []
paths:
  /account/v1/settings:
    get:
      summary: Get registration and project creation settings
      description: |-
        No token required.

        While `registration_mode` is not `OPEN`, `POST /account/v1/register` answers 403: `CLOSED` refuses everyone, and `INVITE_ONLY` accepts only an email address holding a project invitation. `project_creation_mode` behaves the same way, and `VERIFIED_ONLY` requires identity verification to have completed.

        Both quotas are `0` when unlimited. The decision itself is made at the moment of writing.
      operationId: get-settings
      tags:
        - Setting
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingsResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/locales:
    get:
      summary: List countries and languages for registration
      description: |-
        No token required: the registration page renders both lists before an account exists.

        Country names and their order follow `Accept-Language`. A name is rendered in the requested language and the list is ordered by the rules of that language rather than by code point. Simplified Chinese applies when the header is absent.

        Retired codes such as the Soviet Union and Yugoslavia, and codes that denote no country such as the European Union, are not listed.
      operationId: list-locales
      tags:
        - Account
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocaleOptionsResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/agreements:
    get:
      summary: List the agreements registration requires
      description: |-
        No token required. Send the `type` and `version` of each one back unchanged to `POST /account/v1/register`.

        The array is empty while no agreement is in force, and registration then takes no `consents`.
      operationId: list-agreements
      tags:
        - Agreement
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgreementListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/me/consents:
    get:
      summary: List the agreements the caller has consented to
      description: Every record, most recent first, including versions that are no longer current.
      operationId: list-consents
      tags:
        - Agreement
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsentListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Consent to the current agreements
      description: |-
        Call this once a new version is published, which is whenever `pending_agreements` on `GET /account/v1/me` is not empty.

        Only the version currently in force is accepted; consenting to an earlier one answers 409. Submitting the same version twice is not an error and leaves the first record in place.
      operationId: accept-agreements
      tags:
        - Agreement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptConsentsRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/register:
    post:
      summary: Register an account
      description: |-
        Call this after signing in at auth.leaflow.net, carrying the access token. The name and email address are taken from the sign-in claims and are not read from the request body.

        `consents` must cover every agreement returned by `GET /account/v1/agreements`, at the same versions. A missing agreement answers 400 and a stale version answers 409, in which case fetch the list again. An account that already exists answers 409.
      operationId: register
      tags:
        - Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/me:
    get:
      summary: Get the current account
      description: "`pending_agreements` holds the agreements not yet consented to. While it is not empty, obtain consent and call `POST /account/v1/me/consents`."
      operationId: get-account
      tags:
        - Account
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update the country and language of the current account
      description: The name and email address cannot be changed here. They come from the identity provider, and a change would be overwritten at the next sign-in.
      operationId: update-account
      tags:
        - Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/me/identity-verification:
    get:
      summary: Get identity verification status
      description: The status is `UNVERIFIED` rather than 404 when nothing has been submitted. The legal name and the document number appear in no response.
      operationId: get-identity-verification
      tags:
        - Account
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityVerificationResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Submit identity verification
      description: A submission awaiting review, and an account already verified, are both refused. A rejected submission may be corrected and sent again.
      operationId: submit-identity-verification
      tags:
        - Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitIdentityVerificationRequestBody"
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityVerificationResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/me/invitations:
    get:
      summary: List invitations addressed to the caller
      description: Matched against the email address of the current account.
      operationId: list-my-invitations
      tags:
        - Invitation
      parameters:
        - name: limit
          in: query
          description: Maximum number of items in this page
          explode: false
          schema:
            description: Maximum number of items in this page
            type: integer
            format: int64
            default: 50
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of items to skip. Use the cursor-paged endpoint to page deeper
          explode: false
          schema:
            description: Number of items to skip. Use the cursor-paged endpoint to page deeper
            type: integer
            format: int64
            minimum: 0
            maximum: 10000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LengthAwarePageInvitationResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/invitations/by-token:
    get:
      summary: Preview an invitation by its token
      description: |-
        No token required: whoever follows the link in an invitation email has usually not signed in, and may hold no account at all.

        The recipient address is masked (`t***@example.com`).

        A token that does not exist, one already redeemed, one revoked and one expired all answer the same 404.
      operationId: preview-invitation-by-token
      tags:
        - Invitation
      security: []
      parameters:
        - name: token
          in: query
          required: true
          description: The token carried by the invitation link
          explode: false
          schema:
            type: string
            minLength: 1
            maxLength: 128
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationPreviewResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/me/invitations/accept:
    post:
      summary: Accept an invitation by its token
      description: A token that does not match, and an invitation that no longer stands, answer the same way.
      operationId: accept-invitation-by-token
      tags:
        - Invitation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptInvitationByTokenRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedInvitationResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/me/invitations/{invitationId}/accept:
    post:
      summary: Accept an invitation listed against the caller
      description: No token is required; the invitation is addressed to the email address of the current account.
      operationId: accept-invitation
      tags:
        - Invitation
      parameters:
        - name: invitationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedInvitationResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/projects:
    get:
      summary: List the projects the caller belongs to
      description: Deleted projects are excluded unless `status=DELETED` asks for them by name.
      operationId: list-projects
      tags:
        - Project
      parameters:
        - name: limit
          in: query
          description: Maximum number of items in this page
          explode: false
          schema:
            description: Maximum number of items in this page
            type: integer
            format: int64
            default: 50
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of items to skip. Use the cursor-paged endpoint to page deeper
          explode: false
          schema:
            description: Number of items to skip. Use the cursor-paged endpoint to page deeper
            type: integer
            format: int64
            minimum: 0
            maximum: 10000
        - name: keyword
          in: query
          description: Matches against name or description
          explode: false
          schema:
            description: Matches against name or description
            type: string
            maxLength: 128
        - name: status
          in: query
          description: Filters by external status. Deleted projects are excluded while this is absent
          explode: false
          schema:
            description: Filters by external status. Deleted projects are excluded while this is absent
            type: string
            enum:
              - ACTIVE
              - SUSPENDED
              - BANNED
              - DELETING
              - DELETED
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LengthAwarePageProjectAccessResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a project
      description: The caller becomes its owner. The project is created with the built-in `OWNER` and `ADMIN` roles and a `member` role carrying no permissions.
      operationId: create-project
      tags:
        - Project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectAccessResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /account/v1/projects/{projectId}/scoped-tokens:
    post:
      summary: Exchange the access token for a scoped token
      description: |-
        Once a project has been chosen, exchange the access token for a scoped token for that project.

        **Only an access token issued by auth.leaflow.net is accepted; a scoped token is not.** Once a scoped token has expired, obtain a fresh access token at auth.leaflow.net and call this endpoint again.

        The exchange confirms that the account is usable, that the project exists, and that the caller is a member of it. A caller who is not a member obtains no token.

        A scoped token states identity only — the user and the project — and **carries no permissions**. Permissions are evaluated on every request, so a change of role takes effect immediately rather than at the next expiry.

        A project that is suspended, banned or being deleted still issues tokens; those states restrict writes, and the project remains readable.
      operationId: create-scoped-token
      tags:
        - ScopedToken
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScopedTokenResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    bearerAuth:
      $ref: ../../type/v1/security.yaml#/components/securitySchemes/AccessToken
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    SettingsResource:
      type: object
      properties:
        max_members_per_project:
          description: Maximum number of members a project may hold; 0 means unlimited
          type: integer
          format: int64
        max_projects_per_user:
          description: Maximum number of projects an account may own; 0 means unlimited. Deleted projects do not count
          type: integer
          format: int64
        project_creation_mode:
          description: VERIFIED_ONLY requires identity verification to have completed; a submission under review does not qualify
          type: string
          enum:
            - OPEN
            - VERIFIED_ONLY
            - CLOSED
        registration_mode:
          description: INVITE_ONLY accepts only an email address holding a project invitation
          type: string
          enum:
            - OPEN
            - INVITE_ONLY
            - CLOSED
      required:
        - registration_mode
        - project_creation_mode
        - max_projects_per_user
        - max_members_per_project
      additionalProperties: false
    AgreementResource:
      type: object
      properties:
        effective_at:
          description: From this moment on, registration requires this version
          type: string
          format: date-time
        type:
          type: string
          enum:
            - TERMS
            - PRIVACY
            - DPA
        url:
          description: Where the text is published
          type: string
        version:
          description: Send this value back unchanged when consenting
          type: string
      required:
        - type
        - version
        - url
        - effective_at
      additionalProperties: false
    AgreementListResponseBody:
      type: object
      properties:
        items:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/AgreementResource"
      required:
        - items
      additionalProperties: false
    ConsentResource:
      type: object
      properties:
        consented_at:
          type: string
          format: date-time
        method:
          description: OFFLINE is a consent given off the platform and recorded by an operator
          type: string
          enum:
            - CLICKWRAP
            - OFFLINE
        type:
          type: string
          enum:
            - TERMS
            - PRIVACY
            - DPA
        version:
          type: string
      required:
        - type
        - version
        - consented_at
        - method
      additionalProperties: false
    ConsentListResponseBody:
      type: object
      properties:
        items:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/ConsentResource"
      required:
        - items
      additionalProperties: false
    ConsentBody:
      type: object
      properties:
        type:
          type: string
          enum:
            - TERMS
            - PRIVACY
            - DPA
        version:
          type: string
          minLength: 1
          maxLength: 32
      required:
        - type
        - version
      additionalProperties: false
    AcceptConsentsRequestBody:
      type: object
      properties:
        consents:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/ConsentBody"
      required:
        - consents
      additionalProperties: false
    AccountResource:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        email:
          type: string
        email_verified_at:
          type:
            - string
            - "null"
          format: date-time
        first_name:
          description: Taken from the sign-in claims; may be empty
          type: string
        id:
          description: The subject issued by the identity provider
          type: string
        last_name:
          description: Taken from the sign-in claims; may be empty
          type: string
        country:
          description: ISO 3166-1 alpha-2. Empty on an account that registered before this was required; such an account continues to work and can set it from the settings page
          type: string
        locale:
          description: Empty while never set, in which case `Accept-Language` applies, and the platform default when that is absent as well
          type: string
        pending_agreements:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/AgreementResource"
        status:
          type: string
          enum:
            - ACTIVE
            - SUSPENDED
            - BANNED
            - DELETING
      required:
        - id
        - email
        - first_name
        - last_name
        - status
        - email_verified_at
        - created_at
        - pending_agreements
      additionalProperties: false
    RegisterRequestBody:
      type: object
      properties:
        consents:
          description: Must cover every agreement currently in force, at the versions returned by GET /account/v1/agreements
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/ConsentBody"
        country:
          description: ISO 3166-1 alpha-2 (CN, HK, US). Must denote a country or territory that exists; codes such as EU and ZZ hold a place in the standard without denoting one and are refused
          type: string
          minLength: 2
          maxLength: 2
        locale:
          $ref: "#/components/schemas/Locale"
      required:
        - consents
        - country
        - locale
      additionalProperties: false
    LocaleOptionsResource:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: "#/components/schemas/CountryOption"
        languages:
          type: array
          items:
            $ref: "#/components/schemas/LanguageOption"
      required:
        - countries
        - languages
      additionalProperties: false
    CountryOption:
      type: object
      properties:
        code:
          description: ISO 3166-1 alpha-2, sent back unchanged at registration
          type: string
        name:
          description: The name rendered according to `Accept-Language`
          type: string
      required:
        - code
        - name
      additionalProperties: false
    LanguageOption:
      type: object
      properties:
        code:
          $ref: "#/components/schemas/Locale"
        name:
          description: The endonym of the language, written in that language itself. It does not follow `Accept-Language`
          type: string
      required:
        - code
        - name
      additionalProperties: false
    Locale:
      description: The language used for the interface and for email. It is independent of `country`, and neither can be inferred from the other
      type: string
      enum:
        - zh-Hans
        - zh-Hant-HK
        - en
    UpdateAccountRequestBody:
      description: Both fields are optional, and an omitted field is left unchanged
      type: object
      properties:
        country:
          description: As at registration
          type: string
          minLength: 2
          maxLength: 2
        locale:
          $ref: "#/components/schemas/Locale"
      additionalProperties: false
    IdentityVerificationResource:
      type: object
      properties:
        reject_reason:
          type: string
        status:
          description: PERSONAL and ENTERPRISE are two kinds of subject rather than two levels, and are not ordered
          type: string
          enum:
            - UNVERIFIED
            - PENDING
            - PERSONAL
            - ENTERPRISE
            - REJECTED
        submitted_at:
          type:
            - string
            - "null"
          format: date-time
        verified_at:
          type:
            - string
            - "null"
          format: date-time
      required:
        - status
        - submitted_at
        - verified_at
        - reject_reason
      additionalProperties: false
    SubmitIdentityVerificationRequestBody:
      type: object
      properties:
        id_number:
          description: The document number. It is returned by no endpoint, and one number cannot be attached to two accounts
          type: string
          minLength: 6
          maxLength: 64
        real_name:
          description: The legal name. It is returned by no endpoint
          type: string
          minLength: 1
          maxLength: 128
      required:
        - real_name
        - id_number
      additionalProperties: false
    InvitationPreviewResource:
      description: What an invitation states before it is accepted. It carries neither the invitation id nor the full recipient address; the invitations listed against the current account are returned by `list-my-invitations`
      type: object
      properties:
        email_masked:
          description: The masked recipient address, enough for the recipient to recognise it
          type: string
        expires_at:
          type: string
          format: date-time
        invited_by_name:
          description: The display name of the sender, or their email address when no name is set
          type: string
        project_name:
          type: string
        role_names:
          description: The display names of the roles granted on acceptance
          type:
            - array
            - "null"
          items:
            type: string
      required:
        - project_name
        - invited_by_name
        - role_names
        - email_masked
        - expires_at
      additionalProperties: false
    InvitationResource:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        email:
          type: string
        expires_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        invited_by:
          description: The id of the account that issued the invitation
          type: string
        invited_by_name:
          description: The display name of that account, or its email address when no name is set. It reflects the value at the time of reading rather than at the time the invitation was sent
          type: string
        project_id:
          type: string
          format: uuid
        project_name:
          description: The name of the target project
          type: string
        roles:
          description: The role codes granted on acceptance
          type:
            - array
            - "null"
          items:
            type: string
        role_names:
          description: The display names of those codes, in the same order
          type:
            - array
            - "null"
          items:
            type: string
      required:
        - id
        - project_id
        - project_name
        - email
        - roles
        - role_names
        - invited_by
        - invited_by_name
        - expires_at
        - created_at
      additionalProperties: false
    LengthAwarePageInvitationResource:
      type: object
      properties:
        items:
          description: The items in this page
          type: array
          items:
            $ref: "#/components/schemas/InvitationResource"
        limit:
          description: Maximum number of items in this page, echoing the request
          type: integer
          format: int64
        offset:
          description: Number of items skipped, echoing the request
          type: integer
          format: int64
        total:
          description: Total number of matches, not only this page
          type: integer
          format: int64
      required:
        - items
        - total
        - limit
        - offset
      additionalProperties: false
    AcceptInvitationByTokenRequestBody:
      type: object
      properties:
        token:
          description: The token carried by the invitation link
          type: string
          minLength: 1
          maxLength: 128
      required:
        - token
      additionalProperties: false
    ProjectResource:
      type: object
      properties:
        ban_reason:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        deleted_at:
          description: When the project was deleted
          type:
            - string
            - "null"
          format: date-time
        description:
          type: string
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum:
            - ACTIVE
            - SUSPENDED
            - BANNED
            - DELETING
            - DELETED
        status_reason:
          description: Written for a reader; it takes part in no query
          type: string
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - name
        - description
        - status
        - status_reason
        - ban_reason
        - deleted_at
        - created_by
        - created_at
        - updated_at
      additionalProperties: false
    AcceptedInvitationResponseBody:
      type: object
      properties:
        project:
          $ref: "#/components/schemas/ProjectResource"
      required:
        - project
      additionalProperties: false
    GrantResource:
      type: object
      properties:
        admin:
          type: boolean
        owner:
          type: boolean
        roles:
          description: The role codes held, for display only
          type:
            - array
            - "null"
          items:
            type: string
        rules:
          description: "**Do not walk these rules to reach a decision.** They are compiled from every policy that applies to the caller, and serve to render what a user may do. Each request is decided by the service handling it"
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/RuleResource"
      required:
        - owner
        - admin
        - rules
        - roles
      additionalProperties: false
    ResourceRefResource:
      type: object
      properties:
        id:
          description: A string rather than a UUID; a DNS zone, for one, is named by its domain. Matching is glob, so `*.example.com` covers a set of subdomains, while a value carrying no glob metacharacter matches exactly
          type: string
        type:
          description: Of the form compute:instance or dns:zone, in the same namespace as permission names
          type: string
      required:
        - type
        - id
      additionalProperties: false
    RuleResource:
      type: object
      properties:
        effect:
          type: string
          enum:
            - allow
            - deny
        permissions:
          description: A trailing wildcard is supported (compute:instance.*), and must carry the service prefix
          type:
            - array
            - "null"
          items:
            type: string
        resources:
          description: Empty means the rule holds across the whole project. While it is not empty the rule holds only on those resources, and therefore answers no project-level question
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/ResourceRefResource"
      required:
        - effect
        - permissions
        - resources
      additionalProperties: false
    ProjectAccessResource:
      type: object
      properties:
        grant:
          $ref: "#/components/schemas/GrantResource"
        project:
          $ref: "#/components/schemas/ProjectResource"
      required:
        - project
        - grant
      additionalProperties: false
    LengthAwarePageProjectAccessResource:
      type: object
      properties:
        items:
          description: The items in this page
          type: array
          items:
            $ref: "#/components/schemas/ProjectAccessResource"
        limit:
          description: Maximum number of items in this page, echoing the request
          type: integer
          format: int64
        offset:
          description: Number of items skipped, echoing the request
          type: integer
          format: int64
        total:
          description: Total number of matches, not only this page
          type: integer
          format: int64
      required:
        - items
        - total
        - limit
        - offset
      additionalProperties: false
    CreateProjectRequestBody:
      type: object
      properties:
        description:
          type: string
          maxLength: 2000
        name:
          type: string
          minLength: 1
          maxLength: 128
      required:
        - name
      additionalProperties: false
    ScopedTokenResponseBody:
      type: object
      properties:
        expires_at:
          description: When the token expires. Exchange for a new one before then rather than waiting for the first 401
          type: string
          format: date-time
        expires_in:
          description: Seconds remaining before expiry
          type: integer
          format: int64
        grant:
          $ref: "#/components/schemas/GrantResource"
          description: "**A snapshot taken at the moment of the exchange. It is not carried in the token, and must not be cached.** It serves to render what a user may do; each request is decided again"
        project:
          $ref: "#/components/schemas/ProjectResource"
          description: The project itself, so that no further lookup is needed after the exchange
        token:
          description: "The scoped token, to be sent as `Authorization: Bearer`"
          type: string
        token_type:
          description: Always `Bearer`
          type: string
      required:
        - token
        - token_type
        - expires_at
        - expires_in
        - project
        - grant
      additionalProperties: false
