openapi: 3.1.0
info:
  title: Leaflow Compute API
  version: 2.0.0
  description: Compute resource management. Each request requires an IAM scoped token. The current project comes
    only from that token. Resource changes are asynchronous; read the resource or Billing order to observe completion.
    Released tenant resources are retained as history. Location fields contain Fleet IDs. Capacity, upstream quota,
    unknown capacity and Billing sellable quota failures have distinct error codes.
servers:
  - url: https://compute.leaflow.cloud
security:
  - bearerAuth: []
paths:
  /api/v1/images:
    get:
      summary: List images on sale
      description: 'An image whose `min_ram_mb` exceeds the memory of the selected instance type cannot boot. Filter
        the options accordingly.


        Only images currently on sale are listed. An image the platform withdraws disappears from here and can no
        longer install new instances, while the instances already running it keep running and can still be rebuilt
        onto it.'
      operationId: list-images
      tags:
        - Catalog
      parameters:
        - name: region_id
          in: query
          required: true
          explode: false
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageListResponseBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instance-types:
    get:
      summary: List instance types on sale
      description: Only instance types currently on sale are listed. A withdrawn one disappears from here and can
        no longer be ordered, while the instances already running it keep running.
      operationId: list-instance-types
      tags:
        - Catalog
      parameters:
        - name: region_id
          in: query
          required: true
          explode: false
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceTypeListResponseBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances:
    get:
      summary: List instances
      description: Every instance in the project, newest first. This endpoint does not query backend state; for
        the accurate state of one instance, use the retrieve endpoint.
      operationId: list-instances
      tags:
        - Instance
      parameters:
        - name: label
          in: query
          description: Only instances carrying this label, written as `key:value` — for example `env:prod`. Both
            halves are matched exactly
          explode: false
          schema:
            description: A label to filter by, written as `key:value`
            type: string
            maxLength: 128
        - name: page
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceListResponseBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create instances
      description: Creates a Billing order, including for metered pricing. The price must belong to the resource’s
        Billing Plan; applicable contract pricing is resolved by Billing. Technical capacity is checked before sellable
        quota is reserved. Provisioning continues automatically after payment; do not submit a new purchase after
        paying. Reuse the original idempotency key after an uncertain response. Exactly one of image_id, private_image_id
        or boot_disk_id is required, and exactly one of port_id or subnet_id. Existing ports, boot disks or floating
        IPs require count=1. Image boots require boot_disk; existing disks retain their own subscription. Resource
        lines for Compute, Storage and Fabric remain separate subscriptions on the same order.
      operationId: launch-instance
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaunchInstanceRequestBody'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchInstanceResponseBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}:
    get:
      summary: Retrieve an instance
      description: Queries the current state of the instance, which makes it slower but more accurate than the list
        endpoint. Use it to poll creation progress.
      operationId: get-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Rename an instance
      description: Changes the display name only. The hostname inside the instance is unchanged; it equals the instance
        id.
      operationId: rename-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameInstanceRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Release an instance
      description: 'The system disk is deleted with the instance, and **snapshots created from the system disk are
        deleted with it**. Data disks are detached and kept, and their snapshots and backups are unaffected. The
        primary network interface is released with the instance.


        An instance being captured as a private image cannot be released. Wait for the capture to finish, or delete
        that image first.'
      operationId: delete-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/commands:
    post:
      summary: Run a command on an instance
      description: 'Runs one command over SSH and returns what it wrote. **This is not a shell.** There is no terminal,
        no standard input and no way to answer a prompt: a command that waits for input produces nothing and is
        killed at the timeout. Chain steps with `&&`, or write a script and run that.


        **A command that fails is still a 200.** Its failure is its own result, not this endpoint''s: read `exit_code`
        for what it exited with and `stderr` for what it said, and decide from those. A `grep` that matches nothing
        exits 1 and is a perfectly successful call.


        The status therefore answers a different question — did the command run at all. A non-2xx means it did not,
        and nothing about the instance was changed by this request: it was suspended, not running or had no floating
        IP; or it refused the platform key; or the connection could not be opened. Retrying is meaningful in those
        cases and is not for a non-zero `exit_code`.


        Three conditions must hold; the instance is unreachable otherwise:


        - it is `running`

        - a floating IP is bound to it, since this endpoint connects over the public internet

        - its security group permits inbound TCP 22


        Authentication uses the key the platform attaches to every instance at creation, so nothing has to be set
        up first. The instance must have applied that key at first boot, which images without a full cloud-init
        do not do.


        **Do not pass secrets in the command.** Read them from a file on the instance instead: neither the command
        nor its output is a confidential channel.


        Each stream is capped at 1 MiB. Beyond that the rest is discarded and `truncated` is true.'
      operationId: run-instance-command
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunCommandRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResultResponseBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/console:
    post:
      summary: Open a remote console
      description: 'Operates the instance directly from a browser and does not require the instance to be reachable
        over the network, which makes it usable when a network misconfiguration prevents login.


        The returned address is single-use and expires within minutes. **Do not cache it**; request a new one before
        each use.'
      operationId: open-instance-console
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleResponseBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/console-output:
    get:
      summary: Read the console output
      description: 'The raw text produced by the instance during boot and by the kernel. Consult it first when login
        fails or the remote console shows no output: it reveals where boot stopped, whether the system disk was
        mounted, and whether initialisation reported errors.


        Instances in an error state, and instances suspended by the platform, can be read as well.'
      operationId: get-instance-console-output
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: lines
          in: query
          description: Number of trailing lines to return; 0 returns the entire output
          explode: false
          schema:
            description: Number of trailing lines to return; 0 returns the entire output
            type: integer
            format: int64
            default: 200
            minimum: 0
            maximum: 10000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleOutputResponseBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/labels:
    put:
      summary: Replace an instance's labels
      description: 'Records what this instance is for, as key-value pairs. Nothing on the platform reads them.


        **The whole set is replaced**: whatever is absent from the request is removed.


        Do not put credentials here. Labels are visible to platform operators.'
      operationId: set-instance-labels
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetInstanceLabelsRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/notes:
    put:
      summary: Replace an instance's note
      description: 'A free-text note about this instance — what it runs, and what to be careful about before touching
        it.


        **The whole note is replaced**; send an empty string to clear it.


        Do not put credentials here. The note is visible to platform operators.'
      operationId: set-instance-notes
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetInstanceNotesRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/password:
    post:
      summary: Reset the login password
      description: 'Changes the root password without a reboot. The instance must be running.


        **Not every image supports this.** Images whose `supports_password_reset` is false cannot, and a new password
        can then only be set by rebuilding the instance, which erases all data on the system disk.


        The request is also rejected when the image is marked as supported but the corresponding component has been
        removed or stopped inside the instance.'
      operationId: reset-instance-password
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponseBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/reboot:
    post:
      summary: Reboot an instance
      description: 'A reboot defaults to soft, in which the operating system shuts down normally before starting
        again.


        A soft reboot has no effect once the system is unresponsive. Set `force` to reboot forcibly: a forced reboot
        does not wait for the operating system to shut down, so **unwritten data is lost**.


        A forced reboot is accepted while the instance is already `rebooting`, which is the way out of a soft reboot
        the instance never carried out. Every other endpoint refuses an instance in a transient state, and a second
        soft reboot is refused as well.


        An instance suspended by the platform must be unsuspended first.


        This endpoint returns immediately and the `status` it returns is the transient `rebooting`. Poll the instance
        until it settles at `running`.'
      operationId: reboot-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RebootInstanceRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/rebuild:
    post:
      summary: Rebuild an instance
      description: '**All data on the system disk is erased and cannot be recovered.** Attached data disks are unaffected.


        The image this instance already runs is accepted even after the platform has withdrawn it, since rebuilding
        is the only way back into an instance broken from the inside. Any *other* withdrawn image is rejected with
        `IMAGE_RETIRED`, which is a change of image and therefore a new order.'
      operationId: rebuild-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RebuildInstanceRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RebuildInstanceResponseBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/resize:
    post:
      summary: Resize an instance
      description: Creates a Billing order, including for metered pricing. The price must belong to the resource’s
        Billing Plan; applicable contract pricing is resolved by Billing. Technical capacity is checked before sellable
        quota is reserved. Provisioning continues automatically after payment; do not submit a new purchase after
        paying. Reuse the original idempotency key after an uncertain response.
      operationId: resize-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResizeInstanceRequestBody'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacedOrder'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/resize/confirm:
    post:
      summary: Confirm a resize
      description: Releases the resources held by the previous size. `pending_instance_type_id` becomes the type
        in effect and is billed from then on.
      operationId: confirm-instance-resize
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/resize/revert:
    post:
      summary: Revert a resize
      description: The instance returns to its previous size, `pending_instance_type_id` is discarded, and billing
        is unaffected by the resize.
      operationId: revert-instance-resize
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/start:
    post:
      summary: Start an instance
      description: Records the desired power state. An in-flight shutdown is allowed to finish before a subsequent
        start. Outstanding restrictions can prevent starting. A stopped VM retains its Fabric and Storage claims.
        Inspect operation, task_state, power_state and observed_at to determine completion.
      operationId: start-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PowerRequest'
  /api/v1/instances/{instanceId}/stop:
    post:
      summary: Stop an instance
      description: Records the desired power state. An in-flight shutdown is allowed to finish before a subsequent
        start. Outstanding restrictions can prevent starting. A stopped VM retains its Fabric and Storage claims.
        Inspect operation, task_state, power_state and observed_at to determine completion.
      operationId: stop-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PowerRequest'
  /api/v1/instances/{instanceId}/disks:
    get:
      summary: List the disks attached to an instance
      operationId: list-instance-disks
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDependencyList'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Attach a disk
      description: The disk must be in the same region and availability zone as the instance. Partition it and mount
        the file system inside the instance once it is attached.
      operationId: attach-disk
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachDiskRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDependency'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/disks/{diskId}:
    delete:
      summary: Detach a disk
      description: Unmount the device inside the instance before calling this endpoint. Forcibly detaching a file
        system that is being written to corrupts data.
      operationId: detach-disk
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDependency'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/floating-ips:
    post:
      summary: Bind a floating IP to an instance
      description: Requests a binding change on the instance’s primary Fabric port. The returned Fabric usage claim
        identifies the port-to-address relationship; Compute does not own the address. An accepted release can still
        be releasing until the provider confirms removal.
      operationId: attach-instance-floating-ip
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachFloatingIPRequestBody'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUsage'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/floating-ips/{floatingIpId}:
    delete:
      summary: Unbind the floating IP of an instance
      operationId: detach-instance-floating-ip
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUsage'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      description: Requests a binding change on the instance’s primary Fabric port. The returned Fabric usage claim
        identifies the port-to-address relationship; Compute does not own the address. An accepted release can still
        be releasing until the provider confirms removal.
  /api/v1/instances/{instanceId}/ports:
    get:
      summary: List the network interfaces of an instance
      operationId: list-instance-ports
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDependencyList'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Attach a network interface
      operationId: attach-port
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachPortRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDependency'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/ports/{portId}:
    delete:
      summary: Detach a network interface
      description: The primary network interface cannot be detached; the instance would lose its network address.
      operationId: detach-port
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: portId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDependency'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/operation-logs:
    get:
      summary: List the operation log of the project
      description: 'Records every write operation in the project: who performed it, when, on what, and whether it
        succeeded. Read operations are not recorded.


        **Operations performed by the platform are included, but the individual operator is not disclosed** and
        `by_platform` is true. Suspension for non-payment and bans for abuse are examples: the time at which an
        instance was stopped by the platform is needed, whereas the operator is internal information.


        Fields such as passwords are replaced with a placeholder as the record is written and never appear in `payload`.'
      operationId: list-operation-logs
      tags:
        - OperationLog
      parameters:
        - name: action
          in: query
          description: Return a single kind of operation; the value matches the operation id of the endpoint
          explode: false
          schema:
            description: Return a single kind of operation; the value matches the operation id of the endpoint
            type: string
            maxLength: 64
        - name: page
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationLogListResponseBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/private-images:
    get:
      summary: List private images
      operationId: list-private-images
      tags:
        - PrivateImage
      parameters:
        - name: region_id
          in: query
          description: Return only the images of this region. An image can only be used in the region that holds
            it
          explode: false
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateImageListResponseBody'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Capture an instance as a private image
      description: 'Captured from the system disk of the instance; data disks are not included. The resulting image
        can create instances and rebuild them, and remains usable after the source instance is released.


        **The image reflects the moment the capture started. Later changes to the instance are not included.**


        The capture has two phases. Poll the retrieve endpoint:


        - `provisioning` — the system disk is being read, usually for tens of seconds. The instance remains usable
        during this phase, although stopping it first is recommended for consistency.

        - `uploading` — no longer tied to the system disk. **The instance may be started at this point; there is
        no need to wait for the capture to finish.** The duration of this phase is proportional to the size of the
        system disk, roughly 3 minutes for 20 GB.


        The file system of a running instance may be captured mid-write, in which case the image is equivalent to
        the disk contents after a power loss. Where consistency matters, stop the instance before starting the capture
        and start it again once the status becomes `uploading`.


        The instance can be started, stopped and used normally during the capture, but cannot be released.'
      operationId: create-private-image
      tags:
        - PrivateImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateImageRequestBody'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateImageResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/private-images/{privateImageId}:
    get:
      summary: Retrieve a private image
      description: Use this endpoint to poll capture progress. When `status` is `error`, `failure` states the reason.
      operationId: get-private-image
      tags:
        - PrivateImage
      parameters:
        - name: privateImageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateImageResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Rename a private image
      operationId: rename-private-image
      tags:
        - PrivateImage
      parameters:
        - name: privateImageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenamePrivateImageRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateImageResource'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a private image
      description: 'Deletion is rejected while instances created from the image still exist, as they need it in
        order to be rebuilt.


        An image whose capture has not finished can be deleted; the capture is aborted.'
      operationId: delete-private-image
      tags:
        - PrivateImage
      parameters:
        - name: privateImageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/instances/{instanceId}/dependencies:
    get:
      operationId: list-instance-dependencies
      summary: List instance dependencies
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceDependencyList'
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
        - name: instanceId
          in: path
          schema:
            type: string
            format: uuid
          required: true
        - name: page
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 50
      description: Desired dependencies recorded by Compute. usage_id resolves the corresponding claim in Fabric
        or Storage. These records remain present while an instance is stopped or suspended.
components:
  securitySchemes:
    bearerAuth:
      $ref: ../../type/v1/security.yaml#/components/securitySchemes/ScopedToken
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    ImageResource:
      type: object
      properties:
        architecture:
          type: string
        id:
          type: string
          format: uuid
        login_username:
          description: The account this image lets you log in as. The password set at creation belongs to this account
          type: string
          maxLength: 32
        min_disk_gb:
          type: integer
          format: int64
        min_ram_mb:
          type: integer
          format: int64
        name:
          type: string
        os_family:
          type: string
        os_version:
          type: string
        region_id:
          type: string
          format: uuid
        supports_password_reset:
          description: False means a new password can only be set by rebuilding an instance created from this image
          type: boolean
      required:
        - login_username
        - id
        - name
        - os_family
        - os_version
        - architecture
        - region_id
        - min_disk_gb
        - min_ram_mb
        - supports_password_reset
      additionalProperties: false
    ImageListResponseBody:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ImageResource'
        page:
          type: integer
          format: int64
          minimum: 1
        page_size:
          type: integer
          format: int64
          minimum: 1
        total_count:
          type: integer
          format: int64
          minimum: 0
      required:
        - items
        - page
        - page_size
      additionalProperties: false
    InstanceTypeResource:
      type: object
      properties:
        availability_zone_id:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        max_bandwidth_mbps:
          description: 'The most public bandwidth a machine of this type may be given, in Mbps. Asking for more

            when creating a machine, or raising a bound address past it, is refused.


            A ceiling on what can be bought, not a speed. How fast the machine''s own interfaces run is

            `network_egress_kbps` / `network_ingress_kbps`.'
          type: integer
          format: int64
        network_egress_kbps:
          description: 'Outbound ceiling of **each** network interface, in kbps. Null when this type is not

            rate-limited.


            Per interface rather than per machine: a machine with two interfaces has this ceiling on

            each of them, not shared between them. `max_ports` says how many it may have.'
          type:
            - integer
            - 'null'
          format: int64
        network_ingress_kbps:
          description: Inbound ceiling of each network interface, in kbps. Null when this type is not rate-limited
          type:
            - integer
            - 'null'
          format: int64
        max_floating_ips:
          type: integer
          format: int64
        max_ports:
          type: integer
          format: int64
        name:
          type: string
        ram_mb:
          type: integer
          format: int64
        region_id:
          type: string
          format: uuid
        vcpus:
          type: integer
          format: int64
        billing_plan_id:
          type: string
          format: uuid
          description: The Billing Plan for this type. Read its available prices from Billing; resource capacity
            and sellable quota are evaluated when placing the order.
      required:
        - id
        - name
        - vcpus
        - ram_mb
        - region_id
        - availability_zone_id
        - max_ports
        - max_floating_ips
        - max_bandwidth_mbps
        - network_egress_kbps
        - network_ingress_kbps
        - billing_plan_id
      additionalProperties: false
    InstanceTypeListResponseBody:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InstanceTypeResource'
        page:
          type: integer
          format: int64
          minimum: 1
        page_size:
          type: integer
          format: int64
          minimum: 1
        total_count:
          type: integer
          format: int64
          minimum: 0
      required:
        - items
        - page
        - page_size
      additionalProperties: false
    InstanceResource:
      type: object
      properties:
        availability_zone_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        hostname:
          description: Hostname inside the instance; equals the instance id
          type: string
        id:
          type: string
          format: uuid
        boot_disk_id:
          description: Non-empty when the instance was created from a disk you already had, instead of from an image
          type:
            - string
            - 'null'
          format: uuid
        image_id:
          description: Non-empty when the instance was created from a platform image
          type:
            - string
            - 'null'
          format: uuid
        instance_type_id:
          description: The instance type in effect, and the basis for billing
          type: string
          format: uuid
        ipv6_address:
          description: IPv6 address of the primary network interface. Assigned automatically once IPv6 is enabled
            on the private network
          type:
            - string
            - 'null'
        labels:
          description: Your own classification of this instance, as key-value pairs. Empty when never set
          type: object
          maxProperties: 20
          additionalProperties:
            type: string
            maxLength: 63
        login_username:
          description: The account to log in as over SSH. The password set at creation belongs to this account
          type: string
          maxLength: 32
        name:
          type: string
        notes:
          description: A free-text note about this instance. Empty when never set
          type: string
          maxLength: 4096
        pending_instance_type_id:
          description: Non-empty while a resize awaits confirmation. Confirming puts this type into effect, reverting
            discards it
          type:
            - string
            - 'null'
          format: uuid
        private_image_id:
          description: Non-empty when the instance was created from a private image
          type:
            - string
            - 'null'
          format: uuid
        private_ip:
          description: Private address of the instance
          type:
            - string
            - 'null'
        private_network_id:
          description: Private network of the primary network interface
          type:
            - string
            - 'null'
        public_ips:
          description: Floating IPv4 addresses bound to the primary network interface; an empty array when none
            are bound
          type:
            - array
            - 'null'
          items:
            type: string
        region_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - pending
            - building
            - active
            - stopped
            - paused
            - suspended
            - shelved
            - shelved_offloaded
            - rescued
            - resized
            - deleting
            - deleted
            - error
            - unknown
          description: Observed VM lifecycle state. This does not indicate the latest requested action or whether
            a business restriction applies.
        subnet_id:
          description: Subnet of the primary network interface
          type:
            - string
            - 'null'
        updated_at:
          type: string
          format: date-time
        billing_order_id:
          description: 'The order this instance was bought under, in billing''s own identifiers. Empty when the

            deployment has no billing wired in.


            Kept so the question can be answered later. "Why was I charged for this" is asked days

            after the fact, and an order id handed back only in the launch response is one the

            person who needs it never had.'
          type: string
        subscription_item_ids:
          type: array
          items:
            type: string
            format: uuid
        desired_state:
          type: string
          enum:
            - running
            - stopped
            - deleted
        power_state:
          type: string
          enum:
            - no_state
            - running
            - paused
            - shutdown
            - crashed
            - suspended
            - unknown
        task_state:
          type: string
          minLength: 1
          maxLength: 128
          description: Current provider task, such as scheduling, networking, block_device_mapping or spawning.
            none means no task; unknown tasks remain observable and do not imply failure.
        generation:
          type: integer
          format: int64
          minimum: 1
        observed_at:
          type: string
          format: date-time
          description: Timestamp of the last successful provider observation. An unreachable provider does not erase
            the last observation or prove deletion.
        operation:
          $ref: '#/components/schemas/InstanceOperation'
        restrictions:
          type: array
          items:
            $ref: '#/components/schemas/InstanceRestriction'
      required:
        - id
        - name
        - hostname
        - login_username
        - labels
        - notes
        - region_id
        - availability_zone_id
        - private_network_id
        - subnet_id
        - private_ip
        - public_ips
        - ipv6_address
        - instance_type_id
        - pending_instance_type_id
        - image_id
        - private_image_id
        - boot_disk_id
        - status
        - created_at
        - updated_at
        - billing_order_id
        - desired_state
        - power_state
        - task_state
        - generation
        - restrictions
      additionalProperties: false
    InstanceListResponseBody:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InstanceResource'
        page:
          type: integer
          format: int64
          minimum: 1
        page_size:
          type: integer
          format: int64
          minimum: 1
        total_count:
          type: integer
          format: int64
          minimum: 0
      required:
        - items
        - page
        - page_size
      additionalProperties: false
    LaunchInstanceRequestBody:
      type: object
      properties:
        floating_ip_id:
          description: 'Bind a floating IP you already hold, instead of allocating a new one. It must be idle and
            in

            the same region.


            Mutually exclusive with `bandwidth_mbps`: an address you already hold has its own bandwidth

            ceiling, set when it was allocated, and changing it is a separate operation.


            Like `bandwidth_mbps`, this happens **inside the creation**: if binding fails, no instance is

            created. Binding afterwards is still possible from the instance page, but then it is two

            operations and a failure in between leaves an instance you cannot reach.


            Only one instance can be created when it is used — one address binds to one interface.'
          type: string
          format: uuid
        count:
          description: Number of instances to create; 1 when omitted. Names are numbered automatically for several
          type: integer
          format: int64
          minimum: 1
          maximum: 20
          default: 1
        generate_password:
          description: Have the platform generate a random password, returned only in this response
          type: boolean
        boot_disk_id:
          description: Boot a disk you already have instead of installing an image. The disk must be available,
            unattached, and in the same availability zone as the instance type. Exactly one of this, `image_id`
            and `private_image_id`
          type: string
          format: uuid
        image_id:
          description: A platform image, and it must be one currently on sale. Exactly one of this, `private_image_id`
            and `boot_disk_id`
          type: string
          format: uuid
          maxLength: 64
        instance_type_id:
          description: An instance type currently on sale. A withdrawn one is rejected even though its identifier
            still resolves
          type: string
          format: uuid
          maxLength: 64
        login_username:
          description: The account the disk lets you log in as. Required with `boot_disk_id`, and rejected without
            it since an image states its own
          type: string
          maxLength: 32
        name:
          type: string
          minLength: 1
          maxLength: 128
        password:
          description: The password to set, on the login account and on root. Only the SSH public keys of the project
            are used when omitted
          type: string
          maxLength: 128
        port_id:
          description: Use an existing network interface, which may already have a floating IP bound. Exactly one
            of this and `subnet_id`; only one instance can be created when it is used
          type: string
          format: uuid
        private_image_id:
          description: A private image. Exactly one of this, `image_id` and `boot_disk_id`
          type: string
          format: uuid
        security_group_ids:
          description: Required when a primary network interface is created, at least one; the default security
            group is not applied automatically. Ignored together with `port_id`, as the security groups of that
            interface were fixed when it was created
          type:
            - array
            - 'null'
          minItems: 1
          items:
            type: string
            format: uuid
        subnet_id:
          description: Create the primary network interface in this subnet. Exactly one of this and `port_id`
          type: string
          format: uuid
        order:
          $ref: '#/components/schemas/OrderOptions'
        price:
          $ref: '#/components/schemas/CatalogReference'
        boot_disk:
          $ref: '#/components/schemas/NewBootDisk'
        floating_ip:
          $ref: '#/components/schemas/NewFloatingIP'
      required:
        - name
        - instance_type_id
        - order
        - price
      additionalProperties: false
    LaunchInstanceResponseBody:
      type: object
      properties:
        order:
          $ref: '#/components/schemas/PlacedOrder'
        password:
          type: string
          description: Present only if generation was requested; store it securely. Idempotent retries do not generate
            another password.
      required:
        - order
      additionalProperties: false
    SetInstanceLabelsRequestBody:
      type: object
      properties:
        labels:
          description: The complete set of labels. Whatever is absent here is removed; send an empty object to clear
            them all. A key may not contain a colon, whitespace or control characters
          type: object
          maxProperties: 20
          additionalProperties:
            type: string
            maxLength: 63
      required:
        - labels
      additionalProperties: false
    SetInstanceNotesRequestBody:
      type: object
      properties:
        notes:
          description: The complete note. Send an empty string to clear it
          type: string
          maxLength: 4096
      required:
        - notes
      additionalProperties: false
    RenameInstanceRequestBody:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
      required:
        - name
      additionalProperties: false
    RebootInstanceRequestBody:
      type: object
      properties:
        force:
          description: A forced reboot does not wait for the operating system to shut down and unwritten data is
            lost; use it when the system is unresponsive. False when omitted
          type: boolean
      additionalProperties: false
    RunCommandRequestBody:
      type: object
      properties:
        command:
          description: Run by the login shell, so pipes, redirection and `&&` work. It cannot read standard input
          type: string
          minLength: 1
          maxLength: 65536
        timeout_seconds:
          description: Kill the command after this long. 60 when omitted
          type: integer
          format: int64
          minimum: 1
          maximum: 300
      required:
        - command
      additionalProperties: false
    CommandResultResponseBody:
      type: object
      properties:
        exit_code:
          description: What the command exited with, 0 being success. Any other value is the command's own verdict
            and still arrives as a 200. Null when it was killed rather than exiting on its own, which includes the
            timeout — null is the absence of a verdict, not a successful one
          type:
            - integer
            - 'null'
          format: int64
        stderr:
          type: string
        stdout:
          type: string
        timed_out:
          description: True when the command was still running at the timeout and was killed
          type: boolean
        truncated:
          description: True when either stream hit the 1 MiB cap and the rest was discarded
          type: boolean
      required:
        - exit_code
        - stdout
        - stderr
        - truncated
        - timed_out
      additionalProperties: false
    ConsoleResponseBody:
      type: object
      properties:
        console_url:
          description: Connection address of the remote console; single-use and expires within minutes
          type: string
      required:
        - console_url
      additionalProperties: false
    ConsoleOutputResponseBody:
      type: object
      properties:
        output:
          description: Raw text of the console output, in the same line order as inside the instance
          type: string
      required:
        - output
      additionalProperties: false
    ResetPasswordRequestBody:
      type: object
      properties:
        generate_password:
          description: Have the platform generate a random password, returned only in this response
          type: boolean
        password:
          description: New root password. Exactly one of this and `generate_password`
          type: string
          maxLength: 128
      additionalProperties: false
    ResetPasswordResponseBody:
      type: object
      properties:
        password:
          description: The password generated by the platform, returned only in this response. Empty when the password
            was supplied in the request
          type: string
      required:
        - password
      additionalProperties: false
    RebuildInstanceRequestBody:
      type: object
      properties:
        generate_password:
          type: boolean
        image_id:
          description: A platform image, which must be on sale unless it is the one this instance already runs.
            Exactly one of this and `private_image_id`
          type: string
          format: uuid
          maxLength: 64
        password:
          type: string
          maxLength: 128
        private_image_id:
          description: A private image. Exactly one of this and `image_id`
          type: string
          format: uuid
      additionalProperties: false
    RebuildInstanceResponseBody:
      type: object
      properties:
        instance:
          $ref: '#/components/schemas/InstanceResource'
        password:
          description: Returned only in this response; store it immediately
          type: string
      required:
        - instance
        - password
      additionalProperties: false
    ResizeInstanceRequestBody:
      type: object
      properties:
        instance_type_id:
          description: Must be in the same region and availability zone as the current instance type
          type: string
          format: uuid
          maxLength: 64
        order:
          $ref: '#/components/schemas/OrderOptions'
        price:
          $ref: '#/components/schemas/CatalogReference'
      required:
        - instance_type_id
        - order
        - price
      additionalProperties: false
    AttachDiskRequestBody:
      type: object
      properties:
        disk_id:
          type: string
          format: uuid
      required:
        - disk_id
      additionalProperties: false
    AttachFloatingIPRequestBody:
      type: object
      properties:
        floating_ip_id:
          type: string
          format: uuid
      required:
        - floating_ip_id
      additionalProperties: false
    AttachPortRequestBody:
      type: object
      properties:
        port_id:
          type: string
          format: uuid
      required:
        - port_id
      additionalProperties: false
    OperationLogResource:
      type: object
      properties:
        action:
          description: Name of the operation; matches the operation id of the endpoint
          type: string
        actor:
          description: The user who initiated the operation. Empty when the platform performed it
          type:
            - string
            - 'null'
        actor_name:
          description: 'The name this user went by at the time of the operation, recorded alongside the operation
            itself. It is not refreshed afterwards: the record states who acted then, and a name read today is a
            statement about a different moment.


            Null on entries recorded before this field existed, and on entries performed by the platform. An empty
            string means the account had no name recorded.'
          type:
            - string
            - 'null'
        by_platform:
          description: True when the operation was performed by the platform
          type: boolean
        created_at:
          type: string
          format: date-time
        failure:
          description: Brief reason for the failure
          type:
            - string
            - 'null'
        id:
          type: string
          format: uuid
        payload:
          description: Path and query parameters of the request. Fields such as passwords are redacted
          type: object
          additionalProperties: {}
        region_id:
          type:
            - string
            - 'null'
          format: uuid
        subject_id:
          description: 'Empty for create operations: the id of the new resource is in the response, not in the request
            path'
          type: string
        subject_type:
          type: string
        succeeded:
          type: boolean
      required:
        - id
        - action
        - by_platform
        - actor
        - actor_name
        - subject_type
        - subject_id
        - region_id
        - payload
        - succeeded
        - failure
        - created_at
      additionalProperties: false
    OperationLogListResponseBody:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/OperationLogResource'
        page:
          type: integer
          format: int64
          minimum: 1
        page_size:
          type: integer
          format: int64
          minimum: 1
        total_count:
          type: integer
          format: int64
          minimum: 0
      required:
        - items
        - page
        - page_size
      additionalProperties: false
    PrivateImageResource:
      type: object
      properties:
        architecture:
          type: string
        created_at:
          type: string
          format: date-time
        failure:
          description: Reason the capture failed; non-empty only when `status` is `error`
          type:
            - string
            - 'null'
        id:
          type: string
          format: uuid
        login_username:
          description: The account this image lets you log in as. The password set at creation belongs to this account
          type: string
          maxLength: 32
        min_disk_gb:
          description: The system disk of an instance created from this image cannot be smaller than this
          type: integer
          format: int64
        min_ram_mb:
          description: The instance type of an instance created from this image must have at least this much memory
          type: integer
          format: int64
        name:
          type: string
        os_family:
          type: string
        os_version:
          type: string
        region_id:
          type: string
          format: uuid
        size_bytes:
          description: Storage occupied by the image; 0 until the capture completes
          type: integer
          format: int64
        source_instance_id:
          description: The instance this image was captured from. The image remains usable after that instance is
            released
          type:
            - string
            - 'null'
          format: uuid
        status:
          type: string
          enum:
            - provisioning
            - uploading
            - available
            - deleting
            - error
        supports_password_reset:
          description: False means a new password can only be set by rebuilding an instance created from this image
          type: boolean
      required:
        - login_username
        - id
        - name
        - source_instance_id
        - region_id
        - status
        - failure
        - min_disk_gb
        - min_ram_mb
        - supports_password_reset
        - size_bytes
        - os_family
        - os_version
        - architecture
        - created_at
      additionalProperties: false
    PrivateImageListResponseBody:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PrivateImageResource'
        page:
          type: integer
          format: int64
          minimum: 1
        page_size:
          type: integer
          format: int64
          minimum: 1
        total_count:
          type: integer
          format: int64
          minimum: 0
      required:
        - items
        - page
        - page_size
      additionalProperties: false
    CreatePrivateImageRequestBody:
      type: object
      properties:
        instance_id:
          description: Captured from the system disk of this instance; data disks are not included
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 128
      required:
        - instance_id
        - name
      additionalProperties: false
    RenamePrivateImageRequestBody:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
      required:
        - name
      additionalProperties: false
    OrderOptions:
      $ref: ../../type/v1/order.yaml#/components/schemas/OrderOptions
    CatalogReference:
      $ref: ../../type/v1/order.yaml#/components/schemas/CatalogReference
    PlacedOrder:
      $ref: ../../type/v1/order.yaml#/components/schemas/PlacedOrder
    ResourceDependency:
      $ref: ../../type/v1/resource.yaml#/components/schemas/ResourceDependency
    ResourceDependencyList:
      $ref: ../../type/v1/resource.yaml#/components/schemas/ResourceDependencyList
    NewBootDisk:
      type: object
      properties:
        disk_type_id:
          type: string
          format: uuid
        size_gb:
          type: integer
          format: int64
          minimum: 1
        price:
          $ref: '#/components/schemas/CatalogReference'
        delete_with_instance:
          type: boolean
          default: true
      required:
        - disk_type_id
        - size_gb
        - price
      additionalProperties: false
      description: Storage creates and bills this system disk as a separate order line. Required when booting from
        an image; mutually exclusive with boot_disk_id. The selected disk type must be attachable in the instance
        location.
    NewFloatingIP:
      type: object
      properties:
        price:
          $ref: '#/components/schemas/CatalogReference'
        bandwidth_price:
          $ref: '#/components/schemas/CatalogReference'
        bandwidth_mbps:
          type: integer
          format: int64
          minimum: 1
          maximum: 1000
      required:
        - price
        - bandwidth_price
        - bandwidth_mbps
      additionalProperties: false
      description: Fabric creates an address and bandwidth subscription in the same purchase. Mutually exclusive
        with floating_ip_id. Fabric owns the address and its retention policy.
    InstanceRestriction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        source:
          type: string
          enum:
            - billing
            - iam
            - operator
        source_id:
          type: string
          minLength: 1
          maxLength: 255
        reason_code:
          type: string
          minLength: 1
          maxLength: 128
        created_at:
          type: string
          format: date-time
      required:
        - id
        - source
        - source_id
        - reason_code
        - created_at
      additionalProperties: false
      description: An independent restriction on use. Removing one restriction never removes another source’s restriction
        or changes the user’s desired power state.
    InstanceOperation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - create
            - start
            - stop
            - reboot
            - rebuild
            - resize
            - confirm_resize
            - revert_resize
            - attach_disk
            - detach_disk
            - attach_port
            - detach_port
            - delete
        state:
          type: string
          enum:
            - pending
            - running
            - waiting
            - succeeded
            - failed
        phase:
          type: string
          minLength: 1
          maxLength: 64
        generation:
          type: integer
          format: int64
          minimum: 1
        failure_code:
          type: string
          maxLength: 128
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - type
        - state
        - phase
        - generation
        - created_at
        - updated_at
      additionalProperties: false
      description: The durable action currently being processed or most recently completed. Success requires observed
        completion; accepting a provider command is not success.
    PowerRequest:
      type: object
      properties:
        idempotency_key:
          type: string
          minLength: 8
          maxLength: 255
        expected_generation:
          type: integer
          format: int64
          minimum: 1
      required:
        - idempotency_key
      additionalProperties: false
    ResourceUsage:
      $ref: ../../type/v1/resource.yaml#/components/schemas/ResourceUsage
