openapi: 3.1.0
info:
  title: Leaflow Compute API
  version: 1.0.0
  description: |-
    Leaflow Compute user API for managing instances, disks, snapshots, backups, private images, private networks, subnets, routes, security groups, network interfaces and floating IPs.

    ## Authentication

    Every request carries a scoped token; see the `bearerAuth` security scheme.

    ## Conventions

    - **Operations are asynchronous.** Creating an instance, creating a disk and resizing all return before the work completes, leaving the resource in an intermediate state such as `provisioning`. Poll the GET endpoint to observe the outcome. Retrieving a single resource synchronises its current state.
    - **Availability zones.** A disk and an instance must reside in the same availability zone to be attached. Instance types and disk types are each bound to one availability zone, so choosing a type determines the zone.
    - **IPv6 is not sold separately.** Once enabled on a private network, IPv6 addresses are assigned to the instances in that network automatically; they can be neither requested nor released individually.
    - **Floating IPs have a cooldown period.** A released address is neither available for re-allocation nor handed to another user for some time, so that DNS records and allow-lists still pointing at it do not break immediately.
    - **Passwords are returned once.** A password generated by the platform during creation or rebuild appears only in that response. Store it immediately.
servers:
  - url: https://compute.leaflow.cloud
    description: Servers, volumes, images, networks and floating IPs
security:
  - bearerAuth: []
paths:
  /api/v1/backups:
    get:
      summary: List backups
      operationId: list-backups
      tags:
        - Backup
      parameters:
        - name: disk_id
          in: query
          description: Return only the backups of this disk
          explode: false
          schema:
            description: Return only the backups of this disk
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a backup
      description: |-
        A backup is a complete copy of a disk held in separate storage: **it remains restorable after the source disk is deleted, and can be restored to another availability zone in the same region.** A snapshot offers neither capability, as it resides in the same storage as the source disk and prevents that disk from being deleted while it exists.

        Disks attached to a running instance, including system disks, can be backed up.

        The duration depends on the amount of data. The backup is not complete when this endpoint returns; poll the retrieve endpoint.
      operationId: create-backup
      tags:
        - Backup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBackupRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/backups/{backupId}:
    get:
      summary: Retrieve a backup
      description: Queries the current state of the backup, which makes it slower but more accurate than the list endpoint. Use it to poll creation progress.
      operationId: get-backup
      tags:
        - Backup
      parameters:
        - name: backupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename a backup
      operationId: rename-backup
      tags:
        - Backup
      parameters:
        - name: backupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameBackupRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a backup
      description: "Independent of the source disk: deletion succeeds whether or not that disk still exists."
      operationId: delete-backup
      tags:
        - Backup
      parameters:
        - name: backupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/backups/{backupId}/restore:
    post:
      summary: Restore from a backup
      description: |-
        Restores onto a **newly created** disk. The source disk is unaffected and need not still exist.

        The target disk type may belong to another availability zone of the same region, and its capacity must not be smaller than the backup. The disk cannot be attached until the restore completes; poll the disk retrieve endpoint.
      operationId: restore-backup
      tags:
        - Backup
      parameters:
        - name: backupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RestoreBackupRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disk-types:
    get:
      summary: List disk types on sale
      description: Only disk types currently on sale are listed. A withdrawn one disappears from here and can no longer be bought, while the disks already on it keep working and can still be resized.
      operationId: list-disk-types
      tags:
        - Catalog
      parameters:
        - name: region_code
          in: query
          required: true
          explode: false
          schema:
            type: string
            maxLength: 32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskTypeListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disk-types/{diskTypeId}:
    get:
      summary: Get a disk type
      description: Retrieve capacity and performance constraints for an existing disk, including system disk types and types withdrawn from sale.
      operationId: get-disk-type
      tags:
        - Catalog
      parameters:
        - name: diskTypeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskTypeResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/images:
    get:
      summary: List images on sale
      description: |-
        An image whose `min_ram_mb` exceeds the memory of the selected instance type cannot boot. Filter the options accordingly.

        Only images currently on sale are listed. An image the platform withdraws disappears from here and can no longer install new instances, while the instances already running it keep running and can still be rebuilt onto it.
      operationId: list-images
      tags:
        - Catalog
      parameters:
        - name: region_code
          in: query
          required: true
          explode: false
          schema:
            type: string
            maxLength: 32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instance-types:
    get:
      summary: List instance types on sale
      description: Only instance types currently on sale are listed. A withdrawn one disappears from here and can no longer be ordered, while the instances already running it keep running.
      operationId: list-instance-types
      tags:
        - Catalog
      parameters:
        - name: region_code
          in: query
          required: true
          explode: false
          schema:
            type: string
            maxLength: 32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceTypeListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/regions:
    get:
      summary: List available regions
      operationId: list-regions
      tags:
        - Catalog
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/regions/{regionCode}/availability-zones:
    get:
      summary: List the availability zones of a region
      description: A disk and an instance must reside in the same availability zone to be attached. Confirm the zone before creating either.
      operationId: list-availability-zones
      tags:
        - Catalog
      parameters:
        - name: regionCode
          in: path
          required: true
          schema:
            type: string
            maxLength: 32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disks:
    get:
      summary: List disks
      description: When both `region_code` and `availability_zone` are supplied, only disks attachable to an instance at that location are returned.
      operationId: list-disks
      tags:
        - Disk
      parameters:
        - name: region_code
          in: query
          explode: false
          schema:
            type: string
            maxLength: 32
        - name: availability_zone
          in: query
          description: Supplied together with `region_code` to filter attachable disks
          explode: false
          schema:
            description: Supplied together with `region_code` to filter attachable disks
            type: string
            maxLength: 64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a disk
      description: |-
        The disk is created in the availability zone of the selected disk type, and an instance must reside in the same zone to attach it. Choosing the disk type therefore determines the zone.

        A disk type that has been withdrawn is rejected with `DISK_TYPE_RETIRED`, even though its identifier still resolves. Withdrawn types stop appearing in the disk type listing; disks already bought on one keep working and can still be resized.
      operationId: create-disk
      tags:
        - Disk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDiskRequestBody"
      responses:
        "402":
          description: |-
            Payment required: **nothing was created.**

            Returned when `payment_method` is `online`. `meta.checkout_url` is where to send the
            customer; `meta.order_id` is the order waiting on it.

            ## Why this is a status and not a field on a 200

            A field on a success response is something a client can forget to read, and forgetting it
            means treating "we created nothing and are waiting for money" as "created" — which looks
            identical from the outside until the bill does not add up. A 402 fails loudly in any
            client that handles errors at all.

            ## What happens after they pay

            The money lands in the balance and the order is settled from it. The resource is **not**
            created automatically: placing it again is the customer's move, because between paying
            and coming back they may have changed their mind. The balance is theirs either way.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disks/{diskId}:
    get:
      summary: Retrieve a disk
      description: Queries the current state of the disk, which makes it slower but more accurate than the list endpoint.
      operationId: get-disk
      tags:
        - Disk
      parameters:
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename a disk
      description: Changes the name only. Use the resize endpoint for capacity; type and availability zone are immutable.
      operationId: rename-disk
      tags:
        - Disk
      parameters:
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameDiskRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a disk
      description: Deletion is rejected while the disk is attached, or while snapshots created from it still exist.
      operationId: delete-disk
      tags:
        - Disk
      parameters:
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disks/{diskId}/resize:
    post:
      summary: Resize a disk
      description: |-
        Capacity can only be increased; shrinking is not supported. Extend the file system inside the instance once the resize completes.

        **A data disk whose performance grows with its size has to be detached first.** The storage backend decides a volume's limit when the volume is attached and never revisits it, so growing one that is attached would give you the capacity immediately and leave the speed at the old size's figure — indefinitely, and stopping the instance does not help. Rather than take the money for performance that does not arrive, this is refused with `DISK_RESIZE_NEEDS_DETACH`; detach the disk, resize it, and attach it again.

        It is only refused when the two sizes really would differ in speed. A disk whose type has no QoS level, or whose performance has already reached the type's ceiling, grows online as before.

        **A system disk is the exception and grows online**, because a root volume cannot be detached at all. Its performance does not change with size for exactly that reason — system disk types are required to carry a level that does not scale.
      operationId: resize-disk
      tags:
        - Disk
      parameters:
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeDiskRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/disks/{diskId}/revert:
    post:
      summary: Revert to a snapshot
      description: |-
        Restores the contents of the disk to the moment the snapshot was taken. **All data written after that moment is lost and cannot be recovered.**

        Three restrictions apply: only the most recent snapshot of the disk can be reverted to; the disk must be detached from its instance first; and a disk resized since the snapshot was taken cannot be reverted. To return to an earlier point in time, or to keep the existing disk, create a new disk from the snapshot instead.

        The revert is not complete when this endpoint returns; poll the retrieve endpoint.
      operationId: revert-disk
      tags:
        - Disk
      parameters:
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevertDiskRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/floating-ips:
    get:
      summary: List floating IPs
      operationId: list-floating-ips
      tags:
        - FloatingIP
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Allocate a floating IP
      description: |-
        If the private network is not yet connected to the internet, connectivity is established as part of this call.

        IPv6 is not requested through this endpoint. IPv6 addresses are assigned to instances by the private network; enable IPv6 on that network instead.
      operationId: allocate-floating-ip
      tags:
        - FloatingIP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AllocateFloatingIPRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/floating-ips/{floatingIpId}:
    get:
      summary: Retrieve a floating IP
      operationId: get-floating-ip
      tags:
        - FloatingIP
      parameters:
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Release a floating IP
      description: A released address enters a cooldown period before it is allocated again, so that DNS records and allow-lists still pointing at it do not break immediately. **The same address therefore cannot be re-allocated** for some time after release. Proceed with care.
      operationId: release-floating-ip
      tags:
        - FloatingIP
      parameters:
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/floating-ips/{floatingIpId}/bandwidth:
    put:
      summary: Set the bandwidth limit
      description: |-
        Limits both directions at once. Limiting egress alone does not prevent ingress traffic from saturating the uplink.

        While the address is bound to an instance, the ceiling has to fit that instance type's `max_bandwidth_mbps`; asking for more is refused with `INSTANCE_BANDWIDTH_CEILING`. An address bound to nothing is not checked against any type — there is none to check against — and is checked again when it is attached.
      operationId: set-floating-ip-bandwidth
      tags:
        - FloatingIP
      parameters:
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetBandwidthRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/floating-ips/{floatingIpId}/binding:
    put:
      summary: Bind a floating IP to a network interface
      operationId: bind-floating-ip
      tags:
        - FloatingIP
      parameters:
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BindFloatingIPRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Unbind a floating IP
      description: The address remains held by the project and simply no longer points at any network interface.
      operationId: unbind-floating-ip
      tags:
        - FloatingIP
      parameters:
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances:
    get:
      summary: List instances
      description: Every instance in the project, newest first. This endpoint does not query backend state; for the accurate state of one instance, use the retrieve endpoint.
      operationId: list-instances
      tags:
        - Instance
      parameters:
        - name: label
          in: query
          description: Only instances carrying this label, written as `key:value` — for example `env:prod`. Both halves are matched exactly
          explode: false
          schema:
            description: A label to filter by, written as `key:value`
            type: string
            maxLength: 128
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create instances
      description: |-
        **A password must be set in the request.** The request is rejected otherwise, since the resulting instance would be unreachable. The platform can generate one, in which case it is returned only in this response.

        `count` creates several instances at once, 20 at most. Names are numbered `-1`, `-2` automatically and all instances share one password. **`instances` in the response is always an array**, including for a single instance.

        Instances are created one by one in order. If the sequence stops part way through, because of a quota limit for example, **the instances already created are kept** and `failure` states why it stopped. A failure on the first instance is treated as a failure of the whole request and no instance is created.

        Exactly one source must be given: `image_id` for a platform image, `private_image_id` for a private image, or `boot_disk_id` to boot a disk you already have. Supplying more than one, or none, is rejected.

        A platform image that has been withdrawn is rejected with `IMAGE_RETIRED`, and an instance type that has been withdrawn with `INSTANCE_TYPE_RETIRED` — in both cases the identifier still resolves. Withdrawn entries stop appearing in their listing, so an identifier held in a script, a template or an earlier order is the way this is usually hit: reread the listing and pick another. Instances already running either are unaffected, and one on a withdrawn image can still be rebuilt onto it.

        `boot_disk_id` recovers an instance that can no longer be repaired from the inside. Snapshot its disk, restore that snapshot into a new disk, attach the new disk to another instance and repair it there, then create an instance from it. That disk is not deleted when the instance is released; it is detached and returned to you.

        Instances are created in the availability zone of the instance type. Disks to be attached later must reside in the same zone.

        Creation is not complete when this endpoint returns and `status` is `provisioning`. Poll GET to observe the outcome.
      operationId: launch-instance
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LaunchInstanceRequestBody"
      responses:
        "402":
          description: |-
            Payment required: **nothing was created.**

            Returned when `payment_method` is `online`. `meta.checkout_url` is where to send the
            customer; `meta.order_id` is the order waiting on it.

            ## Why this is a status and not a field on a 200

            A field on a success response is something a client can forget to read, and forgetting it
            means treating "we created nothing and are waiting for money" as "created" — which looks
            identical from the outside until the bill does not add up. A 402 fails loudly in any
            client that handles errors at all.

            ## What happens after they pay

            The money lands in the balance and the order is settled from it. The resource is **not**
            created automatically: placing it again is the customer's move, because between paying
            and coming back they may have changed their mind. The balance is theirs either way.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LaunchInstanceResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}:
    get:
      summary: Retrieve an instance
      description: Queries the current state of the instance, which makes it slower but more accurate than the list endpoint. Use it to poll creation progress.
      operationId: get-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename an instance
      description: Changes the display name only. The hostname inside the instance is unchanged; it equals the instance id.
      operationId: rename-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameInstanceRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Release an instance
      description: |-
        The system disk is deleted with the instance, and **snapshots created from the system disk are deleted with it**. Data disks are detached and kept, and their snapshots and backups are unaffected. The primary network interface is released with the instance.

        An instance being captured as a private image cannot be released. Wait for the capture to finish, or delete that image first.
      operationId: delete-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/commands:
    post:
      summary: Run a command on an instance
      description: |-
        Runs one command over SSH and returns what it wrote. **This is not a shell.** There is no terminal, no standard input and no way to answer a prompt: a command that waits for input produces nothing and is killed at the timeout. Chain steps with `&&`, or write a script and run that.

        **A command that fails is still a 200.** Its failure is its own result, not this endpoint's: read `exit_code` for what it exited with and `stderr` for what it said, and decide from those. A `grep` that matches nothing exits 1 and is a perfectly successful call.

        The status therefore answers a different question — did the command run at all. A non-2xx means it did not, and nothing about the instance was changed by this request: it was suspended, not running or had no floating IP; or it refused the platform key; or the connection could not be opened. Retrying is meaningful in those cases and is not for a non-zero `exit_code`.

        Three conditions must hold; the instance is unreachable otherwise:

        - it is `running`
        - a floating IP is bound to it, since this endpoint connects over the public internet
        - its security group permits inbound TCP 22

        Authentication uses the key the platform attaches to every instance at creation, so nothing has to be set up first. The instance must have applied that key at first boot, which images without a full cloud-init do not do.

        **Do not pass secrets in the command.** Read them from a file on the instance instead: neither the command nor its output is a confidential channel.

        Each stream is capped at 1 MiB. Beyond that the rest is discarded and `truncated` is true.
      operationId: run-instance-command
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunCommandRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommandResultResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/console:
    post:
      summary: Open a remote console
      description: |-
        Operates the instance directly from a browser and does not require the instance to be reachable over the network, which makes it usable when a network misconfiguration prevents login.

        The returned address is single-use and expires within minutes. **Do not cache it**; request a new one before each use.
      operationId: open-instance-console
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/console-output:
    get:
      summary: Read the console output
      description: |-
        The raw text produced by the instance during boot and by the kernel. Consult it first when login fails or the remote console shows no output: it reveals where boot stopped, whether the system disk was mounted, and whether initialisation reported errors.

        Instances in an error state, and instances suspended by the platform, can be read as well.
      operationId: get-instance-console-output
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: lines
          in: query
          description: Number of trailing lines to return; 0 returns the entire output
          explode: false
          schema:
            description: Number of trailing lines to return; 0 returns the entire output
            type: integer
            format: int64
            default: 200
            minimum: 0
            maximum: 10000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleOutputResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/labels:
    put:
      summary: Replace an instance's labels
      description: |-
        Records what this instance is for, as key-value pairs. Nothing on the platform reads them.

        **The whole set is replaced**: whatever is absent from the request is removed.

        Do not put credentials here. Labels are visible to platform operators.
      operationId: set-instance-labels
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetInstanceLabelsRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/notes:
    put:
      summary: Replace an instance's note
      description: |-
        A free-text note about this instance — what it runs, and what to be careful about before touching it.

        **The whole note is replaced**; send an empty string to clear it.

        Do not put credentials here. The note is visible to platform operators.
      operationId: set-instance-notes
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetInstanceNotesRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/password:
    post:
      summary: Reset the login password
      description: |-
        Changes the root password without a reboot. The instance must be running.

        **Not every image supports this.** Images whose `supports_password_reset` is false cannot, and a new password can then only be set by rebuilding the instance, which erases all data on the system disk.

        The request is also rejected when the image is marked as supported but the corresponding component has been removed or stopped inside the instance.
      operationId: reset-instance-password
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetPasswordResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/reboot:
    post:
      summary: Reboot an instance
      description: |-
        A reboot defaults to soft, in which the operating system shuts down normally before starting again.

        A soft reboot has no effect once the system is unresponsive. Set `force` to reboot forcibly: a forced reboot does not wait for the operating system to shut down, so **unwritten data is lost**.

        A forced reboot is accepted while the instance is already `rebooting`, which is the way out of a soft reboot the instance never carried out. Every other endpoint refuses an instance in a transient state, and a second soft reboot is refused as well.

        An instance suspended by the platform must be unsuspended first.

        This endpoint returns immediately and the `status` it returns is the transient `rebooting`. Poll the instance until it settles at `running`.
      operationId: reboot-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RebootInstanceRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/rebuild:
    post:
      summary: Rebuild an instance
      description: |-
        **All data on the system disk is erased and cannot be recovered.** Attached data disks are unaffected.

        The image this instance already runs is accepted even after the platform has withdrawn it, since rebuilding is the only way back into an instance broken from the inside. Any *other* withdrawn image is rejected with `IMAGE_RETIRED`, which is a change of image and therefore a new order.
      operationId: rebuild-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RebuildInstanceRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RebuildInstanceResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/resize:
    post:
      summary: Resize an instance
      description: |-
        Only an instance type in the same region and availability zone can be selected, as attached disks cannot follow the instance elsewhere.

        A resize has two steps. This endpoint restarts the instance on the new size and the status becomes `resize_verifying`, at which point the confirm or revert endpoint **must** be called. Until confirmation the target type is recorded in `pending_instance_type_id`, while `instance_type_id` remains the type in effect and billed.

        **Both sizes hold resources while the resize is unconfirmed.** Confirm promptly once the status becomes `resize_verifying`.
      operationId: resize-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResizeInstanceRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/resize/confirm:
    post:
      summary: Confirm a resize
      description: Releases the resources held by the previous size. `pending_instance_type_id` becomes the type in effect and is billed from then on.
      operationId: confirm-instance-resize
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/resize/revert:
    post:
      summary: Revert a resize
      description: The instance returns to its previous size, `pending_instance_type_id` is discarded, and billing is unaffected by the resize.
      operationId: revert-instance-resize
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/start:
    post:
      summary: Start an instance
      description: |-
        An instance suspended by the platform must be unsuspended first.

        This endpoint returns immediately and the `status` it returns is the transient `starting`. Poll the instance until it settles at `running`.
      operationId: start-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/stop:
    post:
      summary: Stop an instance
      description: |-
        The operating system is asked to shut down and is powered off once it does, or once it stops responding for long enough. Stopping does not release the instance: it keeps its disks, its addresses and its name, and starts again where it left off.

        An instance suspended by the platform must be unsuspended first.

        This endpoint returns immediately and the `status` it returns is the transient `stopping`. Poll the instance until it settles at `stopped`.
      operationId: stop-instance
      tags:
        - Instance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/disks:
    get:
      summary: List the disks attached to an instance
      operationId: list-instance-disks
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Attach a disk
      description: The disk must be in the same region and availability zone as the instance. Partition it and mount the file system inside the instance once it is attached.
      operationId: attach-disk
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachDiskRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/disks/{diskId}:
    delete:
      summary: Detach a disk
      description: Unmount the device inside the instance before calling this endpoint. Forcibly detaching a file system that is being written to corrupts data.
      operationId: detach-disk
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: diskId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/floating-ips:
    post:
      summary: Bind a floating IP to an instance
      description: The floating IP is bound to the primary network interface of the instance.
      operationId: attach-instance-floating-ip
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachFloatingIPRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/floating-ips/{floatingIpId}:
    delete:
      summary: Unbind the floating IP of an instance
      operationId: detach-instance-floating-ip
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: floatingIpId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/ports:
    get:
      summary: List the network interfaces of an instance
      operationId: list-instance-ports
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Attach a network interface
      operationId: attach-port
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachPortRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/instances/{instanceId}/ports/{portId}:
    delete:
      summary: Detach a network interface
      description: The primary network interface cannot be detached; the instance would lose its network address.
      operationId: detach-port
      tags:
        - Attachment
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: portId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/operation-logs:
    get:
      summary: List the operation log of the project
      description: |-
        Records every write operation in the project: who performed it, when, on what, and whether it succeeded. Read operations are not recorded.

        **Operations performed by the platform are included, but the individual operator is not disclosed** and `by_platform` is true. Suspension for non-payment and bans for abuse are examples: the time at which an instance was stopped by the platform is needed, whereas the operator is internal information.

        Fields such as passwords are replaced with a placeholder as the record is written and never appear in `payload`.
      operationId: list-operation-logs
      tags:
        - OperationLog
      parameters:
        - name: action
          in: query
          description: Return a single kind of operation; the value matches the operation id of the endpoint
          explode: false
          schema:
            description: Return a single kind of operation; the value matches the operation id of the endpoint
            type: string
            maxLength: 64
        - name: limit
          in: query
          explode: false
          schema:
            type: integer
            format: int64
            default: 50
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          explode: false
          schema:
            type: integer
            format: int64
            default: 0
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationLogListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/ports:
    get:
      summary: List network interfaces
      operationId: list-ports
      tags:
        - Port
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a network interface
      description: The new network interface is not attached to any instance. Primary network interfaces are not created here; they are created with the instance.
      operationId: create-port
      tags:
        - Port
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePortRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/ports/{portId}:
    delete:
      summary: Delete a network interface
      description: The primary network interface cannot be deleted on its own, as it is released with the instance. A network interface still attached to an instance cannot be deleted either.
      operationId: delete-port
      tags:
        - Port
      parameters:
        - name: portId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-images:
    get:
      summary: List private images
      operationId: list-private-images
      tags:
        - PrivateImage
      parameters:
        - name: region_code
          in: query
          description: Return only the images of this region. An image can only be used in the region that holds it
          explode: false
          schema:
            description: Return only the images of this region. An image can only be used in the region that holds it
            type: string
            maxLength: 32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateImageListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Capture an instance as a private image
      description: |-
        Captured from the system disk of the instance; data disks are not included. The resulting image can create instances and rebuild them, and remains usable after the source instance is released.

        **The image reflects the moment the capture started. Later changes to the instance are not included.**

        The capture has two phases. Poll the retrieve endpoint:

        - `provisioning` — the system disk is being read, usually for tens of seconds. The instance remains usable during this phase, although stopping it first is recommended for consistency.
        - `uploading` — no longer tied to the system disk. **The instance may be started at this point; there is no need to wait for the capture to finish.** The duration of this phase is proportional to the size of the system disk, roughly 3 minutes for 20 GB.

        The file system of a running instance may be captured mid-write, in which case the image is equivalent to the disk contents after a power loss. Where consistency matters, stop the instance before starting the capture and start it again once the status becomes `uploading`.

        The instance can be started, stopped and used normally during the capture, but cannot be released.
      operationId: create-private-image
      tags:
        - PrivateImage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePrivateImageRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateImageResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-images/{privateImageId}:
    get:
      summary: Retrieve a private image
      description: Use this endpoint to poll capture progress. When `status` is `error`, `failure` states the reason.
      operationId: get-private-image
      tags:
        - PrivateImage
      parameters:
        - name: privateImageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateImageResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename a private image
      operationId: rename-private-image
      tags:
        - PrivateImage
      parameters:
        - name: privateImageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenamePrivateImageRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateImageResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a private image
      description: |-
        Deletion is rejected while instances created from the image still exist, as they need it in order to be rebuilt.

        An image whose capture has not finished can be deleted; the capture is aborted.
      operationId: delete-private-image
      tags:
        - PrivateImage
      parameters:
        - name: privateImageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks:
    get:
      summary: List private networks
      operationId: list-private-networks
      tags:
        - PrivateNetwork
      parameters:
        - name: region_code
          in: query
          description: Returns every region when omitted
          explode: false
          schema:
            description: Returns every region when omitted
            type: string
            maxLength: 32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetworkListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a private network
      description: Creates a network, a router and a default security group in one call. The default security group denies all inbound traffic and permits all outbound traffic.
      operationId: create-private-network
      tags:
        - PrivateNetwork
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePrivateNetworkRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetworkResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}:
    get:
      summary: Retrieve a private network
      operationId: get-private-network
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetworkResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename a private network
      description: Changes the display name only. The CIDR, the routes and the internet gateway are immutable.
      operationId: rename-private-network
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenamePrivateNetworkRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetworkResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Release a private network
      description: Release is rejected while instances or network interfaces remain in the network. IPv6, the router and the security groups are released with it.
      operationId: delete-private-network
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}/ipv6:
    get:
      summary: Retrieve the IPv6 configuration of a private network
      operationId: get-private-network-ipv6
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IPv6ResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Enable IPv6 on a private network
      description: |-
        Allocates an IPv6 prefix to the private network. Addresses are assigned to instances by the network itself, can be neither requested nor released individually, and consume no public IPv4 address.

        If the private network is not yet connected to the internet, connectivity is established as part of this call.
      operationId: enable-private-network-ipv6
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IPv6ResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Disable IPv6 on a private network
      description: A released prefix is not re-allocated immediately.
      operationId: disable-private-network-ipv6
      tags:
        - PrivateNetwork
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}/routes:
    get:
      summary: List static routes
      operationId: list-routes
      tags:
        - Route
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a static route
      description: "Three forms that would sever connectivity are rejected: a destination of `0.0.0.0/0`, which overrides the default route and takes every floating IP offline immediately; a destination equal to the CIDR of a subnet, which overrides its directly connected route; and a next hop equal to the gateway of a subnet, which points back at the router itself."
      operationId: create-route
      tags:
        - Route
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRouteRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RouteResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}/routes/{routeId}:
    delete:
      summary: Delete a static route
      operationId: delete-route
      tags:
        - Route
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: routeId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}/subnets:
    get:
      summary: List subnets
      description: IPv6 subnets are included, with `ip_version` 6. They are created when IPv6 is enabled and cannot be deleted individually.
      operationId: list-subnets
      tags:
        - Subnet
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubnetListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a subnet
      operationId: create-subnet
      tags:
        - Subnet
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSubnetRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubnetResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}/subnets/next-free-cidr:
    get:
      summary: Suggest the next free CIDR
      description: The returned value is a suggestion and is validated again when the subnet is created. It exists to avoid errors when computing the next free CIDR by hand.
      operationId: suggest-subnet-cidr
      tags:
        - Subnet
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: prefix_length
          in: query
          explode: false
          schema:
            type: integer
            format: int64
            default: 24
            minimum: 16
            maximum: 30
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NextFreeCidrResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/private-networks/{privateNetworkId}/subnets/{subnetId}:
    delete:
      summary: Delete a subnet
      description: Deletion is rejected while network interfaces remain in the subnet, or while a static route has a next hop inside its CIDR.
      operationId: delete-subnet
      tags:
        - Subnet
      parameters:
        - name: privateNetworkId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: subnetId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/security-groups:
    get:
      summary: List security groups
      operationId: list-security-groups
      tags:
        - SecurityGroup
      parameters:
        - name: region_code
          in: query
          explode: false
          schema:
            type: string
            maxLength: 32
        - name: private_network_id
          in: query
          description: Return only the security groups of this private network
          explode: false
          schema:
            description: Return only the security groups of this private network
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecurityGroupListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a security group
      description: A new security group carries one rule, permitting ICMP fragmentation-needed messages (type 3, code 4). Without it path MTU discovery fails, which presents as connections that establish and then stall on large packets.
      operationId: create-security-group
      tags:
        - SecurityGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSecurityGroupRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecurityGroupResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/security-groups/{securityGroupId}:
    get:
      summary: Retrieve a security group
      operationId: get-security-group
      tags:
        - SecurityGroup
      parameters:
        - name: securityGroupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecurityGroupResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename a security group
      description: Changes the name only. Use the rule endpoints to change rules.
      operationId: rename-security-group
      tags:
        - SecurityGroup
      parameters:
        - name: securityGroupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameSecurityGroupRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecurityGroupResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a security group
      description: The default security group cannot be deleted, as it is released with the private network. A security group still referenced by a network interface cannot be deleted either.
      operationId: delete-security-group
      tags:
        - SecurityGroup
      parameters:
        - name: securityGroupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/security-groups/{securityGroupId}/rules:
    get:
      summary: List security group rules
      operationId: list-security-group-rules
      tags:
        - SecurityGroup
      parameters:
        - name: securityGroupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecurityRuleListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a security group rule
      description: Adding an identical rule twice is rejected. For that comparison `0.0.0.0/0`, `::/0` and an omitted value are treated as equivalent.
      operationId: create-security-group-rule
      tags:
        - SecurityGroup
      parameters:
        - name: securityGroupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSecurityRuleRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecurityRuleResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/security-groups/{securityGroupId}/rules/{ruleId}:
    delete:
      summary: Delete a security group rule
      operationId: delete-security-group-rule
      tags:
        - SecurityGroup
      parameters:
        - name: securityGroupId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/snapshots:
    get:
      summary: List snapshots
      operationId: list-snapshots
      tags:
        - Snapshot
      parameters:
        - name: disk_id
          in: query
          description: Return only the snapshots of this disk
          explode: false
          schema:
            description: Return only the snapshots of this disk
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnapshotListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a snapshot
      description: |-
        Disks attached to a running instance can be snapshotted. A snapshot records the state of the block device at a point in time and may be inconsistent at the file-system level, so run `sync` inside the instance first where the data matters.

        **A snapshot of a system disk cannot be used to revert that system disk**: reverting requires the disk to be detached, and a system disk cannot be detached. It can be used to create a new data disk. To preserve and restore an entire system, use a private image; for a copy that crosses availability zones and survives deletion of the disk, use a backup.
      operationId: create-snapshot
      tags:
        - Snapshot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSnapshotRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnapshotResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/snapshots/{snapshotId}:
    get:
      summary: Retrieve a snapshot
      operationId: get-snapshot
      tags:
        - Snapshot
      parameters:
        - name: snapshotId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnapshotResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename a snapshot
      operationId: rename-snapshot
      tags:
        - Snapshot
      parameters:
        - name: snapshotId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameSnapshotRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SnapshotResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a snapshot
      operationId: delete-snapshot
      tags:
        - Snapshot
      parameters:
        - name: snapshotId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    bearerAuth:
      $ref: ../../type/v1/security.yaml#/components/securitySchemes/ScopedToken
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    BackupResource:
      type: object
      properties:
        availability_zone:
          description: Availability zone of the source disk. A restore may target another zone in the same region
          type: string
        created_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        name:
          type: string
        region_code:
          type: string
        size_gb:
          description: Capacity of the source disk when the backup was created. A restored disk cannot be smaller than this
          type: integer
          format: int64
        source_disk_id:
          description: The disk this backup was taken from. The backup remains usable after that disk is deleted
          type: string
          format: uuid
        status:
          type: string
          enum:
            - provisioning
            - available
            - restoring
            - deleting
            - error
      required:
        - id
        - source_disk_id
        - name
        - size_gb
        - status
        - region_code
        - availability_zone
        - created_at
      additionalProperties: false
    BackupListResponseBody:
      type: object
      properties:
        items:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/BackupResource"
      required:
        - items
      additionalProperties: false
    CreateBackupRequestBody:
      type: object
      properties:
        disk_id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 128
      required:
        - disk_id
        - name
      additionalProperties: false
    RenameBackupRequestBody:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
      required:
        - name
      additionalProperties: false
    RestoreBackupRequestBody:
      type: object
      properties:
        disk_type_id:
          description: May differ from the availability zone of the source disk, but must be in the same region. It has to be on sale — restoring creates a new disk, so a withdrawn type is rejected here as well
          type: string
          format: uuid
          maxLength: 64
        name:
          type: string
          minLength: 1
          maxLength: 128
        size_gb:
          description: Matches the size of the backup when omitted. When given, it must not be smaller than the backup
          type: integer
          format: int64
          minimum: 0
      required:
        - disk_type_id
        - name
      additionalProperties: false
    DiskResource:
      type: object
      properties:
        attached_instance_id:
          type:
            - string
            - "null"
        availability_zone:
          description: Availability zone the disk actually resides in. An instance must be in the same zone to attach it
          type: string
        created_at:
          type: string
          format: date-time
        device:
          description: Device name assigned by the system, as seen inside the instance
          type:
            - string
            - "null"
        disk_type_id:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        is_system:
          description: A system disk is released with its instance and can be neither detached nor deleted individually
          type: boolean
        name:
          type: string
        region_code:
          type: string
        size_gb:
          type: integer
          format: int64
        iops:
          description: |-
            IOPS this disk is allowed. Null when its type is not rate-limited.

            Computed from the disk's own capacity, so it grows when the disk is grown — but see the
            note on the resize endpoint: growing a disk that is attached is refused, precisely because
            the new figure would not take effect until it was attached again.
          type:
            - integer
            - "null"
          format: int64
        throughput_bytes_per_sec:
          description: Throughput this disk is allowed, in bytes per second. Null when its type is not rate-limited
          type:
            - integer
            - "null"
          format: int64
        status:
          type: string
          enum:
            - provisioning
            - available
            - attaching
            - in_use
            - detaching
            - resizing
            - reverting
            - restoring
            - releasing
            - deleting
            - error
        charge_type:
          description: |-
            How this disk is paid for. `postpaid` is billed by the hour for as long as it exists;
            `prepaid` was bought outright for a term.

            **Not the term.** How long it was bought for belongs to the order, not to the disk:
            renewing can change it, and a machine bought for a year and then renewed for a month is
            still a prepaid machine. Ask billing for the term and the expiry — they live there, and
            they are the only two values a renewal moves.
          type: string
          enum:
            - postpaid
            - prepaid
      required:
        - id
        - name
        - region_code
        - availability_zone
        - disk_type_id
        - size_gb
        - iops
        - throughput_bytes_per_sec
        - status
        - is_system
        - attached_instance_id
        - device
        - created_at
        - charge_type
      additionalProperties: false
    DiskTypeResource:
      type: object
      properties:
        availability_zone_code:
          type: string
        id:
          type: string
          format: uuid
        iops_at_min_size:
          description: |-
            IOPS a disk of `min_size_gb` gets. Null when this type is not rate-limited.

            Performance grows with capacity, so this and `iops_at_max_size` are the two ends of the
            range. The exact figure for the size actually bought appears on the disk itself once it
            exists.
          type:
            - integer
            - "null"
          format: int64
        iops_at_max_size:
          description: IOPS a disk of `max_size_gb` gets. Null when this type is not rate-limited
          type:
            - integer
            - "null"
          format: int64
        max_size_gb:
          type: integer
          format: int64
        media:
          type: string
          enum:
            - ssd
            - hdd
            - nvme
        min_size_gb:
          type: integer
          format: int64
        name:
          type: string
        region_code:
          type: string
        step_gb:
          type: integer
          format: int64
        throughput_at_min_size:
          description: |-
            Throughput a disk of `min_size_gb` gets, in **bytes per second**. Null when this type is
            not rate-limited.

            Bytes rather than MiB so the number needs no rounding on the way out; divide by 1048576
            for MiB/s at the point of display.
          type:
            - integer
            - "null"
          format: int64
        throughput_at_max_size:
          description: Throughput a disk of `max_size_gb` gets, in bytes per second. Null when this type is not rate-limited
          type:
            - integer
            - "null"
          format: int64
        sold_out:
          description: |-
            Whether any capacity is left in this type's pool.

            The same shape as on an instance type, but it answers less here: a disk is sold by the
            GiB, so "not sold out" does not mean the size being asked for fits. `remaining` is the
            field that decides that, and this one only says whether the pool is empty outright.

            It reflects a limit set by operations, not what the storage backend physically has —
            raising the limit does not create capacity, and a type that is not sold out can still fail
            to create if the backend is full.

            Advisory: it is read when the list is built, and capacity can be taken between that read
            and the order. The order is what actually refuses.
          type: boolean
        remaining:
          description: |-
            How much capacity is left, **in GiB**. Absent when this type is not limited at all.

            Unlike an instance type, where this is a count of machines, here it is an amount of
            storage — and it is the number that bounds the size a customer may ask for. A picker that
            offers sizes above it produces orders that are refused after the customer has chosen
            everything else.

            Absent is not zero and not "unknown": a type with no limit simply has no number to show.
            Reporting it as a number would need a sentinel, and any sentinel eventually gets compared
            against a real size.
          type: integer
          format: int64
        prepaid_prices:
          description: |-
[...]
