openapi: 3.1.0
info:
  description: |-
    Leaflow Compute user API for managing instances, disks, snapshots, backups, private images, private networks, subnets, routes, security groups, network interfaces and floating IPs.

    ## Authentication

    Every request must carry `Authorization: Bearer <project token>`. Sign in at auth.leaflow.net to obtain an account token, then exchange it with IAM for a project token (`POST /api/v1/projects/{projectId}/token`). A project token identifies both the current user and the current project.

    **Neither the path nor the headers carry a `project_id`**: the current project is determined by the token.

    Authentication is performed at the gateway and rejected requests never reach these endpoints. Handle the error codes as follows: `TOKEN_MISSING` — no token was supplied; `TOKEN_EXPIRED` — the token has expired, exchange the account token for a new one without signing in again; `TOKEN_INVALID` — the token failed verification; `NOT_A_MEMBER` — the account is not a member of the project; `USER_SUSPENDED` / `USER_BANNED` — the account itself is barred from operating.

    ## Conventions

    - **Operations are asynchronous.** Creating an instance, creating a disk and resizing all return before the work completes, leaving the resource in an intermediate state such as `provisioning`. Poll the GET endpoint to observe the outcome. Retrieving a single resource synchronises its current state.
    - **Availability zones.** A disk and an instance must reside in the same availability zone to be attached. Instance types and disk types are each bound to one availability zone, so choosing a type determines the zone.
    - **IPv6 is not sold separately.** Once enabled on a private network, IPv6 addresses are assigned to the instances in that network automatically; they can be neither requested nor released individually.
    - **Floating IPs have a cooldown period.** A released address is neither available for re-allocation nor handed to another user for some time, so that DNS records and allow-lists still pointing at it do not break immediately.
    - **Passwords are returned once.** A password generated by the platform during creation or rebuild appears only in that response. Store it immediately.
  title: Leaflow Compute User API
  version: 1.0.0
servers:
  - url: https://compute.leaflow.cloud
    description: Servers, volumes, images, networks and floating IPs
security:
  - bearerAuth: []
paths:
  /api/v1/backups:
    get:
      summary: List backups
      operationId: list-backups
      tags:
        - Backup
      parameters:
        - description: Return only the backups of this disk
          explode: false
          in: query
          name: disk_id
          schema:
            description: Return only the backups of this disk
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a backup
      description: |-
        A backup is a complete copy of a disk held in separate storage: **it remains restorable after the source disk is deleted, and can be restored to another availability zone in the same region.** A snapshot offers neither capability, as it resides in the same storage as the source disk and prevents that disk from being deleted while it exists.

        Disks attached to a running instance, including system disks, can be backed up.

        The duration depends on the amount of data. The backup is not complete when this endpoint returns; poll the retrieve endpoint.
      operationId: create-backup
      tags:
        - Backup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBackupRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/backups/{backupId}:
    delete:
      summary: Delete a backup
      description: 'Independent of the source disk: deletion succeeds whether or not that disk still exists.'
      operationId: delete-backup
      tags:
        - Backup
      parameters:
        - in: path
          name: backupId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Retrieve a backup
      description: Queries the current state of the backup, which makes it slower but more accurate than the list endpoint. Use it to poll creation progress.
      operationId: get-backup
      tags:
        - Backup
      parameters:
        - in: path
          name: backupId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: Rename a backup
      operationId: rename-backup
      tags:
        - Backup
      parameters:
        - in: path
          name: backupId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameBackupRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/backups/{backupId}/restore:
    post:
      summary: Restore from a backup
      description: |-
        Restores onto a **newly created** disk. The source disk is unaffected and need not still exist.

        The target disk type may belong to another availability zone of the same region, and its capacity must not be smaller than the backup. The disk cannot be attached until the restore completes; poll the disk retrieve endpoint.
      operationId: restore-backup
      tags:
        - Backup
      parameters:
        - in: path
          name: backupId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreBackupRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/disk-types:
    get:
      summary: List disk types on sale
      operationId: list-disk-types
      tags:
        - Catalog
      parameters:
        - explode: false
          in: query
          name: region_code
          required: true
          schema:
            maxLength: 32
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskTypeListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/images:
    get:
      summary: List images on sale
      description: An image whose `min_ram_mb` exceeds the memory of the selected instance type cannot boot. Filter the options accordingly.
      operationId: list-images
      tags:
        - Catalog
      parameters:
        - explode: false
          in: query
          name: region_code
          required: true
          schema:
            maxLength: 32
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instance-types:
    get:
      summary: List instance types on sale
      operationId: list-instance-types
      tags:
        - Catalog
      parameters:
        - explode: false
          in: query
          name: region_code
          required: true
          schema:
            maxLength: 32
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceTypeListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/regions:
    get:
      summary: List available regions
      operationId: list-regions
      tags:
        - Catalog
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/regions/{regionCode}/availability-zones:
    get:
      summary: List the availability zones of a region
      description: A disk and an instance must reside in the same availability zone to be attached. Confirm the zone before creating either.
      operationId: list-availability-zones
      tags:
        - Catalog
      parameters:
        - in: path
          name: regionCode
          required: true
          schema:
            maxLength: 32
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/disks:
    get:
      summary: List disks
      description: When both `region_code` and `availability_zone` are supplied, only disks attachable to an instance at that location are returned.
      operationId: list-disks
      tags:
        - Disk
      parameters:
        - explode: false
          in: query
          name: region_code
          schema:
            maxLength: 32
            type: string
        - description: Supplied together with `region_code` to filter attachable disks
          explode: false
          in: query
          name: availability_zone
          schema:
            description: Supplied together with `region_code` to filter attachable disks
            maxLength: 64
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a disk
      description: The disk is created in the availability zone of the selected disk type, and an instance must reside in the same zone to attach it. Choosing the disk type therefore determines the zone.
      operationId: create-disk
      tags:
        - Disk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDiskRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/disks/{diskId}:
    delete:
      summary: Delete a disk
      description: Deletion is rejected while the disk is attached, or while snapshots created from it still exist.
      operationId: delete-disk
      tags:
        - Disk
      parameters:
        - in: path
          name: diskId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Retrieve a disk
      description: Queries the current state of the disk, which makes it slower but more accurate than the list endpoint.
      operationId: get-disk
      tags:
        - Disk
      parameters:
        - in: path
          name: diskId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: Rename a disk
      description: Changes the name only. Use the resize endpoint for capacity; type and availability zone are immutable.
      operationId: rename-disk
      tags:
        - Disk
      parameters:
        - in: path
          name: diskId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameDiskRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/disks/{diskId}/resize:
    post:
      summary: Resize a disk
      description: Capacity can only be increased; shrinking is not supported. Extend the file system inside the instance once the resize completes.
      operationId: resize-disk
      tags:
        - Disk
      parameters:
        - in: path
          name: diskId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResizeDiskRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/disks/{diskId}/revert:
    post:
      summary: Revert to a snapshot
      description: |-
        Restores the contents of the disk to the moment the snapshot was taken. **All data written after that moment is lost and cannot be recovered.**

        Three restrictions apply: only the most recent snapshot of the disk can be reverted to; the disk must be detached from its instance first; and a disk resized since the snapshot was taken cannot be reverted. To return to an earlier point in time, or to keep the existing disk, create a new disk from the snapshot instead.

        The revert is not complete when this endpoint returns; poll the retrieve endpoint.
      operationId: revert-disk
      tags:
        - Disk
      parameters:
        - in: path
          name: diskId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevertDiskRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/floating-ips:
    get:
      summary: List floating IPs
      operationId: list-floating-ips
      tags:
        - FloatingIP
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloatingIPListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Allocate a floating IP
      description: |-
        If the private network is not yet connected to the internet, connectivity is established as part of this call.

        IPv6 is not requested through this endpoint. IPv6 addresses are assigned to instances by the private network; enable IPv6 on that network instead.
      operationId: allocate-floating-ip
      tags:
        - FloatingIP
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocateFloatingIPRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloatingIPResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/floating-ips/{floatingIpId}:
    delete:
      summary: Release a floating IP
      description: A released address enters a cooldown period before it is allocated again, so that DNS records and allow-lists still pointing at it do not break immediately. **The same address therefore cannot be re-allocated** for some time after release. Proceed with care.
      operationId: release-floating-ip
      tags:
        - FloatingIP
      parameters:
        - in: path
          name: floatingIpId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Retrieve a floating IP
      operationId: get-floating-ip
      tags:
        - FloatingIP
      parameters:
        - in: path
          name: floatingIpId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloatingIPResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/floating-ips/{floatingIpId}/bandwidth:
    put:
      summary: Set the bandwidth limit
      description: Limits both directions at once. Limiting egress alone does not prevent ingress traffic from saturating the uplink.
      operationId: set-floating-ip-bandwidth
      tags:
        - FloatingIP
      parameters:
        - in: path
          name: floatingIpId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetBandwidthRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloatingIPResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/floating-ips/{floatingIpId}/binding:
    delete:
      summary: Unbind a floating IP
      description: The address remains held by the project and simply no longer points at any network interface.
      operationId: unbind-floating-ip
      tags:
        - FloatingIP
      parameters:
        - in: path
          name: floatingIpId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloatingIPResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    put:
      summary: Bind a floating IP to a network interface
      operationId: bind-floating-ip
      tags:
        - FloatingIP
      parameters:
        - in: path
          name: floatingIpId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindFloatingIPRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloatingIPResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances:
    get:
      summary: List instances
      operationId: list-instances
      tags:
        - Instance
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create instances
      description: |-
        **A password must be set in the request.** The request is rejected otherwise, since the resulting instance would be unreachable. The platform can generate one, in which case it is returned only in this response.

        `count` creates several instances at once, 20 at most. Names are numbered `-1`, `-2` automatically and all instances share one password. **`instances` in the response is always an array**, including for a single instance.

        Instances are created one by one in order. If the sequence stops part way through, because of a quota limit for example, **the instances already created are kept** and `failure` states why it stopped. A failure on the first instance is treated as a failure of the whole request and no instance is created.

        Exactly one image source must be given: `image_id` for a platform image, `private_image_id` for a private image. Supplying both or neither is rejected.

        Instances are created in the availability zone of the instance type. Disks to be attached later must reside in the same zone.

        Creation is not complete when this endpoint returns and `status` is `provisioning`. Poll GET to observe the outcome.
      operationId: launch-instance
      tags:
        - Instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LaunchInstanceRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchInstanceResponseBody'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}:
    delete:
      summary: Release an instance
      description: |-
        The system disk is deleted with the instance, and **snapshots created from the system disk are deleted with it**. Data disks are detached and kept, and their snapshots and backups are unaffected. The primary network interface is released with the instance.

        An instance being captured as a private image cannot be released. Wait for the capture to finish, or delete that image first.
      operationId: delete-instance
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Retrieve an instance
      description: Queries the current state of the instance, which makes it slower but more accurate than the list endpoint. Use it to poll creation progress.
      operationId: get-instance
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: Rename an instance
      description: Changes the display name only. The hostname inside the instance is unchanged; it equals the instance id.
      operationId: rename-instance
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameInstanceRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/commands:
    post:
      summary: Run a command on an instance
      description: |-
        Runs one command over SSH and returns what it wrote. **This is not a shell.** There is no terminal, no standard input and no way to answer a prompt: a command that waits for input produces nothing and is killed at the timeout. Chain steps with `&&`, or write a script and run that.

        **A command that fails is still a 200.** Its failure is its own result, not this endpoint's: read `exit_code` for what it exited with and `stderr` for what it said, and decide from those. A `grep` that matches nothing exits 1 and is a perfectly successful call.

        The status therefore answers a different question — did the command run at all. A non-2xx means it did not, and nothing about the instance was changed by this request: it was suspended, not running or had no floating IP; or it refused the platform key; or the connection could not be opened. Retrying is meaningful in those cases and is not for a non-zero `exit_code`.

        Three conditions must hold; the instance is unreachable otherwise:

        - it is `running`
        - a floating IP is bound to it, since this endpoint connects over the public internet
        - its security group permits inbound TCP 22

        Authentication uses the key the platform attaches to every instance at creation, so nothing has to be set up first. The instance must have applied that key at first boot, which images without a full cloud-init do not do.

        **Do not pass secrets in the command.** Read them from a file on the instance instead: neither the command nor its output is a confidential channel.

        Each stream is capped at 1 MiB. Beyond that the rest is discarded and `truncated` is true.
      operationId: run-instance-command
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunCommandRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandResultResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/console:
    post:
      summary: Open a remote console
      description: |-
        Operates the instance directly from a browser and does not require the instance to be reachable over the network, which makes it usable when a network misconfiguration prevents login.

        The returned address is single-use and expires within minutes. **Do not cache it**; request a new one before each use.
      operationId: open-instance-console
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/console-output:
    get:
      summary: Read the console output
      description: |-
        The raw text produced by the instance during boot and by the kernel. Consult it first when login fails or the remote console shows no output: it reveals where boot stopped, whether the system disk was mounted, and whether initialisation reported errors.

        Instances in an error state, and instances suspended by the platform, can be read as well.
      operationId: get-instance-console-output
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
        - description: Number of trailing lines to return; 0 returns the entire output
          explode: false
          in: query
          name: lines
          schema:
            default: 200
            description: Number of trailing lines to return; 0 returns the entire output
            format: int64
            maximum: 10000
            minimum: 0
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleOutputResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/password:
    post:
      summary: Reset the login password
      description: |-
        Changes the root password without a reboot. The instance must be running.

        **Not every image supports this.** Images whose `supports_password_reset` is false cannot, and a new password can then only be set by rebuilding the instance, which erases all data on the system disk.

        The request is also rejected when the image is marked as supported but the corresponding component has been removed or stopped inside the instance.
      operationId: reset-instance-password
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPasswordResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/reboot:
    post:
      summary: Reboot an instance
      description: |-
        A reboot defaults to soft, in which the operating system shuts down normally before starting again.

        A soft reboot has no effect once the system is unresponsive. Set `force` to reboot forcibly: a forced reboot does not wait for the operating system to shut down, so **unwritten data is lost**.

        A forced reboot is accepted while the instance is already `rebooting`, which is the way out of a soft reboot the instance never carried out. Every other endpoint refuses an instance in a transient state, and a second soft reboot is refused as well.

        An instance suspended by the platform must be unsuspended first.

        This endpoint returns immediately and the `status` it returns is the transient `rebooting`. Poll the instance until it settles at `running`.
      operationId: reboot-instance
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RebootInstanceRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/rebuild:
    post:
      summary: Rebuild an instance
      description: '**All data on the system disk is erased and cannot be recovered.** Attached data disks are unaffected.'
      operationId: rebuild-instance
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RebuildInstanceRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RebuildInstanceResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/resize:
    post:
      summary: Resize an instance
      description: |-
        Only an instance type in the same region and availability zone can be selected, as attached disks cannot follow the instance elsewhere.

        A resize has two steps. This endpoint restarts the instance on the new size and the status becomes `resize_verifying`, at which point the confirm or revert endpoint **must** be called. Until confirmation the target type is recorded in `pending_instance_type_id`, while `instance_type_id` remains the type in effect and billed.

        **Both sizes hold resources while the resize is unconfirmed.** Confirm promptly once the status becomes `resize_verifying`.
      operationId: resize-instance
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResizeInstanceRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/resize/confirm:
    post:
      summary: Confirm a resize
      description: Releases the resources held by the previous size. `pending_instance_type_id` becomes the type in effect and is billed from then on.
      operationId: confirm-instance-resize
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/resize/revert:
    post:
      summary: Revert a resize
      description: The instance returns to its previous size, `pending_instance_type_id` is discarded, and billing is unaffected by the resize.
      operationId: revert-instance-resize
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/start:
    post:
      summary: Start an instance
      description: |-
        An instance suspended by the platform must be unsuspended first.

        This endpoint returns immediately and the `status` it returns is the transient `starting`. Poll the instance until it settles at `running`.
      operationId: start-instance
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/stop:
    post:
      summary: Stop an instance
      description: |-
        The operating system is asked to shut down and is powered off once it does, or once it stops responding for long enough. Stopping does not release the instance: it keeps its disks, its addresses and its name, and starts again where it left off.

        An instance suspended by the platform must be unsuspended first.

        This endpoint returns immediately and the `status` it returns is the transient `stopping`. Poll the instance until it settles at `stopped`.
      operationId: stop-instance
      tags:
        - Instance
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/disks:
    get:
      summary: List the disks attached to an instance
      operationId: list-instance-disks
      tags:
        - Attachment
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Attach a disk
      description: The disk must be in the same region and availability zone as the instance. Partition it and mount the file system inside the instance once it is attached.
      operationId: attach-disk
      tags:
        - Attachment
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachDiskRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/disks/{diskId}:
    delete:
      summary: Detach a disk
      description: Unmount the device inside the instance before calling this endpoint. Forcibly detaching a file system that is being written to corrupts data.
      operationId: detach-disk
      tags:
        - Attachment
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
        - in: path
          name: diskId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiskResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/floating-ips:
    post:
      summary: Bind a floating IP to an instance
      description: The floating IP is bound to the primary network interface of the instance.
      operationId: attach-instance-floating-ip
      tags:
        - Attachment
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachFloatingIPRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloatingIPResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/floating-ips/{floatingIpId}:
    delete:
      summary: Unbind the floating IP of an instance
      operationId: detach-instance-floating-ip
      tags:
        - Attachment
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
        - in: path
          name: floatingIpId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FloatingIPResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/ports:
    get:
      summary: List the network interfaces of an instance
      operationId: list-instance-ports
      tags:
        - Attachment
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Attach a network interface
      operationId: attach-port
      tags:
        - Attachment
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachPortRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/instances/{instanceId}/ports/{portId}:
    delete:
      summary: Detach a network interface
      description: The primary network interface cannot be detached; the instance would lose its network address.
      operationId: detach-port
      tags:
        - Attachment
      parameters:
        - in: path
          name: instanceId
          required: true
          schema:
            format: uuid
            type: string
        - in: path
          name: portId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/operation-logs:
    get:
      summary: List the operation log of the project
      description: |-
        Records every write operation in the project: who performed it, when, on what, and whether it succeeded. Read operations are not recorded.

        **Operations performed by the platform are included, but the individual operator is not disclosed** and `by_platform` is true. Suspension for non-payment and bans for abuse are examples: the time at which an instance was stopped by the platform is needed, whereas the operator is internal information.

        Fields such as passwords are replaced with a placeholder as the record is written and never appear in `payload`.
      operationId: list-operation-logs
      tags:
        - OperationLog
      parameters:
        - description: Return a single kind of operation; the value matches the operation id of the endpoint
          explode: false
          in: query
          name: action
          schema:
            description: Return a single kind of operation; the value matches the operation id of the endpoint
            maxLength: 64
            type: string
        - explode: false
          in: query
          name: limit
          schema:
            default: 50
            format: int64
            maximum: 200
            minimum: 1
            type: integer
        - explode: false
          in: query
          name: offset
          schema:
            default: 0
            format: int64
            minimum: 0
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationLogListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/ports:
    get:
      summary: List network interfaces
      operationId: list-ports
      tags:
        - Port
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a network interface
      description: The new network interface is not attached to any instance. Primary network interfaces are not created here; they are created with the instance.
      operationId: create-port
      tags:
        - Port
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePortRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/ports/{portId}:
    delete:
      summary: Delete a network interface
      description: The primary network interface cannot be deleted on its own, as it is released with the instance. A network interface still attached to an instance cannot be deleted either.
      operationId: delete-port
      tags:
        - Port
      parameters:
        - in: path
          name: portId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/private-images:
    get:
      summary: List private images
      operationId: list-private-images
      tags:
        - PrivateImage
      parameters:
        - description: Return only the images of this region. An image can only be used in the region that holds it
          explode: false
          in: query
          name: region_code
          schema:
            description: Return only the images of this region. An image can only be used in the region that holds it
            maxLength: 32
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateImageListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Capture an instance as a private image
      description: |-
        Captured from the system disk of the instance; data disks are not included. The resulting image can create instances and rebuild them, and remains usable after the source instance is released.

        **The image reflects the moment the capture started. Later changes to the instance are not included.**

        The capture has two phases. Poll the retrieve endpoint:

        - `provisioning` — the system disk is being read, usually for tens of seconds. The instance remains usable during this phase, although stopping it first is recommended for consistency.
        - `uploading` — no longer tied to the system disk. **The instance may be started at this point; there is no need to wait for the capture to finish.** The duration of this phase is proportional to the size of the system disk, roughly 3 minutes for 20 GB.

        The file system of a running instance may be captured mid-write, in which case the image is equivalent to the disk contents after a power loss. Where consistency matters, stop the instance before starting the capture and start it again once the status becomes `uploading`.

        The instance can be started, stopped and used normally during the capture, but cannot be released.
      operationId: create-private-image
      tags:
        - PrivateImage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateImageRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateImageResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/private-images/{privateImageId}:
    delete:
      summary: Delete a private image
      description: |-
        Deletion is rejected while instances created from the image still exist, as they need it in order to be rebuilt.

        An image whose capture has not finished can be deleted; the capture is aborted.
      operationId: delete-private-image
      tags:
        - PrivateImage
      parameters:
        - in: path
          name: privateImageId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Retrieve a private image
      description: Use this endpoint to poll capture progress. When `status` is `error`, `failure` states the reason.
      operationId: get-private-image
      tags:
        - PrivateImage
      parameters:
        - in: path
          name: privateImageId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateImageResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: Rename a private image
      operationId: rename-private-image
      tags:
        - PrivateImage
      parameters:
        - in: path
          name: privateImageId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenamePrivateImageRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateImageResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/private-networks:
    get:
      summary: List private networks
      operationId: list-private-networks
      tags:
        - PrivateNetwork
      parameters:
        - description: Returns every region when omitted
          explode: false
          in: query
          name: region_code
          schema:
            description: Returns every region when omitted
            maxLength: 32
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetworkListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a private network
      description: Creates a network, a router and a default security group in one call. The default security group denies all inbound traffic and permits all outbound traffic.
      operationId: create-private-network
      tags:
        - PrivateNetwork
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrivateNetworkRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetworkResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/private-networks/{privateNetworkId}:
    delete:
      summary: Release a private network
      description: Release is rejected while instances or network interfaces remain in the network. IPv6, the router and the security groups are released with it.
      operationId: delete-private-network
      tags:
        - PrivateNetwork
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Retrieve a private network
      operationId: get-private-network
      tags:
        - PrivateNetwork
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetworkResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: Rename a private network
      description: Changes the display name only. The CIDR, the routes and the internet gateway are immutable.
      operationId: rename-private-network
      tags:
        - PrivateNetwork
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenamePrivateNetworkRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetworkResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/private-networks/{privateNetworkId}/ipv6:
    delete:
      summary: Disable IPv6 on a private network
      description: A released prefix is not re-allocated immediately.
      operationId: disable-private-network-ipv6
      tags:
        - PrivateNetwork
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Retrieve the IPv6 configuration of a private network
      operationId: get-private-network-ipv6
      tags:
        - PrivateNetwork
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPv6ResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Enable IPv6 on a private network
      description: |-
        Allocates an IPv6 prefix to the private network. Addresses are assigned to instances by the network itself, can be neither requested nor released individually, and consume no public IPv4 address.

        If the private network is not yet connected to the internet, connectivity is established as part of this call.
      operationId: enable-private-network-ipv6
      tags:
        - PrivateNetwork
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPv6ResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/private-networks/{privateNetworkId}/routes:
    get:
      summary: List static routes
      operationId: list-routes
      tags:
        - Route
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a static route
      description: 'Three forms that would sever connectivity are rejected: a destination of `0.0.0.0/0`, which overrides the default route and takes every floating IP offline immediately; a destination equal to the CIDR of a subnet, which overrides its directly connected route; and a next hop equal to the gateway of a subnet, which points back at the router itself.'
      operationId: create-route
      tags:
        - Route
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRouteRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/private-networks/{privateNetworkId}/routes/{routeId}:
    delete:
      summary: Delete a static route
      operationId: delete-route
      tags:
        - Route
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
        - in: path
          name: routeId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/private-networks/{privateNetworkId}/subnets:
    get:
      summary: List subnets
      description: IPv6 subnets are included, with `ip_version` 6. They are created when IPv6 is enabled and cannot be deleted individually.
      operationId: list-subnets
      tags:
        - Subnet
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubnetListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a subnet
      operationId: create-subnet
      tags:
        - Subnet
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubnetRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubnetResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/private-networks/{privateNetworkId}/subnets/next-free-cidr:
    get:
      summary: Suggest the next free CIDR
      description: The returned value is a suggestion and is validated again when the subnet is created. It exists to avoid errors when computing the next free CIDR by hand.
      operationId: suggest-subnet-cidr
      tags:
        - Subnet
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
        - explode: false
          in: query
          name: prefix_length
          schema:
            default: 24
            format: int64
            maximum: 30
            minimum: 16
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextFreeCidrResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/private-networks/{privateNetworkId}/subnets/{subnetId}:
    delete:
      summary: Delete a subnet
      description: Deletion is rejected while network interfaces remain in the subnet, or while a static route has a next hop inside its CIDR.
      operationId: delete-subnet
      tags:
        - Subnet
      parameters:
        - in: path
          name: privateNetworkId
          required: true
          schema:
            format: uuid
            type: string
        - in: path
          name: subnetId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/security-groups:
    get:
      summary: List security groups
      operationId: list-security-groups
      tags:
        - SecurityGroup
      parameters:
        - explode: false
          in: query
          name: region_code
          schema:
            maxLength: 32
            type: string
        - description: Return only the security groups of this private network
          explode: false
          in: query
          name: private_network_id
          schema:
            description: Return only the security groups of this private network
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroupListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a security group
      description: A new security group carries one rule, permitting ICMP fragmentation-needed messages (type 3, code 4). Without it path MTU discovery fails, which presents as connections that establish and then stall on large packets.
      operationId: create-security-group
      tags:
        - SecurityGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecurityGroupRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroupResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/security-groups/{securityGroupId}:
    delete:
      summary: Delete a security group
      description: The default security group cannot be deleted, as it is released with the private network. A security group still referenced by a network interface cannot be deleted either.
      operationId: delete-security-group
      tags:
        - SecurityGroup
      parameters:
        - in: path
          name: securityGroupId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Retrieve a security group
      operationId: get-security-group
      tags:
        - SecurityGroup
      parameters:
        - in: path
          name: securityGroupId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroupResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: Rename a security group
      description: Changes the name only. Use the rule endpoints to change rules.
      operationId: rename-security-group
      tags:
        - SecurityGroup
      parameters:
        - in: path
          name: securityGroupId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameSecurityGroupRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityGroupResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/security-groups/{securityGroupId}/rules:
    get:
      summary: List security group rules
      operationId: list-security-group-rules
      tags:
        - SecurityGroup
      parameters:
        - in: path
          name: securityGroupId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRuleListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a security group rule
      description: Adding an identical rule twice is rejected. For that comparison `0.0.0.0/0`, `::/0` and an omitted value are treated as equivalent.
      operationId: create-security-group-rule
      tags:
        - SecurityGroup
      parameters:
        - in: path
          name: securityGroupId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecurityRuleRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRuleResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/security-groups/{securityGroupId}/rules/{ruleId}:
    delete:
      summary: Delete a security group rule
      operationId: delete-security-group-rule
      tags:
        - SecurityGroup
      parameters:
        - in: path
          name: securityGroupId
          required: true
          schema:
            format: uuid
            type: string
        - in: path
          name: ruleId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/snapshots:
    get:
      summary: List snapshots
      operationId: list-snapshots
      tags:
        - Snapshot
      parameters:
        - description: Return only the snapshots of this disk
          explode: false
          in: query
          name: disk_id
          schema:
            description: Return only the snapshots of this disk
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a snapshot
      description: |-
        Disks attached to a running instance can be snapshotted. A snapshot records the state of the block device at a point in time and may be inconsistent at the file-system level, so run `sync` inside the instance first where the data matters.

        **A snapshot of a system disk cannot be used to revert that system disk**: reverting requires the disk to be detached, and a system disk cannot be detached. It can be used to create a new data disk. To preserve and restore an entire system, use a private image; for a copy that crosses availability zones and survives deletion of the disk, use a backup.
      operationId: create-snapshot
      tags:
        - Snapshot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSnapshotRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/snapshots/{snapshotId}:
    delete:
      summary: Delete a snapshot
      operationId: delete-snapshot
      tags:
        - Snapshot
      parameters:
        - in: path
          name: snapshotId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Retrieve a snapshot
      operationId: get-snapshot
      tags:
        - Snapshot
      parameters:
        - in: path
          name: snapshotId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: Rename a snapshot
      operationId: rename-snapshot
      tags:
        - Snapshot
      parameters:
        - in: path
          name: snapshotId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameSnapshotRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: Project token. Sign in at auth.leaflow.net to obtain an account token, then exchange it with IAM for a project token (POST /account/v1/projects/{projectId}/token). A project token identifies both the current user and the current project.
      scheme: bearer
      type: http
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    BackupResource:
      additionalProperties: false
      properties:
        availability_zone:
          description: Availability zone of the source disk. A restore may target another zone in the same region
          type: string
        created_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        name:
          type: string
        region_code:
          type: string
        size_gb:
          description: Capacity of the source disk when the backup was created. A restored disk cannot be smaller than this
          format: int64
          type: integer
        source_disk_id:
          description: The disk this backup was taken from. The backup remains usable after that disk is deleted
          format: uuid
          type: string
        status:
          enum:
            - provisioning
            - available
            - restoring
            - deleting
            - error
          type: string
      required:
        - id
        - source_disk_id
        - name
        - size_gb
        - status
        - region_code
        - availability_zone
        - created_at
      type: object
    BackupListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/BackupResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    CreateBackupRequestBody:
      additionalProperties: false
      properties:
        disk_id:
          format: uuid
          type: string
        name:
          maxLength: 128
          minLength: 1
          type: string
      required:
        - disk_id
        - name
      type: object
    RenameBackupRequestBody:
      additionalProperties: false
      properties:
        name:
          maxLength: 128
          minLength: 1
          type: string
      required:
        - name
      type: object
    RestoreBackupRequestBody:
      additionalProperties: false
      properties:
        disk_type_id:
          description: May differ from the availability zone of the source disk, but must be in the same region
          format: uuid
          maxLength: 64
          type: string
        name:
          maxLength: 128
          minLength: 1
          type: string
        size_gb:
          description: Matches the size of the backup when omitted. When given, it must not be smaller than the backup
          format: int64
          minimum: 0
          type: integer
      required:
        - disk_type_id
        - name
      type: object
    DiskResource:
      additionalProperties: false
      properties:
        attached_instance_id:
          type:
            - string
            - 'null'
        availability_zone:
          description: Availability zone the disk actually resides in. An instance must be in the same zone to attach it
          type: string
        created_at:
          format: date-time
          type: string
        device:
          description: Device name assigned by the system, as seen inside the instance
          type:
            - string
            - 'null'
        disk_type_id:
          format: uuid
          type: string
        id:
          format: uuid
          type: string
        is_system:
          description: A system disk is released with its instance and can be neither detached nor deleted individually
          type: boolean
        name:
          type: string
        region_code:
          type: string
        size_gb:
          format: int64
          type: integer
        status:
          enum:
            - provisioning
            - available
            - attaching
            - in_use
            - detaching
            - resizing
            - reverting
            - restoring
            - releasing
            - deleting
            - error
          type: string
      required:
        - id
        - name
        - region_code
        - availability_zone
        - disk_type_id
        - size_gb
        - status
        - is_system
        - attached_instance_id
        - device
        - created_at
      type: object
    DiskTypeResource:
      additionalProperties: false
      properties:
        availability_zone_code:
          type: string
        id:
          format: uuid
          type: string
        iops_display:
          type: string
        max_size_gb:
          format: int64
          type: integer
        media:
          enum:
            - ssd
            - hdd
            - nvme
          type: string
        min_size_gb:
          format: int64
          type: integer
        name:
          type: string
        region_code:
          type: string
        step_gb:
          format: int64
          type: integer
        throughput_display:
          type: string
      required:
        - id
        - name
        - media
        - region_code
        - availability_zone_code
        - min_size_gb
        - max_size_gb
        - step_gb
        - iops_display
        - throughput_display
      type: object
    DiskTypeListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/DiskTypeResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    ImageResource:
      additionalProperties: false
      properties:
        architecture:
          type: string
        id:
          format: uuid
          type: string
        min_disk_gb:
          format: int64
          type: integer
        min_ram_mb:
          format: int64
          type: integer
        name:
          type: string
        os_family:
          type: string
        os_version:
          type: string
        region_code:
          type: string
        supports_password_reset:
          description: False means a new password can only be set by rebuilding an instance created from this image
          type: boolean
      required:
        - id
        - name
        - os_family
        - os_version
        - architecture
        - region_code
        - min_disk_gb
        - min_ram_mb
        - supports_password_reset
      type: object
    ImageListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/ImageResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    InstanceTypeResource:
      additionalProperties: false
      properties:
        availability_zone_code:
          description: Availability zone of this instance type. A disk must be in the same zone to be attached
          type: string
        id:
          format: uuid
          type: string
        max_bandwidth_mbps:
          format: int64
          type: integer
        max_floating_ips:
          format: int64
          type: integer
        max_ports:
          format: int64
          type: integer
        name:
          type: string
        ram_mb:
          format: int64
          type: integer
        region_code:
          type: string
        vcpus:
          format: int64
          type: integer
      required:
        - id
        - name
        - vcpus
        - ram_mb
        - region_code
        - availability_zone_code
        - max_ports
        - max_floating_ips
        - max_bandwidth_mbps
      type: object
    InstanceTypeListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/InstanceTypeResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    RegionResource:
      additionalProperties: false
      properties:
        code:
          type: string
        country_code:
          type: string
        name:
          type: string
      required:
        - code
        - name
        - country_code
      type: object
    RegionListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/RegionResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    ZoneResource:
      additionalProperties: false
      properties:
        code:
          type: string
        name:
          type: string
      required:
        - code
        - name
      type: object
    ZoneListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/ZoneResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    DiskListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/DiskResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    CreateDiskRequestBody:
      additionalProperties: false
      properties:
        disk_type_id:
          format: uuid
          maxLength: 64
          type: string
        name:
          maxLength: 128
          minLength: 1
          type: string
        size_gb:
          format: int64
          minimum: 1
          type: integer
        snapshot_id:
          description: Restore from this snapshot. When given, the capacity need only be no smaller than the snapshot
          format: uuid
          type: string
      required:
        - disk_type_id
        - name
        - size_gb
      type: object
    RenameDiskRequestBody:
      additionalProperties: false
      properties:
        name:
          maxLength: 128
          minLength: 1
          type: string
      required:
        - name
      type: object
    ResizeDiskRequestBody:
      additionalProperties: false
      properties:
        size_gb:
          description: Must be larger than the current capacity
          format: int64
          minimum: 1
          type: integer
      required:
        - size_gb
      type: object
    RevertDiskRequestBody:
      additionalProperties: false
      properties:
        snapshot_id:
          description: Must be the most recent snapshot of the disk
          format: uuid
          type: string
      required:
        - snapshot_id
      type: object
    FloatingIPResource:
      additionalProperties: false
      properties:
        address:
          type: string
        attached_fixed_ip:
          type:
            - string
            - 'null'
        attached_port_id:
          type:
            - string
            - 'null'
        bandwidth_mbps:
          format: int64
          type:
            - integer
            - 'null'
        created_at:
          format: date-time
          type: string
        detached_at:
          format: date-time
          type:
            - string
            - 'null'
        id:
          format: uuid
          type: string
        region_code:
          type: string
        status:
          description: '`idle` means the address is not bound to a network interface'
          enum:
            - idle
            - bound
          type: string
      required:
        - id
        - region_code
        - address
        - status
        - bandwidth_mbps
        - attached_port_id
        - attached_fixed_ip
        - detached_at
        - created_at
      type: object
    FloatingIPListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/FloatingIPResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    AllocateFloatingIPRequestBody:
      additionalProperties: false
      properties:
        address:
          description: The address to allocate. Allocated by the platform when omitted
          maxLength: 64
          type: string
        private_network_id:
          format: uuid
          type: string
      required:
        - private_network_id
      type: object
    SetBandwidthRequestBody:
      additionalProperties: false
      properties:
        mbps:
          description: Applied to both directions
          format: int64
          minimum: 1
          type: integer
      required:
        - mbps
      type: object
    BindFloatingIPRequestBody:
      additionalProperties: false
      properties:
        port_id:
          format: uuid
          type: string
      required:
        - port_id
      type: object
    InstanceResource:
      additionalProperties: false
      properties:
        availability_zone:
          type: string
        created_at:
          format: date-time
          type: string
        hostname:
          description: Hostname inside the instance; equals the instance id
          type: string
        id:
          format: uuid
          type: string
        image_id:
          description: Non-empty when the instance was created from a platform image
          format: uuid
          type:
            - string
            - 'null'
        instance_type_id:
          description: The instance type in effect, and the basis for billing
          format: uuid
          type: string
        ipv6_address:
          description: IPv6 address of the primary network interface. Assigned automatically once IPv6 is enabled on the private network
          type:
            - string
            - 'null'
        name:
          type: string
        pending_instance_type_id:
          description: Non-empty while a resize awaits confirmation. Confirming puts this type into effect, reverting discards it
          format: uuid
          type:
            - string
            - 'null'
        private_image_id:
          description: Non-empty when the instance was created from a private image
          format: uuid
          type:
            - string
            - 'null'
        private_ip:
          description: Private address of the instance
          type:
            - string
            - 'null'
        private_network_id:
          description: Private network of the primary network interface
          type:
            - string
            - 'null'
        public_ips:
          description: Floating IPv4 addresses bound to the primary network interface; an empty array when none are bound
          items:
            type: string
          type:
            - array
            - 'null'
        region_code:
          type: string
        status:
          description: |-
            Only `running` and `stopped` accept commands. Every other value means the instance is changing, and start, stop, reboot, resize, rebuild and password reset are all rejected.

            `transitioning` is the fallback for a change that falls into none of the categories above. It does not indicate an error; keep polling.

            `resize_verifying` is not transient: the instance is running on the new size and stays there until the resize is confirmed or reverted, with both sizes billed in the meantime.
          enum:
            - provisioning
            - running
            - stopped
            - starting
            - stopping
            - rebooting
            - transitioning
            - resizing
            - resize_verifying
            - error
            - deleting
            - suspended
          type: string
        subnet_id:
          description: Subnet of the primary network interface
          type:
            - string
            - 'null'
        suspended_at:
          description: Non-empty once the platform has suspended the instance, which must be lifted before any operation
          format: date-time
          type:
            - string
            - 'null'
        updated_at:
          format: date-time
          type: string
      required:
        - id
        - name
        - hostname
        - region_code
        - availability_zone
        - private_network_id
        - subnet_id
        - private_ip
        - public_ips
        - ipv6_address
        - instance_type_id
        - pending_instance_type_id
        - image_id
        - private_image_id
        - status
        - suspended_at
        - created_at
        - updated_at
      type: object
    InstanceListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/InstanceResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    LaunchInstanceRequestBody:
      additionalProperties: false
      properties:
        count:
          description: Number of instances to create; 1 when omitted. Names are numbered automatically for several
          format: int64
          maximum: 20
          minimum: 0
          type: integer
        generate_password:
          description: Have the platform generate a random password, returned only in this response
          type: boolean
        image_id:
          description: A platform image. Exactly one of this and `private_image_id`
          format: uuid
          maxLength: 64
          type: string
        instance_type_id:
          format: uuid
          maxLength: 64
          type: string
        name:
          maxLength: 128
          minLength: 1
          type: string
        password:
[...]
