openapi: 3.1.0
info:
  description: |-
    Monitoring for your own project: enroll machines, read metrics, work through incidents, schedule maintenance windows, and set availability targets.

    ## Authentication

    Every request must carry `Authorization: Bearer <project token>`. Sign in at auth.leaflow.net to obtain an account token, then exchange it for a project token (`POST /api/v1/projects/{projectId}/token`). A project token identifies both the current user and the current project.

    **There is no `projectId` in any path**: the current project is determined by the token.

    Distinguish the failure modes by error code: `TOKEN_MISSING` means no token was supplied; `TOKEN_EXPIRED` means the token has expired and can be re-issued from the account token without signing in again; `TOKEN_INVALID` means the token failed validation; `NOT_A_MEMBER` means the account is not a member of the project; `USER_SUSPENDED` and `USER_BANNED` mean the account itself is barred from operating.

    ## Two distinctions worth keeping straight

    - **Disabling is not deleting.** `POST /servers/{id}/disable` is reversible and preserves all history. `DELETE /servers/{id}` also removes the monitored host, its history and every incident recorded against it, and cannot be undone.
    - **Recovery is not closure.** `incident_status` reports whether monitoring considers the problem recovered; `closed_at` reports whether someone has finished handling it. An incident that has not recovered may still be closed as an accepted risk.

    ## The PSK is returned once

    Enrollment and rotation responses include `tls_psk`. No other endpoint will return it again, so store it immediately. If it is lost, rotate once more — at the cost of updating the agent configuration on the monitored machine.
  title: Leaflow Monitoring API
  version: 1.0.0
servers:
  - url: https://monitoring.leaflow.cloud
    description: Host monitoring, incidents, web checks and SLOs
security:
  - bearerAuth: []
paths:
  /api/v1/incidents:
    get:
      summary: List incidents
      description: '`incident_status` reports whether monitoring considers the problem recovered; `closed` reports whether someone has finished handling it. The two are independent and can be filtered separately.'
      operationId: list-incidents
      tags:
        - Incident
      parameters:
        - description: Maximum number of records in this page
          explode: false
          in: query
          name: limit
          schema:
            default: 50
            description: Maximum number of records in this page
            format: int64
            maximum: 200
            minimum: 1
            type: integer
        - description: Number of records to skip. For deeper paging, use the cursor-paged endpoint instead
          explode: false
          in: query
          name: offset
          schema:
            description: Number of records to skip. For deeper paging, use the cursor-paged endpoint instead
            format: int64
            maximum: 10000
            minimum: 0
            type: integer
        - description: Restrict to a single machine
          explode: false
          in: query
          name: server_id
          schema:
            description: Restrict to a single machine
            type: string
        - explode: false
          in: query
          name: incident_status
          schema:
            enum:
              - PROBLEM
              - RESOLVED
            type: string
        - description: Matches at or above this severity, not exactly this severity
          explode: false
          in: query
          name: min_severity
          schema:
            description: Matches at or above this severity, not exactly this severity
            enum:
              - NOT_CLASSIFIED
              - INFORMATION
              - WARNING
              - AVERAGE
              - HIGH
              - DISASTER
            type: string
        - explode: false
          in: query
          name: started_after
          schema:
            format: date-time
            type: string
        - explode: false
          in: query
          name: started_before
          schema:
            format: date-time
            type: string
        - description: Incidents that **overlap** [active_from, active_to]. This is what you want when overlaying incident bands on a metric chart
          explode: false
          in: query
          name: active_from
          schema:
            description: Incidents that **overlap** [active_from, active_to]. This is what you want when overlaying incident bands on a metric chart
            format: date-time
            type: string
        - explode: false
          in: query
          name: active_to
          schema:
            format: date-time
            type: string
        - description: Given as `key` or `key=value`, repeatable. Multiple tags are combined with AND
          explode: false
          in: query
          name: tag
          schema:
            description: Given as `key` or `key=value`, repeatable. Multiple tags are combined with AND
            items:
              type: string
            type:
              - array
              - 'null'
        - explode: false
          in: query
          name: assignee_user_id
          schema:
            type: string
        - description: Whether someone has finished handling it here. Independent of `incident_status`
          explode: false
          in: query
          name: closed
          schema:
            description: Whether someone has finished handling it here. Independent of `incident_status`
            enum:
              - 'true'
              - 'false'
            type: string
        - explode: false
          in: query
          name: acknowledged
          schema:
            enum:
              - 'true'
              - 'false'
            type: string
        - explode: false
          in: query
          name: unassigned
          schema:
            enum:
              - 'true'
              - 'false'
            type: string
        - explode: false
          in: query
          name: keyword
          schema:
            maxLength: 255
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LengthAwarePageIncidentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/incidents/{incidentId}:
    get:
      summary: Get an incident
      operationId: get-incident
      tags:
        - Incident
      parameters:
        - in: path
          name: incidentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/incidents/{incidentId}/acknowledge:
    post:
      summary: Acknowledge an incident
      description: The incident is also marked as acknowledged in the monitoring system, so that other channels can see it already has an owner.
      operationId: acknowledge-incident
      tags:
        - Incident
      parameters:
        - in: path
          name: incidentId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcknowledgeIncidentRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/incidents/{incidentId}/assignee:
    put:
      summary: Assign an incident, or clear its assignee
      description: |-
        Leave `assignee_user_id` empty to clear the assignment.

        **Project membership of the assignee is not verified.** Any user identifier is accepted and recorded as given.
      operationId: assign-incident
      tags:
        - Incident
      parameters:
        - in: path
          name: incidentId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignIncidentRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/incidents/{incidentId}/close:
    post:
      summary: Close an incident
      description: Closing records **that the handling process is finished on this platform**; it does not change the state of the incident itself. An incident that has not recovered may still be closed as an accepted risk, and remains unrecovered in the monitoring system.
      operationId: close-incident
      tags:
        - Incident
      parameters:
        - in: path
          name: incidentId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseIncidentRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/incidents/{incidentId}/comments:
    post:
      summary: Add a note to the timeline
      operationId: add-incident-comment
      tags:
        - Incident
      parameters:
        - in: path
          name: incidentId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCommentRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentActivityResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/incidents/{incidentId}/following:
    put:
      summary: Follow an incident, or stop following it
      description: 'You follow **yourself**: the caller is the user added to or removed from the follower list.'
      operationId: set-incident-following
      tags:
        - Incident
      parameters:
        - in: path
          name: incidentId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetFollowingRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/incidents/{incidentId}/reopen:
    post:
      summary: Reopen a closed incident
      operationId: reopen-incident
      tags:
        - Incident
      parameters:
        - in: path
          name: incidentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/incidents/{incidentId}/timeline:
    get:
      summary: List the timeline of an incident
      description: 'Cursor paging rather than offset paging: the timeline is append-only, and offset paging would skip or repeat entries whenever a new one is written.'
      operationId: list-incident-timeline
      tags:
        - Incident
      parameters:
        - in: path
          name: incidentId
          required: true
          schema:
            format: uuid
            type: string
        - explode: false
          in: query
          name: limit
          schema:
            default: 50
            format: int64
            maximum: 500
            minimum: 0
            type: integer
        - description: The `next_cursor` returned by the previous page. Empty starts from the beginning
          explode: false
          in: query
          name: cursor
          schema:
            description: The `next_cursor` returned by the previous page. Empty starts from the beginning
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPageIncidentActivityResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/maintenance-windows:
    get:
      summary: List maintenance windows
      operationId: list-maintenance-windows
      tags:
        - MaintenanceWindow
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceWindowListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/maintenance-windows/{windowId}:
    delete:
      summary: Cancel a maintenance window
      description: Alerting resumes immediately, even if the window has not yet expired.
      operationId: delete-maintenance-window
      tags:
        - MaintenanceWindow
      parameters:
        - in: path
          name: windowId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Get a maintenance window
      operationId: get-maintenance-window
      tags:
        - MaintenanceWindow
      parameters:
        - in: path
          name: windowId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceWindowResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    put:
      summary: Create a maintenance window, or replace it by the same id
      description: |-
        **Create or replace**: extending a window that is already running means calling this endpoint again with the same id.

        While the window is open, problems on these machines do not alert and do not count against SLA availability. Leave `server_ids` empty to cover the entire project, including machines enrolled after the window opens.
      operationId: put-maintenance-window
      tags:
        - MaintenanceWindow
      parameters:
        - in: path
          name: windowId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutMaintenanceWindowRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceWindowResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/overview:
    get:
      summary: Project overview
      description: A project with no machines yet returns an overview with every figure at zero rather than a 404 — an empty project is a normal state.
      operationId: get-project-overview
      tags:
        - Observability
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectOverviewResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/servers/{serverId}/items:
    get:
      summary: List the monitoring items of a machine
      description: Items are returned exactly as collected, without filtering or renaming. Which of them count as important is for the caller to decide from the tags carried by each item.
      operationId: list-server-items
      tags:
        - Observability
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
        - description: Fuzzy match on key or name
          explode: false
          in: query
          name: keyword
          schema:
            description: Fuzzy match on key or name
            maxLength: 255
            type: string
        - description: Given as `key` or `key=value`, repeatable. The `component` tags applied by the official templates (cpu, memory, filesystem and so on) are filtered through this
          explode: false
          in: query
          name: tag
          schema:
            description: Given as `key` or `key=value`, repeatable. The `component` tags applied by the official templates (cpu, memory, filesystem and so on) are filtered through this
            items:
              type: string
            type:
              - array
              - 'null'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/servers/{serverId}/metrics:
    get:
      summary: Get the time series of a monitoring item
      description: '`item_key` is matched **by prefix**. Keys discovered per partition or per interface carry parameters (`vfs.fs.size[/var,pused]`), so a single request for `vfs.fs.size` returns one series per mount point.'
      operationId: get-server-metric
      tags:
        - Observability
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
        - description: '**Prefix match**: `vfs.fs.size` returns one series per mount point. Supply this or `item_id`'
          explode: false
          in: query
          name: item_key
          schema:
            description: '**Prefix match**: `vfs.fs.size` returns one series per mount point. Supply this or `item_id`'
            type: string
        - explode: false
          in: query
          name: item_id
          schema:
            type: string
        - description: Defaults to one hour ago
          explode: false
          in: query
          name: from
          schema:
            description: Defaults to one hour ago
            format: date-time
            type: string
        - explode: false
          in: query
          name: to
          schema:
            format: date-time
            type: string
        - description: Number of downsampling buckets. 0 returns the collected data points unchanged
          explode: false
          in: query
          name: max_points
          schema:
            description: Number of downsampling buckets. 0 returns the collected data points unchanged
            format: int64
            minimum: 0
            type: integer
        - description: Also return the thresholds currently in effect for these items
          explode: false
          in: query
          name: include_thresholds
          schema:
            description: Also return the thresholds currently in effect for these items
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/servers/{serverId}/resources:
    get:
      summary: Hardware and interfaces of a machine
      operationId: get-server-resources
      tags:
        - Observability
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerResourcesResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/servers/{serverId}/snapshot:
    get:
      summary: Current state of a machine
      operationId: get-server-snapshot
      tags:
        - Observability
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/top-items:
    get:
      summary: Machines ranked highest by a given metric
      operationId: list-project-top-items
      tags:
        - Observability
      parameters:
        - explode: false
          in: query
          name: kind
          required: true
          schema:
            enum:
              - CPU_UTILIZATION
              - MEMORY_UTILIZATION
              - ROOT_FILESYSTEM_USED
            type: string
        - description: 0 uses the default
          explode: false
          in: query
          name: limit
          schema:
            description: 0 uses the default
            format: int64
            maximum: 100
            minimum: 0
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopItemListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/servers:
    get:
      summary: List the machines in the project
      operationId: list-servers
      tags:
        - Onboarding
      parameters:
        - description: Maximum number of records in this page
          explode: false
          in: query
          name: limit
          schema:
            default: 50
            description: Maximum number of records in this page
            format: int64
            maximum: 200
            minimum: 1
            type: integer
        - description: Number of records to skip. For deeper paging, use the cursor-paged endpoint instead
          explode: false
          in: query
          name: offset
          schema:
            description: Number of records to skip. For deeper paging, use the cursor-paged endpoint instead
            format: int64
            maximum: 10000
            minimum: 0
            type: integer
        - description: Fuzzy match on name or address
          explode: false
          in: query
          name: keyword
          schema:
            description: Fuzzy match on name or address
            maxLength: 255
            type: string
        - explode: false
          in: query
          name: monitoring_status
          schema:
            enum:
              - PENDING
              - ACTIVE
              - DISABLED
              - FAILED
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LengthAwarePageServerResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/servers/{serverId}:
    delete:
      summary: Delete a machine
      description: '**Irreversible**: the monitored host, its history and every incident recorded against this machine are removed together. To stop collection temporarily, use `/disable` instead.'
      operationId: delete-server
      tags:
        - Onboarding
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Get the enrollment state of a machine
      operationId: get-server
      tags:
        - Onboarding
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: Update the enrollment settings of a machine
      description: 'Only the fields present in the request body are updated. `address` and `address_kind` must be supplied together: changing one without the other produces a contradictory configuration that is not reported as an error and shows up only as an agent that cannot connect.'
      operationId: update-server
      tags:
        - Onboarding
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServerRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    put:
      summary: Enroll a machine into monitoring
      description: |-
        **Repeated calls with the same server id are idempotent**: given identical parameters, the already-enrolled machine is returned and no duplicate host is created, so a failed enrollment is safe to retry.

        To change enrollment settings, use PATCH. This endpoint returns an error when the parameters differ, and does not update an existing configuration.

        The `tls_psk` in the response is **returned only this once**; store it immediately. If it is lost, it must be rotated.
      operationId: enable-server-monitoring
      tags:
        - Onboarding
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableMonitoringRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerEnrollmentResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/servers/{serverId}/disable:
    post:
      summary: Stop monitoring a machine
      description: 'Reversible: the monitored host is retained, only collection stops, and history is unaffected. Enrolling again resumes collection. To remove the history as well, use DELETE.'
      operationId: disable-server-monitoring
      tags:
        - Onboarding
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/servers/{serverId}/psk:
    post:
      summary: Rotate the agent PSK
      description: The agent configuration must be updated to match, otherwise the machine loses contact immediately. The new key is likewise **returned in clear text only in this response**.
      operationId: rotate-agent-psk
      tags:
        - Onboarding
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollmentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/servers/{serverId}/web-checks/{checkId}:
    delete:
      summary: Delete a web check
      description: The corresponding check task and trigger are removed from the monitoring system as well, so no permanently unrecoverable alert is left behind.
      operationId: delete-web-check
      tags:
        - WebCheck
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
        - in: path
          name: checkId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Get a web check
      operationId: get-web-check
      tags:
        - WebCheck
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
        - in: path
          name: checkId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebCheckResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    put:
      summary: Create a web check, or replace it by the same id
      description: '**Create or replace**: to modify a check, call this endpoint again with the same id. There is no need to determine first whether it already exists.'
      operationId: put-web-check
      tags:
        - WebCheck
      parameters:
        - in: path
          name: serverId
          required: true
          schema:
            format: uuid
            type: string
        - in: path
          name: checkId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutWebCheckRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebCheckResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/web-checks:
    get:
      summary: List web checks
      operationId: list-web-checks
      tags:
        - WebCheck
      parameters:
        - description: Restrict to the checks of a single machine. Omit for the whole project
          explode: false
          in: query
          name: server_id
          schema:
            description: Restrict to the checks of a single machine. Omit for the whole project
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebCheckListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/sli-report:
    get:
      summary: Get measured availability
      description: |-
        SLI is what was measured; SLO is what was promised — this endpoint returns the former.

        The row with an empty `server_id` covers the project as a whole.
      operationId: get-sli-report
      tags:
        - SLA
      parameters:
        - explode: false
          in: query
          name: from
          schema:
            format: date-time
            type: string
        - explode: false
          in: query
          name: to
          schema:
            format: date-time
            type: string
        - description: Return the most recent N complete periods. Use this or from/to, not both
          explode: false
          in: query
          name: periods
          schema:
            description: Return the most recent N complete periods. Use this or from/to, not both
            format: int64
            maximum: 100
            minimum: 0
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLIReportResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/slo:
    delete:
      summary: Remove the availability target of this project
      description: Availability is no longer tracked from this point on.
      operationId: delete-slo
      tags:
        - SLA
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: Get the availability target of this project
      description: 'A project that has never set one returns 404 rather than a default target: making no promise and promising 99.9% are different things.'
      operationId: get-slo
      tags:
        - SLA
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLOResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    put:
      summary: Set the availability target of this project, or change it
      description: |-
        One SLO per project, **create or replace**.

        `min_severity` must be chosen explicitly: it defines what counts as unavailable, which is half of what the target means.
      operationId: put-slo
      tags:
        - SLA
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutSLORequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SLOResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page:
    get:
      summary: Get the status page of this project
      description: A project has at most one status page. A project that has never created one returns 404.
      operationId: get-status-page
      tags:
        - StatusPage
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    put:
      summary: Create the status page, or replace its configuration
      description: |-
        **Create or replace**: changing the title, switching the domain, publishing and unpublishing are all done by sending the complete configuration again.

        While `published` is false the public address returns 404, including any custom domain already bound. A newly created page is unpublished by default, so that a page still being configured has no address that opens.

        `slug` and `custom_domain` are **globally unique**; a value already taken returns 409.
      operationId: put-status-page
      tags:
        - StatusPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutStatusPageRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    delete:
      summary: Delete the status page
      description: Its groups, components, availability history, incident notices and scheduled maintenance are removed together, and cannot be recovered. The slug and custom domain are released.
      operationId: delete-status-page
      tags:
        - StatusPage
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/order:
    put:
      summary: Set the order of the top level of the page
      description: |-
        Submits the **entire** top-level order in one call rather than moving a single entry to a given position.

        The top level interleaves groups and ungrouped components, so the order is expressed as one list covering both.

        Each entry carries either `group_id` or `component_id`. Entries not listed are placed after those that are.
      operationId: put-status-page-order
      tags:
        - StatusPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutStatusPageOrderRequestBody'
        required: true
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/groups:
    get:
      summary: List groups
      operationId: list-status-page-groups
      tags:
        - StatusPage
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageGroupListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a group
      description: A group is one level of collapsing applied to components on the page. There is exactly one level; groups cannot be nested.
      operationId: create-status-page-group
      tags:
        - StatusPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutStatusPageGroupRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageGroupResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/groups/{groupId}:
    parameters:
      - in: path
        name: groupId
        required: true
        schema:
          format: uuid
          type: string
    put:
      summary: Update a group
      operationId: update-status-page-group
      tags:
        - StatusPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutStatusPageGroupRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageGroupResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    delete:
      summary: Delete a group
      description: The components in it are **not deleted**. They return to the top level as ungrouped components, keeping their availability history and the incident notices that reference them.
      operationId: delete-status-page-group
      tags:
        - StatusPage
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/groups/{groupId}/order:
    put:
      summary: Set the order of components within a group
      operationId: put-status-page-group-order
      tags:
        - StatusPage
      parameters:
        - in: path
          name: groupId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutStatusPageGroupOrderRequestBody'
        required: true
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/components:
    get:
      summary: List components
      description: 'A component is one row on the status page: an externally promised capability. It is not a machine — a single component may be backed by several machines and several web checks.'
      operationId: list-status-page-components
      tags:
        - StatusPage
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageComponentListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Create a component
      description: |-
        `name` is **customer-facing copy** and appears verbatim on the public page; do not use machine names.

        `auto_status_min_severity` sets how severe an alert must be before it changes the status of this row; anything below it has no effect. The default is AVERAGE. Lower settings tend to keep the page permanently off-green, at which point people stop reading it.
      operationId: create-status-page-component
      tags:
        - StatusPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutStatusPageComponentRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageComponentResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/components/{componentId}:
    parameters:
      - in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
    get:
      summary: Get a component
      operationId: get-status-page-component
      tags:
        - StatusPage
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageComponentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    put:
      summary: Update a component
      description: '`started_on` cannot be changed: it determines where the availability bar stops showing as unmeasured, and changing it would rewrite history that has already been published.'
      operationId: update-status-page-component
      tags:
        - StatusPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutStatusPageComponentRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageComponentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    delete:
      summary: Delete a component
      description: Its availability history is removed along with it. Passages in already-published notices that refer to it are retained, since customers may already have read them.
      operationId: delete-status-page-component
      tags:
        - StatusPage
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/components/{componentId}/sources:
    parameters:
      - in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
    get:
      summary: List the monitored sources bound to a component
      description: Monitored sources are internal information and **never appear on the public page**.
      operationId: list-status-page-component-sources
      tags:
        - StatusPage
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageComponentSourcesResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    put:
      summary: Set the complete list of monitored sources for a component
      description: |-
        Submits the **complete** set of sources; anything not listed is unbound.

        Once bound, alerts on these machines and web checks drive the status of the component automatically: DISASTER and HIGH are reported as a major outage, AVERAGE as a partial outage, and WARNING as degraded performance. Alerts below `auto_status_min_severity` have no effect.

        `show_url` controls whether the checked address is shown on the public page. It is off by default.
      operationId: put-status-page-component-sources
      tags:
        - StatusPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutStatusPageComponentSourcesRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageComponentSourcesResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/incidents:
    get:
      summary: List the incident notices on the status page
      description: These are **customer-facing notices**, distinct from the monitoring incidents under `/incidents`. Nothing from the latter is carried over; the text here is written by your team.
      operationId: list-status-page-incidents
      tags:
        - StatusPage
      parameters:
        - description: Maximum number of records in this page
          explode: false
          in: query
          name: limit
          schema:
            default: 50
            format: int64
            maximum: 200
            minimum: 1
            type: integer
        - explode: false
          in: query
          name: offset
          schema:
            format: int64
            maximum: 10000
            minimum: 0
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LengthAwarePageStatusPageIncidentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Publish an incident notice
      description: |-
        Publishing a notice and writing its first update are a single operation: a notice with no updates would appear as a bare title on a page that has already been delivered to readers.

        `started_at` is when the **incident began**, not when the notice was published. The two are usually minutes to hours apart, and using the publication time would understate the impact window that customers can compare against their own logs. Backfilling a past incident relies on the same field.

        The statuses given in `components` take effect on the public page immediately and count towards availability.
      operationId: publish-status-page-incident
      tags:
        - StatusPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishStatusPageIncidentRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageIncidentResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/incidents/{incidentId}:
    get:
      summary: Get an incident notice
      operationId: get-status-page-incident
      tags:
        - StatusPage
      parameters:
        - in: path
          name: incidentId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageIncidentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/incidents/{incidentId}/updates:
    post:
      summary: Append an update to an incident notice
      description: |-
        Published updates are never modified; a correction is issued as a new update. Customers may already have forwarded the original, and a silent rewrite would leave the two sides with different histories.

        `components` lists only the components **being changed** by this update; those not listed keep their current status. Setting `status` to `RESOLVED` returns every component this notice has affected to operational and closes the notice. A closed notice accepts no further updates.
      operationId: post-status-page-incident-update
      tags:
        - StatusPage
      parameters:
        - in: path
          name: incidentId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostStatusPageIncidentUpdateRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageIncidentResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/maintenances:
    get:
      summary: List scheduled maintenance
      operationId: list-status-page-maintenances
      tags:
        - StatusPage
      parameters:
        - description: Maximum number of records in this page
          explode: false
          in: query
          name: limit
          schema:
            default: 50
            format: int64
            maximum: 200
            minimum: 1
            type: integer
        - explode: false
          in: query
          name: offset
          schema:
            format: int64
            maximum: 10000
            minimum: 0
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LengthAwarePageStatusPageMaintenanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: Schedule maintenance
      description: |-
        Maintenance starts and finishes automatically at the scheduled times; nobody needs to be present. While it runs, the affected components are shown as under maintenance and **availability is not reduced** — planned work should not consume the availability you promise to customers, which is the point of announcing it in advance.

        This is separate from `/maintenance-windows`, which suppresses alerting for a period. This endpoint announces the work to your customers. The two are usually created together: without suppression, restarts during the maintenance raise alerts and mark the components unavailable.
      operationId: schedule-status-page-maintenance
      tags:
        - StatusPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleStatusPageMaintenanceRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageMaintenanceResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/maintenances/{maintenanceId}:
    get:
      summary: Get a scheduled maintenance
      operationId: get-status-page-maintenance
      tags:
        - StatusPage
      parameters:
        - in: path
          name: maintenanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageMaintenanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/maintenances/{maintenanceId}/cancel:
    post:
      summary: Cancel a maintenance that has not started
      description: Cancelled rather than deleted, so that readers who saw the announcement have an explanation. Maintenance that has already started cannot be cancelled; finish it early instead.
      operationId: cancel-status-page-maintenance
      tags:
        - StatusPage
      parameters:
        - in: path
          name: maintenanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageMaintenanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/status-page/maintenances/{maintenanceId}/complete:
    post:
      summary: Finish a running maintenance early
      description: 'Optional: maintenance finishes on its own at the scheduled end time. Use this endpoint when the work is done ahead of schedule; the affected components return to operational immediately.'
      operationId: complete-status-page-maintenance
      tags:
        - StatusPage
      parameters:
        - in: path
          name: maintenanceId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageMaintenanceResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: Project token. Sign in at auth.leaflow.net to obtain an account token, then exchange it for a project token (POST /account/v1/projects/{projectId}/token). A project token identifies both the current user and the current project.
      scheme: bearer
      type: http
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    IncidentFollowerResource:
      additionalProperties: false
      properties:
        display_name:
          type: string
        followed_at:
          format: date-time
          type: string
        user_id:
          type: string
      required:
        - user_id
        - display_name
        - followed_at
      type: object
    MonitoringItemResource:
      additionalProperties: false
      properties:
        aggregation_function:
          description: Such as last, avg, min or max
          type: string
        evaluation_window_seconds:
          format: int64
          type: integer
        item_id:
          type: string
        key:
          type: string
        name:
          type: string
        operator:
          type: string
        threshold:
          description: Present only when `threshold_status` is RESOLVED
          format: double
          type:
            - number
            - 'null'
        threshold_status:
          type: string
        value:
          description: The value at the moment of the trigger, stored as collected
          type: string
      required:
        - item_id
        - name
        - key
        - value
        - threshold_status
        - threshold
        - operator
        - aggregation_function
        - evaluation_window_seconds
      type: object
    TagResource:
      additionalProperties: false
      properties:
        tag:
          type: string
        value:
          type: string
      required:
        - tag
        - value
      type: object
    IncidentResource:
      additionalProperties: false
      properties:
        acknowledge_message:
          type: string
        acknowledged:
          type: boolean
        acknowledged_at:
          format: date-time
          type:
            - string
            - 'null'
        acknowledged_by_display_name:
          type: string
        acknowledged_by_user_id:
          type: string
        assigned_at:
          format: date-time
          type:
            - string
            - 'null'
        assignee_display_name:
          type: string
        assignee_user_id:
          type: string
        close_message:
          type: string
        close_reason:
          type: string
        closed_at:
          format: date-time
          type:
            - string
            - 'null'
        closed_by_display_name:
          type: string
        closed_by_user_id:
          type: string
        duration_seconds:
          format: int64
          type: integer
        followers:
          items:
            $ref: '#/components/schemas/IncidentFollowerResource'
          type:
            - array
            - 'null'
        host_connection:
          type: string
        host_display_name:
          type: string
        id:
          format: uuid
          type: string
        incident_status:
          description: Whether monitoring considers the problem recovered. Independent of whether anyone has closed the incident
          enum:
            - PROBLEM
            - RESOLVED
          type: string
        items:
          items:
            $ref: '#/components/schemas/MonitoringItemResource'
          type:
            - array
            - 'null'
        name:
          type: string
        operational_data:
          description: The operational data line configured on the trigger
          type: string
        project_id:
          format: uuid
          type: string
        resolved_at:
          format: date-time
          type:
            - string
            - 'null'
        resolved_trigger_expression:
          type: string
        server_id:
          format: uuid
          type: string
        server_name:
          type: string
        severity:
          enum:
            - NOT_CLASSIFIED
            - INFORMATION
            - WARNING
            - AVERAGE
            - HIGH
            - DISASTER
          type: string
        started_at:
          format: date-time
          type: string
        tags:
          items:
            $ref: '#/components/schemas/TagResource'
          type:
            - array
            - 'null'
        trigger_expression:
          type: string
        zabbix_event_id:
          type: string
      required:
        - id
        - project_id
        - server_id
        - server_name
        - name
        - severity
        - incident_status
        - operational_data
        - started_at
        - resolved_at
        - duration_seconds
        - acknowledged
        - acknowledged_at
        - acknowledged_by_user_id
        - acknowledged_by_display_name
        - acknowledge_message
        - assignee_user_id
        - assignee_display_name
        - assigned_at
        - closed_at
        - closed_by_user_id
        - closed_by_display_name
        - close_reason
        - close_message
        - zabbix_event_id
        - host_display_name
        - host_connection
        - trigger_expression
        - resolved_trigger_expression
        - items
        - tags
        - followers
      type: object
    LengthAwarePageIncidentResource:
      additionalProperties: false
      properties:
        items:
          description: The records in this page
          items:
            $ref: '#/components/schemas/IncidentResource'
          type: array
        limit:
          description: Maximum records per page, echoing the request
          format: int64
          type: integer
        offset:
          description: Number of records skipped, echoing the request
          format: int64
          type: integer
        total:
          description: Total number of matches, not just this page
          format: int64
          type: integer
      required:
        - items
        - total
        - limit
        - offset
      type: object
    AcknowledgeIncidentRequestBody:
      additionalProperties: false
      properties:
        message:
          description: Also written to the acknowledgement record in the monitoring system
          maxLength: 2000
          type: string
      type: object
    AssignIncidentRequestBody:
      additionalProperties: false
      properties:
        assignee_display_name:
          description: Defaults to the user id. The timeline keeps a copy of the name as it was at the time
          maxLength: 255
          type: string
        assignee_user_id:
          maxLength: 255
          type: string
      type: object
    CloseIncidentRequestBody:
      additionalProperties: false
      properties:
        message:
          description: Required when `reason` is OTHER; the request is rejected otherwise
          maxLength: 2000
          type: string
        reason:
          enum:
            - RECOVERED
            - FIXED
            - FALSE_POSITIVE
            - DUPLICATE
            - NO_ACTION_REQUIRED
            - ACCEPTED_RISK
            - OTHER
          type: string
      required:
        - reason
      type: object
    AddCommentRequestBody:
      additionalProperties: false
      properties:
        message:
          maxLength: 2000
          minLength: 1
          type: string
      required:
        - message
      type: object
    IncidentActivityResource:
      additionalProperties: false
      properties:
        activity_type:
          enum:
            - OPENED
            - RECOVERED
            - ACKNOWLEDGED
            - ASSIGNED
            - UNASSIGNED
            - FOLLOWER_ADDED
            - FOLLOWER_REMOVED
            - COMMENT
            - CLOSED
            - REOPENED
          type: string
        actor_display_name:
          type: string
        actor_user_id:
          description: The operator. Empty when the source is SYSTEM or ZABBIX
          type: string
        close_reason:
          type: string
        id:
          format: uuid
          type: string
        incident_id:
          format: uuid
          type: string
        message:
          type: string
        occurred_at:
          format: date-time
          type: string
        source:
          enum:
            - SYSTEM
            - OPERATOR
            - ZABBIX
          type: string
        subject_display_name:
          type: string
        subject_user_id:
          description: The user who was assigned, or removed from the followers
          type: string
      required:
        - id
        - incident_id
        - activity_type
        - source
        - message
        - actor_user_id
        - actor_display_name
        - subject_user_id
        - subject_display_name
        - close_reason
        - occurred_at
      type: object
    SetFollowingRequestBody:
      additionalProperties: false
      properties:
        following:
          type: boolean
      required:
        - following
      type: object
    CursorPageIncidentActivityResource:
      additionalProperties: false
      properties:
        items:
          description: The records in this page
          items:
            $ref: '#/components/schemas/IncidentActivityResource'
          type: array
        next_cursor:
          description: Cursor for the next page. Empty means the end has been reached
          type: string
      required:
        - items
        - next_cursor
      type: object
    MaintenancePeriodResource:
      additionalProperties: false
      properties:
        duration_seconds:
          format: int64
          type: integer
        every:
          description: 'DAILY and WEEKLY: every N days or every N weeks'
          format: int64
          type: integer
        kind:
          enum:
            - ONCE
            - DAILY
            - WEEKLY
          type: string
        start_time_seconds:
          description: 'DAILY and WEEKLY: seconds from midnight, in the timezone of the window'
          format: int64
          type: integer
        starts_at:
          description: Present only for ONCE
          format: date-time
          type:
            - string
            - 'null'
        weekdays:
          description: 'WEEKLY: bitmap of weekdays, **Monday is the lowest bit**'
          format: int64
          type: integer
      required:
        - kind
        - starts_at
        - start_time_seconds
        - duration_seconds
        - every
        - weekdays
      type: object
    MaintenanceWindowResource:
      additionalProperties: false
      properties:
        active_since:
          format: date-time
          type: string
        active_till:
          format: date-time
          type: string
        description:
          type: string
        last_error:
          type: string
        name:
          type: string
        period:
          $ref: '#/components/schemas/MaintenancePeriodResource'
        project_id:
          format: uuid
          type: string
        server_ids:
          description: Empty covers the **entire project**
          items:
            type: string
          type:
            - array
            - 'null'
        sync_status:
          enum:
            - PENDING
            - ACTIVE
            - FAILED
            - EXPIRED
          type: string
        timezone:
          type: string
        window_id:
          format: uuid
          type: string
      required:
        - window_id
        - project_id
        - name
        - description
        - active_since
        - active_till
        - timezone
        - server_ids
        - period
        - sync_status
        - last_error
      type: object
    MaintenanceWindowListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/MaintenanceWindowResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    MaintenancePeriodRequest:
      additionalProperties: false
      properties:
        duration_seconds:
          format: int64
          minimum: 0
          type: integer
        every:
          description: 'DAILY and WEEKLY: every N days or every N weeks'
          format: int64
          minimum: 0
          type: integer
        kind:
          enum:
            - ONCE
            - DAILY
            - WEEKLY
          type: string
        start_time_seconds:
          description: 'DAILY and WEEKLY: seconds from midnight, in the timezone of the window'
          format: int64
          maximum: 86399
          minimum: 0
          type: integer
        starts_at:
          description: Used only by ONCE
          format: date-time
          type: string
        weekdays:
          description: 'WEEKLY: bitmap of weekdays, **Monday is the lowest bit**'
          format: int64
          maximum: 127
          minimum: 0
          type: integer
      required:
        - kind
      type: object
    PutMaintenanceWindowRequestBody:
      additionalProperties: false
      properties:
        active_since:
          description: Start of the period in which the rule is effective
          format: date-time
          type: string
        active_till:
          format: date-time
          type: string
        description:
          maxLength: 2000
          type: string
        name:
          maxLength: 128
          minLength: 1
          type: string
        period:
          $ref: '#/components/schemas/MaintenancePeriodRequest'
        server_ids:
          items:
            type: string
          type:
            - array
            - 'null'
        timezone:
          description: IANA name such as Asia/Shanghai. Empty uses the configured default
          maxLength: 64
          type: string
      required:
        - name
        - active_since
        - active_till
        - period
      type: object
    CountResource:
      additionalProperties: false
      properties:
        count:
          format: int64
          type: integer
        key:
          type: string
      required:
        - key
        - count
      type: object
    ProjectOverviewResource:
      additionalProperties: false
      properties:
        monitored_servers:
          format: int64
          type: integer
        problem_counts:
          items:
            $ref: '#/components/schemas/CountResource'
          type:
            - array
            - 'null'
        reachability_counts:
          items:
            $ref: '#/components/schemas/CountResource'
          type:
            - array
            - 'null'
        total_servers:
          format: int64
          type: integer
      required:
        - total_servers
        - monitored_servers
        - reachability_counts
        - problem_counts
      type: object
    ItemResource:
      additionalProperties: false
      properties:
        item_id:
          type: string
        key:
          type: string
        last_collected_at:
          format: date-time
          type:
            - string
            - 'null'
        last_value:
          type: string
        name:
          type: string
        tags:
          items:
            $ref: '#/components/schemas/TagResource'
          type:
            - array
            - 'null'
        units:
          type: string
        value_type:
          enum:
            - FLOAT
            - CHARACTER
            - LOG
            - UNSIGNED
            - TEXT
          type: string
      required:
        - item_id
        - key
        - name
        - units
        - value_type
        - last_value
        - last_collected_at
        - tags
      type: object
    ItemListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/ItemResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    MetricPointResource:
      additionalProperties: false
      properties:
        max_value:
          format: double
          type: number
        min_value:
          format: double
          type: number
        timestamp:
          format: date-time
          type: string
        value:
          format: double
          type: number
      required:
        - timestamp
        - value
        - min_value
        - max_value
      type: object
    MetricSeriesResource:
      additionalProperties: false
      properties:
        item_id:
          type: string
        item_key:
          type: string
        item_name:
          type: string
        points:
          items:
            $ref: '#/components/schemas/MetricPointResource'
          type:
            - array
            - 'null'
        units:
          type: string
      required:
        - item_id
        - item_key
        - item_name
        - units
        - points
      type: object
    ItemThresholdResource:
      additionalProperties: false
      properties:
        aggregation_function:
          type: string
        evaluation_window_seconds:
          format: int64
          type: integer
        item_id:
          type: string
        operator:
          type: string
        severity:
          type: string
        threshold:
          format: double
          type: number
        trigger_name:
          description: Labels the line in the chart legend
          type: string
      required:
        - item_id
        - threshold
        - operator
        - severity
        - trigger_name
        - aggregation_function
        - evaluation_window_seconds
      type: object
    MetricResponseBody:
      additionalProperties: false
      properties:
        downsampled:
          type: boolean
        effective_from:
          format: date-time
          type: string
        effective_to:
          format: date-time
          type: string
        from_trends:
          description: Data comes from hourly aggregates, one point per hour
          type: boolean
        series:
          items:
            $ref: '#/components/schemas/MetricSeriesResource'
          type:
            - array
            - 'null'
        thresholds:
          items:
            $ref: '#/components/schemas/ItemThresholdResource'
          type:
            - array
            - 'null'
        truncated:
          type: boolean
      required:
        - series
        - from_trends
        - truncated
        - downsampled
        - effective_from
        - effective_to
        - thresholds
      type: object
    HostInterfaceResource:
      additionalProperties: false
      properties:
        available:
          type: boolean
        dns:
          type: string
        ip:
          type: string
        port:
          format: int64
          type: integer
        use_ip:
          type: boolean
      required:
        - ip
        - dns
        - port
        - use_ip
        - available
      type: object
    ServerResourcesResource:
      additionalProperties: false
      properties:
        interfaces:
          items:
            $ref: '#/components/schemas/HostInterfaceResource'
          type:
            - array
            - 'null'
        inventory:
          additionalProperties:
            type: string
          description: 'Hardware and system inventory collected automatically: CPU, memory, operating system and so on'
          type: object
        tags:
          items:
            $ref: '#/components/schemas/TagResource'
          type:
            - array
            - 'null'
      required:
        - inventory
        - interfaces
        - tags
      type: object
    SnapshotResource:
      additionalProperties: false
      properties:
        agent_error:
          type: string
        agent_reachability:
          description: AGENT_DOWN means the agent is unreachable while the machine is still alive; UNREACHABLE means neither can be established
          enum:
            - UNKNOWN
            - REACHABLE
            - AGENT_DOWN
            - UNREACHABLE
          type: string
        last_collected_at:
          format: date-time
          type:
            - string
            - 'null'
        monitoring_enabled:
          type: boolean
        problem_counts:
          items:
            $ref: '#/components/schemas/CountResource'
          type:
            - array
            - 'null'
      required:
        - agent_reachability
        - agent_error
        - monitoring_enabled
        - last_collected_at
        - problem_counts
      type: object
    TopItemResource:
      additionalProperties: false
      properties:
        item_key:
          type: string
        server_id:
          format: uuid
          type: string
        units:
          type: string
        value:
          format: double
          type: number
      required:
        - server_id
        - item_key
        - units
        - value
      type: object
    TopItemListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/TopItemResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    ServerTemplateResource:
      additionalProperties: false
      properties:
        configured_secret_parameters:
          items:
            type: string
          type:
            - array
            - 'null'
        parameters:
          additionalProperties:
            type: string
          type: object
        template_key:
          type: string
        zabbix_template_id:
          type: string
        zabbix_template_name:
          type: string
      required:
        - template_key
        - zabbix_template_id
        - zabbix_template_name
        - parameters
        - configured_secret_parameters
      type: object
    ServerResource:
      additionalProperties: false
      properties:
        address:
          type: string
        address_kind:
          enum:
            - ip
            - dns
          type: string
        agent_mode:
          enum:
            - PASSIVE
            - ACTIVE
          type: string
        agent_port:
          format: int64
          type: integer
        created_at:
          format: date-time
          type: string
        description:
          type: string
        id:
          format: uuid
          type: string
        last_error:
          type: string
        monitoring_status:
          description: Consult `last_error` when this is FAILED
          enum:
            - PENDING
            - ACTIVE
            - DISABLED
            - FAILED
          type: string
        name:
          type: string
        project_id:
          format: uuid
          type: string
        templates:
          items:
            $ref: '#/components/schemas/ServerTemplateResource'
          type:
            - array
            - 'null'
        updated_at:
          format: date-time
          type: string
        zabbix_host_name:
          description: The Hostname in the agent configuration must match this value; active checks identify the machine by it
          type: string
      required:
        - id
        - project_id
        - name
        - description
        - address_kind
        - address
        - agent_port
        - agent_mode
        - monitoring_status
        - last_error
        - zabbix_host_name
        - templates
        - created_at
        - updated_at
      type: object
    LengthAwarePageServerResource:
      additionalProperties: false
      properties:
        items:
          description: The records in this page
          items:
            $ref: '#/components/schemas/ServerResource'
          type: array
        limit:
          description: Maximum records per page, echoing the request
          format: int64
          type: integer
        offset:
          description: Number of records skipped, echoing the request
          format: int64
          type: integer
        total:
          description: Total number of matches, not just this page
          format: int64
          type: integer
      required:
        - items
        - total
        - limit
        - offset
      type: object
    TemplateBindingRequest:
      additionalProperties: false
      properties:
        parameters:
          additionalProperties:
            type: string
          description: Parameters declared by the template. Secret parameters are supplied in clear text and returned by name only
          type: object
        template_key:
          enum:
            - LINUX
            - SYSTEMD
            - DOCKER
            - ICMP_PING
            - NGINX
            - PHP_FPM
            - WEBSITE_CERTIFICATE
            - WINDOWS
            - SMART
            - NVIDIA
            - PROXMOX_VE
          type: string
      required:
        - template_key
      type: object
    EnableMonitoringRequestBody:
      additionalProperties: false
      properties:
        address:
          minLength: 1
          maxLength: 255
          type: string
        address_kind:
          enum:
            - ip
            - dns
          type: string
        agent_mode:
          description: Empty selects passive mode, which requires the least agent-side configuration
          enum:
            - PASSIVE
            - ACTIVE
          type: string
        agent_port:
          description: 0 uses the default of 10050
          format: int64
          maximum: 65535
          minimum: 0
          type: integer
        description:
          maxLength: 2000
          type: string
        name:
          maxLength: 128
          minLength: 1
          type: string
        template_bindings:
          items:
            $ref: '#/components/schemas/TemplateBindingRequest'
          type:
            - array
            - 'null'
      required:
        - name
        - address_kind
        - address
      type: object
    EnrollmentResource:
      additionalProperties: false
      properties:
        install_command:
          description: Includes the PSK. Like `tls_psk`, it is returned only this once
          type: string
        install_script_url:
          type: string
        tls_psk:
          description: '**Returned only this once**'
          type: string
        tls_psk_identity:
          type: string
        zabbix_host_name:
          type: string
        zabbix_server_address:
          description: The Server and ServerActive values for the agent configuration
          type: string
      required:
        - zabbix_host_name
        - zabbix_server_address
        - tls_psk_identity
        - tls_psk
        - install_script_url
        - install_command
      type: object
    ServerEnrollmentResponseBody:
      additionalProperties: false
      properties:
        enrollment:
          $ref: '#/components/schemas/EnrollmentResource'
        server:
          $ref: '#/components/schemas/ServerResource'
      required:
        - server
        - enrollment
      type: object
    UpdateServerRequestBody:
      additionalProperties: false
      properties:
        address:
          maxLength: 255
          type: string
        address_kind:
          description: Must be supplied together with `address` when changing the address
          enum:
            - ip
            - dns
          type: string
        agent_mode:
          description: Changing the collection mode rebinds every template to the corresponding variant
          enum:
            - PASSIVE
            - ACTIVE
          type: string
        agent_port:
          format: int64
          maximum: 65535
          minimum: 1
          type: integer
        description:
          maxLength: 2000
          type: string
        name:
          maxLength: 128
          minLength: 1
          type: string
        template_bindings:
          items:
            $ref: '#/components/schemas/TemplateBindingRequest'
          type: array
      type: object
    WebCheckResultResource:
      additionalProperties: false
      properties:
        checked_at:
          format: date-time
          type: string
        error:
          type: string
        failed_step:
          description: Index of the failed step, counting from 1. 0 when healthy
          format: int64
          type: integer
        healthy:
          type: boolean
        response_code:
          format: int64
          type: integer
        response_time_seconds:
          format: double
          type: number
      required:
        - healthy
        - failed_step
        - error
        - response_code
        - response_time_seconds
        - checked_at
      type: object
    WebCheckStepResource:
      additionalProperties: false
      properties:
        expected_status_codes:
          description: Status code expression, such as 200 or 200,301-302
          type: string
        follow_redirects:
          type: boolean
        name:
          type: string
        required_pattern:
          type: string
        url:
          type: string
      required:
        - name
        - url
        - expected_status_codes
        - required_pattern
        - follow_redirects
      type: object
    WebCheckResource:
      additionalProperties: false
      properties:
        check_id:
          format: uuid
          type: string
        interval_seconds:
          format: int64
          type: integer
        last_error:
          type: string
        response_time_threshold_seconds:
          format: int64
          type: integer
        result:
          anyOf:
            - $ref: '#/components/schemas/WebCheckResultResource'
            - type: 'null'
          description: null means the check has not completed a round yet. A zero value would present "not yet known" as "0 seconds, status code 0"
        retries:
          format: int64
          type: integer
        server_id:
          format: uuid
          type: string
        steps:
          items:
            $ref: '#/components/schemas/WebCheckStepResource'
          type:
            - array
            - 'null'
        sync_status:
          enum:
            - PENDING
            - ACTIVE
            - FAILED
          type: string
        timeout_seconds:
          format: int64
          type: integer
      required:
        - check_id
        - server_id
        - steps
        - interval_seconds
        - timeout_seconds
        - retries
        - response_time_threshold_seconds
        - sync_status
        - last_error
        - result
      type: object
    WebCheckStepRequest:
      additionalProperties: false
      properties:
        expected_status_codes:
          description: Status code expression, such as 200 or 200,301-302. Empty disables status code checking
          maxLength: 255
          type: string
        follow_redirects:
          type: boolean
        name:
          maxLength: 64
          type: string
        required_pattern:
          description: A string that must appear in the response body
          maxLength: 255
          type: string
        url:
          maxLength: 2048
          type: string
      required:
        - name
        - url
      type: object
    PutWebCheckRequestBody:
      additionalProperties: false
      properties:
        interval_seconds:
          description: 0 uses the default
          format: int64
          minimum: 0
          type: integer
        response_time_threshold_seconds:
          description: Slower than this counts as slow. 0 disables the response time check
          format: int64
          minimum: 0
          type: integer
        retries:
          format: int64
          minimum: 0
          type: integer
        steps:
          items:
            $ref: '#/components/schemas/WebCheckStepRequest'
          minItems: 1
          type:
            - array
            - 'null'
        timeout_seconds:
          format: int64
          minimum: 0
          type: integer
      required:
        - steps
      type: object
    WebCheckListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/WebCheckResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    SLIReportRowResource:
      additionalProperties: false
      properties:
        downtime_seconds:
          format: int64
          type: integer
        error_budget_seconds:
          description: A negative value means the budget for this period is already exhausted
          format: int64
          type: integer
        excluded_downtime_seconds:
          description: The portion excluded by planned maintenance
          format: int64
          type: integer
        period_from:
          format: date-time
          type: string
        period_to:
          format: date-time
          type: string
        server_id:
          description: Empty means this row covers the project as a whole
          type: string
        sli_percent:
          format: double
          type: number
        uptime_seconds:
          format: int64
          type: integer
      required:
        - server_id
        - period_from
        - period_to
        - sli_percent
        - uptime_seconds
        - downtime_seconds
        - error_budget_seconds
        - excluded_downtime_seconds
      type: object
    SLIReportResponseBody:
      additionalProperties: false
      properties:
        rows:
          items:
            $ref: '#/components/schemas/SLIReportRowResource'
          type:
            - array
            - 'null'
      required:
        - rows
      type: object
    ScheduleWindowResource:
      additionalProperties: false
      properties:
        end_time_seconds:
          format: int64
          type: integer
        start_time_seconds:
          format: int64
          type: integer
        weekdays:
          description: Bitmap of weekdays, **Monday is the lowest bit**, using the same encoding as maintenance windows
          format: int64
          type: integer
      required:
        - weekdays
        - start_time_seconds
        - end_time_seconds
      type: object
    SLOResource:
      additionalProperties: false
      properties:
        effective_from:
          format: date-time
          type: string
        last_error:
          type: string
        min_severity:
          enum:
            - ANY
            - INFORMATION
            - WARNING
            - AVERAGE
            - HIGH
            - DISASTER
          type: string
        name:
          type: string
        period:
          enum:
            - DAILY
            - WEEKLY
            - MONTHLY
            - QUARTERLY
            - ANNUALLY
          type: string
        project_id:
          format: uuid
          type: string
        schedule:
          description: Empty means a 24x7 commitment
          items:
            $ref: '#/components/schemas/ScheduleWindowResource'
          type:
            - array
            - 'null'
        slo_id:
          format: uuid
          type: string
        slo_percent:
          description: Target availability, such as 99.9
          format: double
          type: number
        sync_status:
          enum:
            - PENDING
            - ACTIVE
            - FAILED
          type: string
        timezone:
          type: string
      required:
        - slo_id
        - project_id
        - name
        - slo_percent
        - period
        - timezone
        - effective_from
        - schedule
        - min_severity
        - sync_status
        - last_error
      type: object
    ScheduleWindowRequest:
      additionalProperties: false
      properties:
        end_time_seconds:
          format: int64
          maximum: 86400
          minimum: 0
          type: integer
        start_time_seconds:
          format: int64
          maximum: 86400
          minimum: 0
          type: integer
        weekdays:
          description: Bitmap of weekdays, **Monday is the lowest bit** (1 = Monday … 64 = Sunday)
          format: int64
          maximum: 127
          minimum: 1
          type: integer
      required:
        - weekdays
      type: object
    PutSLORequestBody:
      additionalProperties: false
      properties:
        effective_from:
          format: date-time
          type: string
        min_severity:
          enum:
            - ANY
            - INFORMATION
            - WARNING
            - AVERAGE
            - HIGH
            - DISASTER
          type: string
        name:
          maxLength: 128
          minLength: 1
          type: string
        period:
          description: Empty selects monthly
          enum:
            - DAILY
            - WEEKLY
            - MONTHLY
            - QUARTERLY
            - ANNUALLY
          type: string
        schedule:
          items:
            $ref: '#/components/schemas/ScheduleWindowRequest'
          type:
            - array
            - 'null'
        slo_id:
          format: uuid
          type: string
        slo_percent:
          description: Target availability, such as 99.9. At most four decimal places
          format: double
          maximum: 100
          minimum: 0
          type: number
        timezone:
          description: Determines the boundaries of each reporting period, that is, the moment each period begins
          maxLength: 64
          type: string
      required:
        - slo_id
        - name
        - slo_percent
        - min_severity
      type: object
    StatusPageResource:
      additionalProperties: false
      properties:
        brand_color:
          description: '#RRGGBB'
          type: string
        created_at:
          format: date-time
          type: string
        custom_domain:
          description: The custom domain bound to this page. Empty means it is served only at /{slug} under the shared domain
          type: string
        footer_text:
          type: string
        headline:
          type: string
        logo_url:
          type: string
        name:
          type: string
        public_url:
          description: The current public address of this page. It is returned even while unpublished, in which case opening it returns 404
          type: string
        published:
          type: boolean
        search_engine_index:
[...]
