openapi: 3.1.0
info:
  title: Leaflow IAM 项目 API
  version: 1.0.0
  description: |-
    项目内部的事：成员、角色、邀请、SSH 公钥。

    这一面用**项目令牌**，它同时说清当前用户和当前项目 —— 所以路径上不带 projectId，
    当前项目由令牌断言，不从路径取。换令牌在账号 API 那一份。

    `GET /api/v1/membership` 返回的是这个人在当前项目里持有哪些角色和权限，不返回
    「能否执行某个操作」的结论 —— 那需要一份「哪个操作要哪条权限」的对照表，而它由各个服务分别声明。
servers:
  - url: https://iam.leaflow.cloud
    description: Members, roles, invitations and SSH keys within a project
security:
  - bearerAuth: []
paths:
  /api/v1/permissions:
    get:
      summary: 列出全平台可授予的权限
      description: 各服务在启动时把自己那份目录注册进 IAM（和 AddFinalizer 同一段代码），所以这里是一份汇总，不只是 IAM 自己那几条。**IAM 不用它做判定**——判定在各服务自己那边，拿 Grant 配它自己那份目录算；这份汇总只是让界面画得出勾选框，它落后一个版本只会让界面上少几条可选项，不会让判定出错。一个还没启动过的服务，它的权限不在这里。
      operationId: list-permissions
      tags:
        - Project
      security: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/project:
    delete:
      summary: 删除项目
      description: 只有所有者能做，而且没有回头路：项目进入 DELETING，各服务开始清掉它下面的资源。项目行本身永远留着——查一个删掉的项目查得到，答案是它没了，而不是一个 404。
      operationId: delete-project
      tags:
        - Project
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectAccessResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: 查看一个项目
      description: 在项目里就看得到，不需要额外的读权限。
      operationId: get-project
      tags:
        - Project
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectAccessResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: 改项目的名称与描述
      operationId: update-project
      tags:
        - Project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectAccessResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/membership:
    get:
      summary: 查看我在这个项目里的身份
      description: 只给事实，不给结论：这里没有 allowed，因为 IAM 不知道你要做的是哪个操作——哪个操作需要哪条权限那份目录属于各个服务，判断在它们那边。
      operationId: get-project-membership
      tags:
        - Project
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/invitations:
    get:
      summary: 列出这个项目还在等的要约
      description: 在项目里就看得到，和成员列表同一条规则：谁被请了也是「这个项目有谁」的一部分。
      operationId: list-project-invitations
      tags:
        - Invitation
      parameters:
        - description: 这一页最多返回多少条
          explode: false
          in: query
          name: limit
          schema:
            default: 50
            description: 这一页最多返回多少条
            format: int64
            maximum: 100
            minimum: 1
            type: integer
        - description: 跳过多少条。要翻得更深请改用游标翻页的接口
          explode: false
          in: query
          name: offset
          schema:
            description: 跳过多少条。要翻得更深请改用游标翻页的接口
            format: int64
            maximum: 10000
            minimum: 0
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LengthAwarePageInvitationResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: 发出一份邀请
      description: 要约站 14 天。有上限是因为里面那些角色是按发出那一刻的项目校验的，一份活得比它所依据的安排还久的要约会授出现在没人打算授的权限。
      operationId: issue-invitation
      tags:
        - Invitation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueInvitationRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedInvitationResponseBody'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/invitations/{invitationId}:
    delete:
      summary: 撤回一份还没被兑现的要约
      operationId: revoke-invitation
      tags:
        - Invitation
      parameters:
        - in: path
          name: invitationId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/members:batchGet:
    post:
      summary: Resolve members by id, including those who have left
      description: >-
        Resolves a set of account ids to the people behind them, scoped to the current project and
        **including members who have since left it**.


        This is what turns the ids held elsewhere in the product — who created a machine, who
        performed a logged operation — into names. The current member list cannot answer for
        somebody who has left, and those rows are exactly the ones a reader most often needs
        explained.


        Only ids that have belonged to the current project resolve; anything else is omitted, as
        are ids that do not resolve at all. Match the response against the request by id; the order
        is not significant.
      operationId: batch-get-members
      tags:
        - Member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetMembersRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetMembersResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/members:
    get:
      summary: 列出项目成员
      operationId: list-members
      tags:
        - Member
      parameters:
        - description: 这一页最多返回多少条
          explode: false
          in: query
          name: limit
          schema:
            default: 50
            description: 这一页最多返回多少条
            format: int64
            maximum: 100
            minimum: 1
            type: integer
        - description: 跳过多少条。要翻得更深请改用游标翻页的接口
          explode: false
          in: query
          name: offset
          schema:
            description: 跳过多少条。要翻得更深请改用游标翻页的接口
            format: int64
            maximum: 10000
            minimum: 0
            type: integer
        - description: 按用户 ID、邮箱或姓名模糊匹配
          explode: false
          in: query
          name: keyword
          schema:
            description: 按用户 ID、邮箱或姓名模糊匹配
            maxLength: 255
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LengthAwarePageMemberResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/members/{userId}:
    delete:
      summary: 移除成员，或者自己退出
      description: 移除别人要 iam:members.manage；退出只要求自己在这个项目里——任何人都可能被拉进一个项目，那么任何人就得能出去。所有者两条路都不行，先转移所有权。
      operationId: remove-member
      tags:
        - Member
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            maxLength: 255
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/members/{userId}/roles:
    put:
      summary: 设置一个成员持有的角色
      description: 整体替换而不是增删：调用方拿到的就是一份完整清单，让它自己算差集只会让「我以为我取消了那个角色」这种事变得可能。所有者身上的 OWNER 不受影响。
      operationId: set-member-roles
      tags:
        - Member
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            maxLength: 255
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMemberRolesRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/members/{userId}/permissions:
    put:
      summary: 设置一个成员直挂的权限
      description: 整体替换基础策略上直挂的那些权限。直挂让「给某个人临时开一条」不必先造一个只有他一个人持有的角色，但它不会随角色调整而更新，所以它适合一次性的、说得出理由的授予——角色仍然是主要的组织方式。要 iam:members.manage。
      operationId: set-member-permissions
      tags:
        - Member
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            maxLength: 255
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMemberPermissionsRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/policies:
    get:
      summary: 列出这个项目里的策略
      description: 在项目里就看得到，和成员列表同一条规则：谁被授了什么也是「这个项目有谁」的一部分。
      operationId: list-policies
      tags:
        - Policy
      parameters:
        - description: 只看这个人身上的。不传表示整个项目的
          explode: false
          in: query
          name: userId
          schema:
            description: 只看这个人身上的。不传表示整个项目的
            maxLength: 255
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: 附加一条策略
      description: 它建的是**附加**策略——要么带资源范围，要么方向是 deny。一条不限资源的 allow 是基础策略，每个成员只有一条，改它走 set-member-roles 和 set-member-permissions。roles 里不能有 OWNER 或 ADMIN：它们是规则而不是权限集合，「限定在三台机器上的所有者」讲不通。要 iam:members.manage。
      operationId: attach-policy
      tags:
        - Policy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachPolicyRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/policies/{policyId}:
    delete:
      summary: 摘掉一条策略
      description: 基础策略摘不掉——它是这个成员角色的落点，删了它这个人就不再持有任何角色，而「让他离开这个项目」是 remove-member 的事。要 iam:members.manage。
      operationId: detach-policy
      tags:
        - Policy
      parameters:
        - in: path
          name: policyId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: 查看一条策略
      description: 和 list-policies 同一条规则，在项目里就看得到：谁被授了什么也是「这个项目有谁」的一部分，读它不需要额外的权限。
      operationId: get-policy
      tags:
        - Policy
      parameters:
        - in: path
          name: policyId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    put:
      summary: 改一条策略
      description: 整体替换而不是逐字段改：resources、roles、permissions 各自整份覆盖，没发的那份就是空的——只有「这就是这条策略现在的全貌」这一种语义说得清一次写入到底收回了什么。改不动的是策略的**种类**：基础策略（不限资源的 allow）加不上资源范围，这个成员的角色就存在它上面，给它加个范围等于让他在别的资源上什么都不是；一条带范围的策略反过来也不能把范围清空变成基础策略，那个位置每个成员只有一条。要换种类就删了重建。要 iam:members.manage。
      operationId: update-policy
      tags:
        - Policy
      parameters:
        - in: path
          name: policyId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePolicyRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/transfer-ownership:
    post:
      summary: 转移项目所有权
      description: OWNER 唯一的移动方式，只有所有者本人能发起——能像普通角色那样授予的话，任何管理员都可以顺手把自己变成所有者。
      operationId: transfer-project-ownership
      tags:
        - Member
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OwnershipTransferResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/roles:
    get:
      summary: 列出项目里的角色
      operationId: list-roles
      tags:
        - Role
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleListResponseBody'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: 建一个角色
      operationId: create-role
      tags:
        - Role
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/roles/{code}:
    delete:
      summary: 删一个角色
      description: 还有人持有时会被拒。级联摘掉那些绑定等于把每个持有者悄悄降级——请求里没有一个字说了这件事，事后也查不到。
      operationId: delete-role
      tags:
        - Role
      parameters:
        - in: path
          name: code
          required: true
          schema:
            maxLength: 64
            type: string
      responses:
        '204':
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: 查看一个角色
      operationId: get-role
      tags:
        - Role
      parameters:
        - in: path
          name: code
          required: true
          schema:
            maxLength: 64
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    put:
      summary: 改一个角色
      description: 名称、描述和权限整体替换。改完会在同一个事务里重新编译持有它的每一个成员——角色的权限变了，就是那些人的权限变了，而下一次请求是拿编译结果判定的。
      operationId: update-role
      tags:
        - Role
      parameters:
        - in: path
          name: code
          required: true
          schema:
            maxLength: 64
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/ssh-keys:
    get:
      summary: 列出这个项目的公钥
      description: 归成员的和归项目的都在里面，靠每一条上的 owner_user_id 区分。
      operationId: list-ssh-keys
      tags:
        - SSHKey
      parameters:
        - description: 这一页最多返回多少条
          explode: false
          in: query
          name: limit
          schema:
            default: 50
            description: 这一页最多返回多少条
            format: int64
            maximum: 100
            minimum: 1
            type: integer
        - description: 跳过多少条。要翻得更深请改用游标翻页的接口
          explode: false
          in: query
          name: offset
          schema:
            description: 跳过多少条。要翻得更深请改用游标翻页的接口
            format: int64
            maximum: 10000
            minimum: 0
            type: integer
        - description: 不传时两种都返回
          explode: false
          in: query
          name: status
          schema:
            description: 不传时两种都返回
            enum:
              - ACTIVE
              - REVOKED
            type: string
        - description: 只列挂着这个用途的钥匙。平台自己生成的那把是 platform
          explode: false
          in: query
          name: purpose
          schema:
            description: 只列挂着这个用途的钥匙。平台自己生成的那把是 platform
            maxLength: 64
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LengthAwarePageSSHKeyResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    post:
      summary: 添加一把公钥
      description: owner=me 是自己的，是成员就能加；owner=project 是项目公用的，要 iam:ssh_keys.manage —— 它会进这个项目之后开出来的每一台机器。
      operationId: create-ssh-key
      tags:
        - SSHKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSSHKeyRequestBody'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKeyResource'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
  /api/v1/ssh-keys/{keyId}:
    delete:
      summary: 吊销一把公钥
      description: 行留着，状态变成 REVOKED。事故之后要问的是当时信任的是哪把钥匙。
      operationId: revoke-ssh-key
      tags:
        - SSHKey
      parameters:
        - in: path
          name: keyId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKeyResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    get:
      summary: 查看一把公钥
      operationId: get-ssh-key
      tags:
        - SSHKey
      parameters:
        - in: path
          name: keyId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKeyResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
    patch:
      summary: 给公钥改名
      description: 只有名字能改：公钥、类型、指纹是同一样东西的三种说法，改其中一个会让这一行描述一把并不存在的钥匙。
      operationId: rename-ssh-key
      tags:
        - SSHKey
      parameters:
        - in: path
          name: keyId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameSSHKeyRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKeyResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
components:
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      description: 项目令牌。先在 auth.leaflow.net 登录拿到账号令牌，再用它向 IAM 换取项目令牌（POST /account/v1/projects/{projectId}/token）——一张项目令牌同时说明当前用户和当前项目。
      scheme: bearer
      type: http
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    PermissionResource:
      additionalProperties: false
      properties:
        description:
          type: string
        name:
          type: string
        owner_only:
          description: 只有项目所有者能做，绑到自定义角色上也不会生效
          type: boolean
        resource_type:
          description: 这条权限的判定对象是哪类资源，空表示它是项目级的。**它不必等于操作对象本身**——compute 的 route 表上没有 project_id，隔离本来就经父网络传递，所以 compute:route.create 的判定对象是 compute:private_network。非空同时意味着这条权限可以被限定到具体实例；create 和 list 一律留空
          type: string
      required:
        - name
        - description
        - owner_only
        - resource_type
      type: object
    ResourceTypeResource:
      additionalProperties: false
      properties:
        description:
          type: string
        name:
          type: string
      required:
        - name
        - description
      type: object
    CatalogResource:
      additionalProperties: false
      properties:
        permissions:
          items:
            $ref: '#/components/schemas/PermissionResource'
          type:
            - array
            - 'null'
        resource_types:
          description: 这个服务声明的资源类型。带资源范围的规则只落得到它们上面——一个没有被声明过的类型没人认得，限定在它上面的规则谁都判不出来
          items:
            $ref: '#/components/schemas/ResourceTypeResource'
          type:
            - array
            - 'null'
        service:
          type: string
      required:
        - service
        - resource_types
        - permissions
      type: object
    CatalogListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/CatalogResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    ResourceRefResource:
      additionalProperties: false
      properties:
        id:
          description: 是字符串不是 uuid：dns 的 zone 标识是域名，而且不在 IAM 库里。匹配语义是 glob，所以 *.example.com 能表达一批子域名；uuid 和域名都不含 glob 元字符，对它们来说就是精确相等
          type: string
        type:
          description: 形如 compute:instance、dns:zone，和权限名同一个命名空间
          type: string
      required:
        - type
        - id
      type: object
    RuleResource:
      additionalProperties: false
      properties:
        effect:
          enum:
            - allow
            - deny
          type: string
        permissions:
          description: 权限名，支持尾部通配（compute:instance.*）。通配必须带服务前缀——一条光秃秃的 * 会把日后新上线的服务的操作也一起授出去，而那件事发生的时候没有任何人在场
          items:
            type: string
          type:
            - array
            - 'null'
        resources:
          description: 为空表示整个项目范围；非空表示这条规则只在这些资源上成立，而那意味着它回答不了项目级的问题
          items:
            $ref: '#/components/schemas/ResourceRefResource'
          type:
            - array
            - 'null'
      required:
        - effect
        - permissions
        - resources
      type: object
    GrantResource:
      additionalProperties: false
      properties:
        admin:
          type: boolean
        owner:
          type: boolean
        roles:
          description: 持有的角色编码，只用于展示
          items:
            type: string
          type:
            - array
            - 'null'
        rules:
          description: 他全部策略编译出来的规则。**不要自己遍历它做判定**——拿它配上自己那份权限目录交给 pkg/rbac：owner 不可被 deny、deny 优先于 admin、带资源范围的规则不参与项目级判定，那里面的顺序每一条都对着一种会静默放行的写法
          items:
            $ref: '#/components/schemas/RuleResource'
          type:
            - array
            - 'null'
      required:
        - owner
        - admin
        - rules
        - roles
      type: object
    ProjectResource:
      additionalProperties: false
      properties:
        ban_reason:
          type: string
        created_at:
          format: date-time
          type: string
        created_by:
          type: string
        deleted_at:
          description: 盖上墓碑的那一刻
          format: date-time
          type:
            - string
            - 'null'
        description:
          type: string
        id:
          format: uuid
          type: string
        name:
          type: string
        overdue_at:
          description: 欠费的起始时间
          format: date-time
          type:
            - string
            - 'null'
        status:
          enum:
            - ACTIVE
            - SUSPENDED
            - BANNED
            - DELETING
            - DELETED
          type: string
        status_reason:
          description: 给人看的，不参与任何查询
          type: string
        updated_at:
          format: date-time
          type: string
      required:
        - id
        - name
        - description
        - status
        - status_reason
        - ban_reason
        - overdue_at
        - deleted_at
        - created_by
        - created_at
        - updated_at
      type: object
    ProjectAccessResource:
      additionalProperties: false
      properties:
        grant:
          $ref: '#/components/schemas/GrantResource'
        project:
          $ref: '#/components/schemas/ProjectResource'
      required:
        - project
        - grant
      type: object
    UpdateProjectRequestBody:
      additionalProperties: false
      properties:
        description:
          maxLength: 2000
          type: string
        name:
          maxLength: 128
          type: string
      type: object
    MembershipResource:
      additionalProperties: false
      properties:
        grant:
          $ref: '#/components/schemas/GrantResource'
        member:
          type: boolean
        project_status:
          type: string
        user_status:
          type: string
      required:
        - member
        - grant
        - user_status
        - project_status
      type: object
    InvitationResource:
      additionalProperties: false
      properties:
        created_at:
          format: date-time
          type: string
        email:
          type: string
        expires_at:
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        invited_by:
          type: string
        project_id:
          format: uuid
          type: string
        roles:
          description: 兑现时会授予的角色编码
          items:
            type: string
          type:
            - array
            - 'null'
      required:
        - id
        - project_id
        - email
        - roles
        - invited_by
        - expires_at
        - created_at
      type: object
    LengthAwarePageInvitationResource:
      additionalProperties: false
      properties:
        items:
          description: 这一页的内容
          items:
            $ref: '#/components/schemas/InvitationResource'
          type: array
        limit:
          description: 这一页最多几条，回显请求里的值
          format: int64
          type: integer
        offset:
          description: 跳过了多少条，回显请求里的值
          format: int64
          type: integer
        total:
          description: 命中的总条数，不只是这一页
          format: int64
          type: integer
      required:
        - items
        - total
        - limit
        - offset
      type: object
    IssueInvitationRequestBody:
      additionalProperties: false
      properties:
        email:
          format: email
          maxLength: 320
          type: string
        roles:
          description: 兑现时授予的角色编码。必须是这个项目已经定义的，OWNER 不行
          items:
            type: string
          minItems: 1
          type:
            - array
            - 'null'
      required:
        - email
        - roles
      type: object
    IssuedInvitationResponseBody:
      additionalProperties: false
      properties:
        invitation:
          $ref: '#/components/schemas/InvitationResource'
        token:
          description: 兑现用的明文，**只在这一次响应里出现**。库里只有它的哈希，丢了只能撤销重发
          type: string
      required:
        - invitation
        - token
      type: object
    BatchGetMembersRequestBody:
      additionalProperties: false
      properties:
        ids:
          description: The account ids to resolve. Blank entries are ignored.
          items:
            maxLength: 255
            type: string
          maxItems: 100
          type: array
      required:
        - ids
      type: object
    BatchGetMembersResponseBody:
      additionalProperties: false
      properties:
        items:
          description: >-
            The people that resolved. Ids that never belonged to this project are absent, as are
            ids that do not resolve at all.
          items:
            $ref: '#/components/schemas/ResolvedMemberResource'
          type: array
      required:
        - items
      type: object
    ResolvedMemberResource:
      additionalProperties: false
      description: >-
        A person referred to by an id held elsewhere in the project. Carries who they are, not what
        they may do — a member who has left holds nothing, and this shape has no grant to say so.
      properties:
        avatar_hash:
          description: MD5 hash of the lowercased, trimmed email address, for use with Gravatar-compatible avatar services. Empty if the account has no email address.
          type: string
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        left:
          description: True when this person is no longer a member of the project.
          type: boolean
        user_id:
          type: string
      required:
        - user_id
        - email
        - first_name
        - last_name
        - avatar_hash
        - left
      type: object
    MemberResource:
      additionalProperties: false
      properties:
        avatar_hash:
          description: MD5 hash of the lowercased, trimmed email address, for use with Gravatar-compatible avatar services. Empty if the account has no email address.
          type: string
        created_at:
          format: date-time
          type: string
        created_by:
          type: string
        email:
          type: string
        first_name:
          type: string
        grant:
          $ref: '#/components/schemas/GrantResource'
        last_name:
          type: string
        user_id:
          type: string
      required:
        - user_id
        - email
        - first_name
        - last_name
        - avatar_hash
        - grant
        - created_by
        - created_at
      type: object
    LengthAwarePageMemberResource:
      additionalProperties: false
      properties:
        items:
          description: 这一页的内容
          items:
            $ref: '#/components/schemas/MemberResource'
          type: array
        limit:
          description: 这一页最多几条，回显请求里的值
          format: int64
          type: integer
        offset:
          description: 跳过了多少条，回显请求里的值
          format: int64
          type: integer
        total:
          description: 命中的总条数，不只是这一页
          format: int64
          type: integer
      required:
        - items
        - total
        - limit
        - offset
      type: object
    SetMemberRolesRequestBody:
      additionalProperties: false
      properties:
        roles:
          description: 这个人应当持有的**全部**角色编码。OWNER 不能出现在这里
          items:
            type: string
          type:
            - array
            - 'null'
      required:
        - roles
      type: object
    SetMemberPermissionsRequestBody:
      additionalProperties: false
      properties:
        permissions:
          description: 这个人应当直挂的**全部**权限名，整体替换。角色给的那些不在这里，也不会被这次写入碰到
          items:
            type: string
          type:
            - array
            - 'null'
      required:
        - permissions
      type: object
    PolicyResource:
      additionalProperties: false
      properties:
        base:
          description: 基础策略是方向 allow、不限资源的那一条，每个成员恰好一条，装的是他的常规角色。改它走 PUT /members/{userId}/roles 和 PUT /members/{userId}/permissions
          type: boolean
        created_at:
          format: date-time
          type: string
        description:
          description: 给人看的理由。一条附加策略事后最难回答的是「当初为什么开这一条」
          type: string
        effect:
          enum:
            - allow
            - deny
          type: string
        id:
          format: uuid
          type: string
        permissions:
          description: 直挂在这个人身上的权限名，不经过角色
          items:
            type: string
          type:
            - array
            - 'null'
        resources:
          description: 为空表示整个项目范围
          items:
            $ref: '#/components/schemas/ResourceRefResource'
          type:
            - array
            - 'null'
        roles:
          description: 这条策略带上的角色编码
          items:
            type: string
          type:
            - array
            - 'null'
        updated_at:
          format: date-time
          type: string
        user_id:
          type: string
      required:
        - id
        - user_id
        - effect
        - resources
        - roles
        - permissions
        - description
        - base
        - created_at
        - updated_at
      type: object
    PolicyListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/PolicyResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    AttachPolicyRequestBody:
      additionalProperties: false
      properties:
        description:
          description: 给人看的理由。一条附加策略事后最难回答的是「当初为什么开这一条」
          maxLength: 255
          type: string
        effect:
          enum:
            - allow
            - deny
          type: string
        permissions:
          description: 直挂的权限名，用它就不必为一个人临时造一个只有他持有的角色
          items:
            type: string
          type:
            - array
            - 'null'
        resources:
          description: 这条策略只在这些资源上成立。留空只有配合 deny 才讲得通——一条不限资源的 allow 是基础策略，那一条已经有了
          items:
            $ref: '#/components/schemas/ResourceRefResource'
          type:
            - array
            - 'null'
        roles:
          description: 必须是这个项目已经定义的角色。OWNER 和 ADMIN 不行——它们是规则而不是权限集合，「限定在三台机器上的所有者」讲不通
          items:
            type: string
          type:
            - array
            - 'null'
        user_id:
          minLength: 1
          description: 必须已经是这个项目的成员
          maxLength: 255
          type: string
      required:
        - user_id
        - effect
      type: object
    UpdatePolicyRequestBody:
      additionalProperties: false
      properties:
        description:
          description: 给人看的理由。它和这次改动一起替换，不然留下来的会是一句解释着上一个版本的话
          maxLength: 255
          type: string
        effect:
          description: 必须和这条策略当前的方向一致。方向改不动——那不是「改一条策略」，是一次意思完全相反的授权决定，改它的人多半以为自己在收紧，而读这行数据的下一个人看到的是一条方向和当初授予时不同、说明文字却还是旧的策略。仍然要求发这个字段而不是干脆不收，是因为整体替换的语义是「这就是这条策略现在的全貌」：少一个字段的话，调用方以为自己把 deny 改成了 allow，而服务端默默忽略了它。不一致时返回 PROJECT_POLICY_EFFECT_IMMUTABLE
          enum:
            - allow
            - deny
          type: string
        permissions:
          description: 直挂的权限名，整份替换。没列进来的就是被收回了——它不是往上加一条
          items:
            type: string
          type:
            - array
            - 'null'
        resources:
          description: 这条策略的资源范围，整份替换。范围内容能改，有没有范围改不了：基础策略加不上范围，带范围的也清不空——清空之后它就是基础策略的形状，而那个位置每个成员只有一条
          items:
            $ref: '#/components/schemas/ResourceRefResource'
          type:
            - array
            - 'null'
        roles:
          description: 必须是这个项目已经定义的角色，整份替换。和挂上去那次一样不能有 OWNER 或 ADMIN
          items:
            type: string
          type:
            - array
            - 'null'
      required:
        - effect
      type: object
    TransferOwnershipRequestBody:
      additionalProperties: false
      properties:
        to_user_id:
          minLength: 1
          description: 接手的人必须已经是这个项目的成员
          maxLength: 255
          type: string
      required:
        - to_user_id
      type: object
    OwnershipTransferResponseBody:
      additionalProperties: false
      properties:
        from:
          description: 原所有者。他保留其余的角色——转让的是所有权，不是把人踢出去
          $ref: '#/components/schemas/MemberResource'
        to:
          $ref: '#/components/schemas/MemberResource'
      required:
        - from
        - to
      type: object
    RoleResource:
      additionalProperties: false
      properties:
        builtin:
          description: 内置角色不可删、不可改权限：OWNER 和 ADMIN 的语义写在代码里
          type: boolean
        code:
          type: string
        created_at:
          format: date-time
          type: string
        description:
          type: string
        name:
          type: string
        permissions:
          items:
            type: string
          type:
            - array
            - 'null'
        updated_at:
          format: date-time
          type: string
      required:
        - code
        - name
        - description
        - builtin
        - permissions
        - created_at
        - updated_at
      type: object
    RoleListResponseBody:
      additionalProperties: false
      properties:
        items:
          items:
            $ref: '#/components/schemas/RoleResource'
          type:
            - array
            - 'null'
      required:
        - items
      type: object
    CreateRoleRequestBody:
      additionalProperties: false
      properties:
        code:
          minLength: 1
          description: 小写字母开头，可含数字和下划线。建好之后不能改——成员绑定和邀请都指着它
          maxLength: 64
          type: string
        description:
          maxLength: 255
          type: string
        name:
          minLength: 1
          maxLength: 64
          type: string
        permissions:
          description: 权限名。OwnerOnly 的那几条会被拒绝：绑上去也不会生效
          items:
            type: string
          type:
            - array
            - 'null'
      required:
        - code
        - name
      type: object
    UpdateRoleRequestBody:
      additionalProperties: false
      properties:
        description:
          maxLength: 255
          type: string
        name:
          minLength: 1
          maxLength: 64
          type: string
        permissions:
          items:
            type: string
          type:
            - array
            - 'null'
      required:
        - name
      type: object
    SSHKeyResource:
      additionalProperties: false
      properties:
        created_at:
          format: date-time
          type: string
        fingerprint:
          type: string
        has_private_key:
          description: 平台生成并保管的那把。它的私钥不对外提供
          type: boolean
        id:
          format: uuid
          type: string
        key_type:
          type: string
        name:
          type: string
        owner_user_id:
          description: 归属人；不给表示这把钥匙归项目本身
          type: string
        public_key:
          type: string
        purposes:
          description: 用途标签。平台自己生成的那把是 platform
          items:
            type: string
          type:
            - array
            - 'null'
        status:
          enum:
            - ACTIVE
            - REVOKED
          type: string
      required:
        - id
        - name
        - public_key
        - fingerprint
        - key_type
        - status
        - created_at
        - purposes
        - has_private_key
      type: object
    LengthAwarePageSSHKeyResource:
      additionalProperties: false
      properties:
        items:
          description: 这一页的内容
          items:
            $ref: '#/components/schemas/SSHKeyResource'
          type: array
        limit:
          description: 这一页最多几条，回显请求里的值
          format: int64
          type: integer
        offset:
          description: 跳过了多少条，回显请求里的值
          format: int64
          type: integer
        total:
          description: 命中的总条数，不只是这一页
          format: int64
          type: integer
      required:
        - items
        - total
        - limit
        - offset
      type: object
    CreateSSHKeyRequestBody:
      additionalProperties: false
      properties:
        name:
          minLength: 1
          maxLength: 128
          type: string
        owner:
          default: me
          description: 这把钥匙归谁
          enum:
            - me
            - project
          type: string
        public_key:
          minLength: 1
          description: OpenSSH 格式的公钥。类型和指纹从它算出来，都不可改
          maxLength: 16384
          type: string
        purposes:
          description: 用途标签，比如 ci、bastion
          items:
            type: string
          maxItems: 16
          type:
            - array
            - 'null'
      required:
        - name
        - public_key
      type: object
    RenameSSHKeyRequestBody:
      additionalProperties: false
      properties:
        name:
          minLength: 1
          maxLength: 128
          type: string
      required:
        - name
      type: object
