openapi: 3.1.0
info:
  title: Leaflow IAM API
  version: 1.0.0
  description: |-
    What happens inside a project: members, roles, invitations and SSH keys.

    Every request carries a scoped token; see the `bearerAuth` security scheme. No path carries a
    `projectId`, and the current project is the one the token states. Tokens are obtained from the
    account API.

    `GET /api/v1/membership` returns the roles and permissions the caller holds in the current
    project. It does not state whether a given operation is allowed; each service declares which permission its own operations require.
servers:
  - url: https://iam.leaflow.cloud
    description: Members, roles, invitations and SSH keys within a project
security:
  - bearerAuth: []
paths:
  /api/v1/permissions:
    get:
      summary: List every permission the platform can grant
      description: Each service registers its own catalogue with IAM at start-up, so this is the platform-wide list rather than the permissions of IAM alone. **IAM does not decide anything with it** — each service decides using the caller's grant together with its own catalogue, and this list only serves to render the choices. A service that has never started does not appear here.
      operationId: list-permissions
      tags:
        - Project
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/project:
    get:
      summary: Get a project
      description: Visible to any member; no further permission is required.
      operationId: get-project
      tags:
        - Project
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectAccessResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Update the name and description of a project
      operationId: update-project
      tags:
        - Project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectAccessResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a project
      description: Only the owner can do this, and it cannot be undone. The project enters DELETING and each service begins removing the resources under it. The project itself remains readable afterwards, answering that it is gone rather than 404.
      operationId: delete-project
      tags:
        - Project
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectAccessResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/membership:
    get:
      summary: Get the caller's standing in this project
      description: Facts rather than a conclusion. There is no `allowed` field here, because each service holds the catalogue mapping its operations to permissions and decides on its own.
      operationId: get-project-membership
      tags:
        - Project
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MembershipResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/invitations:
    get:
      summary: List the invitations this project is still waiting on
      description: Visible to any member, on the same rule as the member list. Who has been invited is part of who is in the project.
      operationId: list-project-invitations
      tags:
        - Invitation
      parameters:
        - name: limit
          in: query
          description: Maximum number of items in this page
          explode: false
          schema:
            description: Maximum number of items in this page
            type: integer
            format: int64
            default: 50
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of items to skip. Use the cursor-paged endpoint to page deeper
          explode: false
          schema:
            description: Number of items to skip. Use the cursor-paged endpoint to page deeper
            type: integer
            format: int64
            minimum: 0
            maximum: 10000
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LengthAwarePageInvitationResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Send an invitation
      description: An invitation stands for 14 days. The roles it carries are validated against the project as it stood when the invitation was sent, so it expires rather than outliving the arrangement it rests on.
      operationId: issue-invitation
      tags:
        - Invitation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueInvitationRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssuedInvitationResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/invitations/{invitationId}:
    delete:
      summary: Withdraw an invitation that has not been redeemed
      operationId: revoke-invitation
      tags:
        - Invitation
      parameters:
        - name: invitationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/members:batchGet:
    post:
      summary: Resolve members by id, including those who have left
      description: |-
        Resolves a set of account ids to the people behind them, scoped to the current project and **including members who have since left it**.

        This is what turns the ids held elsewhere in the product — who created a machine, who performed a logged operation — into names. The current member list cannot answer for somebody who has left, and those rows are exactly the ones a reader most often needs explained.

        Only ids that have belonged to the current project resolve; anything else is omitted, as are ids that do not resolve at all. Match the response against the request by id; the order is not significant.
      operationId: batch-get-members
      tags:
        - Member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchGetMembersRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchGetMembersResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/members:
    get:
      summary: List the members of a project
      operationId: list-members
      tags:
        - Member
      parameters:
        - name: limit
          in: query
          description: Maximum number of items in this page
          explode: false
          schema:
            description: Maximum number of items in this page
            type: integer
            format: int64
            default: 50
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of items to skip. Use the cursor-paged endpoint to page deeper
          explode: false
          schema:
            description: Number of items to skip. Use the cursor-paged endpoint to page deeper
            type: integer
            format: int64
            minimum: 0
            maximum: 10000
        - name: keyword
          in: query
          description: Matches against user id, email address or name
          explode: false
          schema:
            description: Matches against user id, email address or name
            type: string
            maxLength: 255
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LengthAwarePageMemberResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/members/{userId}:
    delete:
      summary: Remove a member, or leave the project
      description: Removing someone else requires `iam:members.manage`; leaving requires only membership of the project. The owner can do neither, and has to transfer ownership first.
      operationId: remove-member
      tags:
        - Member
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            maxLength: 255
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/members/{userId}/roles:
    put:
      summary: Set the roles a member holds
      description: The list is replaced in full rather than added to or removed from. The `OWNER` role of the owner is unaffected.
      operationId: set-member-roles
      tags:
        - Member
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetMemberRolesRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemberResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/members/{userId}/permissions:
    put:
      summary: Set the permissions attached directly to a member
      description: Replaces, in full, the permissions attached directly to the base policy. A direct permission grants one person something without creating a role only they hold, and it does not follow later changes to any role. Requires `iam:members.manage`.
      operationId: set-member-permissions
      tags:
        - Member
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetMemberPermissionsRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/policies:
    get:
      summary: List the policies in this project
      description: Visible to any member, on the same rule as the member list. What has been granted to whom is part of who is in the project.
      operationId: list-policies
      tags:
        - Policy
      parameters:
        - name: userId
          in: query
          description: Restricts the result to one person. Omitting it covers the whole project
          explode: false
          schema:
            description: Restricts the result to one person. Omitting it covers the whole project
            type: string
            maxLength: 255
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Attach a policy
      description: This creates an **additional** policy, which either carries a resource scope or has `deny` as its effect. An `allow` covering every resource is a base policy, of which each member holds exactly one, and it is changed with set-member-roles and set-member-permissions. `roles` cannot contain `OWNER` or `ADMIN`. Requires `iam:members.manage`.
      operationId: attach-policy
      tags:
        - Policy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachPolicyRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/policies/{policyId}:
    get:
      summary: Get a policy
      description: Visible to any member, on the same rule as list-policies; no further permission is required.
      operationId: get-policy
      tags:
        - Policy
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      summary: Update a policy
      description: Replaced in full rather than field by field — `resources`, `roles` and `permissions` are each overwritten, and an omitted one becomes empty. The **kind** of a policy cannot change — a base policy (an `allow` covering every resource) cannot take a resource scope, and a scoped policy cannot have its scope cleared. Delete and recreate to change the kind. Requires `iam:members.manage`.
      operationId: update-policy
      tags:
        - Policy
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePolicyRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Detach a policy
      description: A base policy cannot be detached; it is where a member's roles sit. Use remove-member to take someone out of the project. Requires `iam:members.manage`.
      operationId: detach-policy
      tags:
        - Policy
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/transfer-ownership:
    post:
      summary: Transfer ownership of a project
      description: The only way `OWNER` moves, and only the owner can initiate it.
      operationId: transfer-project-ownership
      tags:
        - Member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferOwnershipRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OwnershipTransferResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/roles:
    get:
      summary: List the roles in this project
      operationId: list-roles
      tags:
        - Role
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleListResponseBody"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Create a role
      operationId: create-role
      tags:
        - Role
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoleRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/roles/{code}:
    get:
      summary: Get a role
      operationId: get-role
      tags:
        - Role
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
            maxLength: 64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    put:
      summary: Update a role
      description: The name, the description and the permissions are replaced in full. Every member holding the role is recompiled in the same transaction, so the change takes effect on the next request.
      operationId: update-role
      tags:
        - Role
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRoleRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Delete a role
      description: Refused while anyone still holds it. Cascading the removal would quietly demote every holder.
      operationId: delete-role
      tags:
        - Role
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
            maxLength: 64
      responses:
        "204":
          description: No Content
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/ssh-keys:
    get:
      summary: List the SSH keys of this project
      description: Both the keys belonging to members and the keys belonging to the project are listed; the `owner_user_id` on each one tells them apart.
      operationId: list-ssh-keys
      tags:
        - SSHKey
      parameters:
        - name: limit
          in: query
          description: Maximum number of items in this page
          explode: false
          schema:
            description: Maximum number of items in this page
            type: integer
            format: int64
            default: 50
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of items to skip. Use the cursor-paged endpoint to page deeper
          explode: false
          schema:
            description: Number of items to skip. Use the cursor-paged endpoint to page deeper
            type: integer
            format: int64
            minimum: 0
            maximum: 10000
        - name: status
          in: query
          description: Both kinds are returned while this is absent
          explode: false
          schema:
            description: Both kinds are returned while this is absent
            type: string
            enum:
              - ACTIVE
              - REVOKED
        - name: purpose
          in: query
          description: Lists only the keys carrying this purpose. The key the platform generates carries `platform`
          explode: false
          schema:
            description: Lists only the keys carrying this purpose. The key the platform generates carries `platform`
            type: string
            maxLength: 64
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LengthAwarePageSSHKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    post:
      summary: Add an SSH key
      description: "`owner=me` adds a key of the caller's own, which any member may do. `owner=project` adds a key shared by the project, requires `iam:ssh_keys.manage`, and lands on every machine created in the project afterwards."
      operationId: create-ssh-key
      tags:
        - SSHKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSSHKeyRequestBody"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSHKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/v1/ssh-keys/{keyId}:
    get:
      summary: Get an SSH key
      operationId: get-ssh-key
      tags:
        - SSHKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSHKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      summary: Rename an SSH key
      description: Only the name can change. The key, its type and its fingerprint are three statements about one thing, and changing one of them would leave the row describing a key that does not exist.
      operationId: rename-ssh-key
      tags:
        - SSHKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenameSSHKeyRequestBody"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSHKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      summary: Revoke an SSH key
      description: The row remains and its status becomes `REVOKED`, so it stays answerable afterwards which key was trusted at the time.
      operationId: revoke-ssh-key
      tags:
        - SSHKey
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSHKeyResource"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    bearerAuth:
      $ref: ../../type/v1/security.yaml#/components/securitySchemes/ScopedToken
  schemas:
    Error:
      $ref: ../../type/v1/error.yaml#/components/schemas/Error
    PermissionResource:
      type: object
      properties:
        name:
          description: The code of the permission, such as compute:instance.delete. **There is no display name here** — what a permission reads as is localised, and translation belongs to the layer rendering it. Until a translation catches up, the code itself is what is shown
          type: string
        owner_only:
          description: Reserved for the project owner. Attaching it to a custom role has no effect
          type: boolean
        resource_type:
          description: The kind of resource this permission is decided against; empty means it is decided at project level. **It need not be the object being operated on** — a compute route carries no project_id and is isolated through its parent network, so compute:route.create is decided against compute:private_network. A non-empty value also means the permission can be scoped to particular instances; create and list are always empty
          type: string
      required:
        - name
        - owner_only
        - resource_type
      additionalProperties: false
    ResourceTypeResource:
      type: object
      properties:
        name:
          description: The code of the resource type, such as dns:zone. There is no display name here either; what it reads as is decided by the layer rendering it
          type: string
      required:
        - name
      additionalProperties: false
    CatalogResource:
      type: object
      properties:
        permissions:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/PermissionResource"
        resource_types:
          description: The resource types this service declares. A scoped rule can only land on one of them
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/ResourceTypeResource"
        service:
          type: string
      required:
        - service
        - resource_types
        - permissions
      additionalProperties: false
    CatalogListResponseBody:
      type: object
      properties:
        items:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/CatalogResource"
      required:
        - items
      additionalProperties: false
    ResourceRefResource:
      type: object
      properties:
        id:
          description: A string rather than a UUID; a DNS zone is named by its domain, which IAM does not hold. Matching is glob, so `*.example.com` covers a set of subdomains, while a value carrying no glob metacharacter matches exactly
          type: string
        type:
          description: Of the form compute:instance or dns:zone, in the same namespace as permission names
          type: string
      required:
        - type
        - id
      additionalProperties: false
    RuleResource:
      type: object
      properties:
        effect:
          type: string
          enum:
            - allow
            - deny
        permissions:
          description: A permission name, with a trailing wildcard supported (compute:instance.*). A wildcard must carry the service prefix; a bare wildcard would also grant the operations of services that go live later
          type:
            - array
            - "null"
          items:
            type: string
        resources:
          description: Empty means the rule holds across the whole project. A non-empty value means it holds only on those resources, and therefore answers no project-level question
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/ResourceRefResource"
      required:
        - effect
        - permissions
        - resources
      additionalProperties: false
    GrantResource:
      type: object
      properties:
        admin:
          type: boolean
        owner:
          type: boolean
        roles:
          description: The role codes held, for display only
          type:
            - array
            - "null"
          items:
            type: string
        rules:
          description: "**The rules compiled from every policy that applies. Do not walk them to reach a decision.** They are here to render what a user may do; each request is decided by the service handling it"
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/RuleResource"
      required:
        - owner
        - admin
        - rules
        - roles
      additionalProperties: false
    ProjectResource:
      type: object
      properties:
        ban_reason:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        deleted_at:
          description: When the project was deleted
          type:
            - string
            - "null"
          format: date-time
        description:
          type: string
        id:
          type: string
          format: uuid
        name:
          type: string
        status:
          type: string
          enum:
            - ACTIVE
            - SUSPENDED
            - BANNED
            - DELETING
            - DELETED
        status_reason:
          description: Written for a reader; it takes part in no query
          type: string
        updated_at:
          type: string
          format: date-time
      required:
        - id
        - name
        - description
        - status
        - status_reason
        - ban_reason
        - deleted_at
        - created_by
        - created_at
        - updated_at
      additionalProperties: false
    ProjectAccessResource:
      type: object
      properties:
        grant:
          $ref: "#/components/schemas/GrantResource"
        project:
          $ref: "#/components/schemas/ProjectResource"
      required:
        - project
        - grant
      additionalProperties: false
    UpdateProjectRequestBody:
      type: object
      properties:
        description:
          type: string
          maxLength: 2000
        name:
          type: string
          maxLength: 128
      additionalProperties: false
    MembershipResource:
      type: object
      properties:
        grant:
          $ref: "#/components/schemas/GrantResource"
        member:
          type: boolean
        project_status:
          type: string
        user_status:
          type: string
      required:
        - member
        - grant
        - user_status
        - project_status
      additionalProperties: false
    InvitationResource:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        email:
          type: string
        expires_at:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        invited_by:
          type: string
        project_id:
          type: string
          format: uuid
        roles:
          description: The role codes granted on redemption
          type:
            - array
            - "null"
          items:
            type: string
      required:
        - id
        - project_id
        - email
        - roles
        - invited_by
        - expires_at
        - created_at
      additionalProperties: false
    LengthAwarePageInvitationResource:
      type: object
      properties:
        items:
          description: The items in this page
          type: array
          items:
            $ref: "#/components/schemas/InvitationResource"
        limit:
          description: Maximum number of items in this page, echoing the request
          type: integer
          format: int64
        offset:
          description: Number of items skipped, echoing the request
          type: integer
          format: int64
        total:
          description: Total number of matches, not only this page
          type: integer
          format: int64
      required:
        - items
        - total
        - limit
        - offset
      additionalProperties: false
    IssueInvitationRequestBody:
      type: object
      properties:
        email:
          type: string
          format: email
          maxLength: 320
        roles:
          description: The role codes granted on redemption. Each must already be defined in this project, and `OWNER` is not accepted
          type:
            - array
            - "null"
          minItems: 1
          items:
            type: string
      required:
        - email
        - roles
      additionalProperties: false
    IssuedInvitationResponseBody:
      type: object
      properties:
        invitation:
          $ref: "#/components/schemas/InvitationResource"
        token:
          description: The token that redeems the invitation, **returned in this response only**. If it is lost, withdraw the invitation and send another
          type: string
      required:
        - invitation
        - token
      additionalProperties: false
    BatchGetMembersRequestBody:
      type: object
      properties:
        ids:
          description: The account ids to resolve. Blank entries are ignored.
          type: array
          maxItems: 100
          items:
            type: string
            maxLength: 255
      required:
        - ids
      additionalProperties: false
    BatchGetMembersResponseBody:
      type: object
      properties:
        items:
          description: The people that resolved. Ids that never belonged to this project are absent, as are ids that do not resolve at all.
          type: array
          items:
            $ref: "#/components/schemas/ResolvedMemberResource"
      required:
        - items
      additionalProperties: false
    ResolvedMemberResource:
      description: A person referred to by an id held elsewhere in the project. Carries who they are, not what they may do — a member who has left holds nothing, and this shape has no grant to say so.
      type: object
      properties:
        avatar_hash:
          description: MD5 hash of the lowercased, trimmed email address, for use with Gravatar-compatible avatar services. Empty if the account has no email address.
          type: string
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        left:
          description: True when this person is no longer a member of the project.
          type: boolean
        user_id:
          type: string
      required:
        - user_id
        - email
        - first_name
        - last_name
        - avatar_hash
        - left
      additionalProperties: false
    MemberResource:
      type: object
      properties:
        avatar_hash:
          description: MD5 hash of the lowercased, trimmed email address, for use with Gravatar-compatible avatar services. Empty if the account has no email address.
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        email:
          type: string
        first_name:
          type: string
        grant:
          $ref: "#/components/schemas/GrantResource"
        last_name:
          type: string
        user_id:
          type: string
      required:
        - user_id
        - email
        - first_name
        - last_name
        - avatar_hash
        - grant
        - created_by
        - created_at
      additionalProperties: false
    LengthAwarePageMemberResource:
      type: object
      properties:
        items:
          description: The items in this page
          type: array
          items:
            $ref: "#/components/schemas/MemberResource"
        limit:
          description: Maximum number of items in this page, echoing the request
          type: integer
          format: int64
        offset:
          description: Number of items skipped, echoing the request
          type: integer
          format: int64
        total:
          description: Total number of matches, not only this page
          type: integer
          format: int64
      required:
        - items
        - total
        - limit
        - offset
      additionalProperties: false
    SetMemberRolesRequestBody:
      type: object
      properties:
        roles:
          description: "**Every** role code this person is to hold. `OWNER` cannot appear here"
          type:
            - array
            - "null"
          items:
            type: string
      required:
        - roles
      additionalProperties: false
    SetMemberPermissionsRequestBody:
      type: object
      properties:
        permissions:
          description: "**Every** permission name to be attached directly to this person, replaced in full. The permissions a role grants are neither listed here nor touched by this write"
          type:
            - array
            - "null"
          items:
            type: string
      required:
        - permissions
      additionalProperties: false
    PolicyResource:
      type: object
      properties:
        base:
          description: The base policy is the one whose effect is `allow` and which covers every resource. Each member holds exactly one, and it carries their ordinary roles. Change it with PUT /members/{userId}/roles and PUT /members/{userId}/permissions
          type: boolean
        created_at:
          type: string
          format: date-time
        description:
          description: Why it was granted, written for a reader
          type: string
        effect:
          type: string
          enum:
            - allow
            - deny
        id:
          type: string
          format: uuid
        permissions:
          description: Permission names attached directly to this person, without passing through a role
          type:
            - array
            - "null"
          items:
            type: string
        resources:
          description: Empty means the whole project
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/ResourceRefResource"
        roles:
          description: The role codes this policy carries
          type:
            - array
            - "null"
          items:
            type: string
        updated_at:
          type: string
          format: date-time
        user_id:
          type: string
      required:
        - id
        - user_id
        - effect
        - resources
        - roles
        - permissions
        - description
        - base
        - created_at
        - updated_at
      additionalProperties: false
    PolicyListResponseBody:
      type: object
      properties:
        items:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/PolicyResource"
      required:
        - items
      additionalProperties: false
    AttachPolicyRequestBody:
      type: object
      properties:
        description:
          description: Why it was granted, written for a reader
          type: string
          maxLength: 255
        effect:
          type: string
          enum:
            - allow
            - deny
        permissions:
          description: Permission names attached directly, which avoids creating a role only one person holds
          type:
            - array
            - "null"
          items:
            type: string
        resources:
          description: The policy holds only on these resources. Leaving it empty makes sense only together with `deny`, since an `allow` covering every resource is the base policy, which already exists
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/ResourceRefResource"
        roles:
          description: Each must be a role already defined in this project. `OWNER` and `ADMIN` are not accepted, being rules rather than sets of permissions
          type:
            - array
            - "null"
          items:
            type: string
        user_id:
          description: Must already be a member of this project
          type: string
          minLength: 1
          maxLength: 255
      required:
        - user_id
        - effect
      additionalProperties: false
    UpdatePolicyRequestBody:
      type: object
      properties:
        description:
          description: Why it was granted, written for a reader. It is replaced together with the change, so that what remains does not explain an earlier version
          type: string
          maxLength: 255
        effect:
          description: Must match the current effect of the policy. The effect itself cannot be changed; delete the policy and create another instead. It is still required in the request because the write replaces the policy in full, and omitting it would let a caller believe an effect had been changed while the field was ignored. A mismatch answers PROJECT_POLICY_EFFECT_IMMUTABLE
          type: string
          enum:
            - allow
            - deny
        permissions:
          description: Permission names attached directly, replaced in full. Anything not listed is withdrawn rather than kept
          type:
            - array
            - "null"
          items:
            type: string
        resources:
          description: The resource scope of this policy, replaced in full. What the scope contains can change; whether the policy has one cannot. A base policy cannot take a scope, and a scoped policy cannot have its scope cleared
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/ResourceRefResource"
        roles:
          description: Each must be a role already defined in this project, replaced in full. As when attaching, `OWNER` and `ADMIN` are not accepted
          type:
            - array
            - "null"
          items:
            type: string
      required:
        - effect
      additionalProperties: false
    TransferOwnershipRequestBody:
      type: object
      properties:
        to_user_id:
          description: The recipient must already be a member of this project
          type: string
          minLength: 1
          maxLength: 255
      required:
        - to_user_id
      additionalProperties: false
    OwnershipTransferResponseBody:
      type: object
      properties:
        from:
          $ref: "#/components/schemas/MemberResource"
          description: The former owner, who keeps every other role held. Ownership is transferred rather than the person removed
        to:
          $ref: "#/components/schemas/MemberResource"
      required:
        - from
        - to
      additionalProperties: false
    RoleResource:
      type: object
      properties:
        builtin:
          description: A built-in role can be neither deleted nor have its permissions changed
          type: boolean
        code:
          type: string
        created_at:
          type: string
          format: date-time
        description:
          type: string
        name:
          type: string
        permissions:
          type:
            - array
            - "null"
          items:
            type: string
        updated_at:
          type: string
          format: date-time
      required:
        - code
        - name
        - description
        - builtin
        - permissions
        - created_at
        - updated_at
      additionalProperties: false
    RoleListResponseBody:
      type: object
      properties:
        items:
          type:
            - array
            - "null"
          items:
            $ref: "#/components/schemas/RoleResource"
      required:
        - items
      additionalProperties: false
    CreateRoleRequestBody:
      type: object
      properties:
        code:
          description: Begins with a lower-case letter and may contain digits and underscores. It cannot be changed once created, as member bindings and invitations refer to it
          type: string
          minLength: 1
          maxLength: 64
        description:
          type: string
          maxLength: 255
        name:
          type: string
          minLength: 1
          maxLength: 64
        permissions:
          description: A permission name. The ones reserved for the owner are refused, since attaching them would have no effect
          type:
            - array
            - "null"
          items:
            type: string
      required:
        - code
        - name
      additionalProperties: false
    UpdateRoleRequestBody:
      type: object
      properties:
        description:
          type: string
          maxLength: 255
        name:
          type: string
          minLength: 1
          maxLength: 64
        permissions:
          type:
            - array
            - "null"
          items:
            type: string
      required:
        - name
      additionalProperties: false
    SSHKeyResource:
      type: object
      properties:
        created_at:
          type: string
          format: date-time
        fingerprint:
          type: string
        has_private_key:
          description: The key the platform generates and holds. Its private key is not handed out
          type: boolean
        id:
          type: string
          format: uuid
        key_type:
          type: string
        name:
          type: string
        owner_user_id:
          description: Who the key belongs to. Absent means it belongs to the project itself
          type: string
        public_key:
          type: string
        purposes:
          description: A purpose label. The key the platform generates carries `platform`
          type:
            - array
            - "null"
          items:
            type: string
        status:
          type: string
          enum:
            - ACTIVE
            - REVOKED
      required:
        - id
        - name
        - public_key
        - fingerprint
        - key_type
        - status
        - created_at
        - purposes
        - has_private_key
      additionalProperties: false
    LengthAwarePageSSHKeyResource:
      type: object
      properties:
        items:
          description: The items in this page
          type: array
          items:
            $ref: "#/components/schemas/SSHKeyResource"
        limit:
          description: Maximum number of items in this page, echoing the request
          type: integer
          format: int64
        offset:
          description: Number of items skipped, echoing the request
          type: integer
          format: int64
        total:
          description: Total number of matches, not only this page
          type: integer
          format: int64
      required:
        - items
        - total
        - limit
        - offset
      additionalProperties: false
    CreateSSHKeyRequestBody:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
        owner:
          description: Who this key belongs to
          type: string
          enum:
            - me
            - project
          default: me
        public_key:
          description: The public key in OpenSSH format. The type and the fingerprint are derived from it and cannot be changed
          type: string
          minLength: 1
          maxLength: 16384
        purposes:
          description: A purpose label, such as ci or bastion
          type:
            - array
            - "null"
          maxItems: 16
          items:
            type: string
      required:
        - name
        - public_key
      additionalProperties: false
    RenameSSHKeyRequestBody:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 128
      required:
        - name
      additionalProperties: false
